#colorbox, #cboxOverlay, #cboxWrapper {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9999;

}
#cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    position: relative;
}
#cboxLoadedContent {
    overflow-x: auto;
    overflow-y: auto;
/*	
	background-image: url("images/cbxbg.png");
	height:423px;
*/
}
#cboxTitle {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}
.cboxPhoto {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    float: left;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.cboxIframe {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    height: 100%;
    width: 100%;
}

#cboxOverlay {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #787878;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

#colorbox {
}
#cboxTopLeft {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("images/controls.png");*/
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 14px;
    width: 14px;
}
#cboxTopCenter {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("images/border.png");*/
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat-x;
    background-size: auto auto;
    height: 14px;
}
#cboxTopRight {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("images/controls.png");*/
    background-origin: padding-box;
    background-position: -36px 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 14px;
    width: 14px;
}
#cboxBottomLeft {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("images/controls.png");*/
    background-origin: padding-box;
    background-position: 0 -32px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 43px;
    width: 14px;
}
#cboxBottomCenter {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("images/border.png");*/
    background-origin: padding-box;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: auto auto;
    height: 43px;
}
#cboxBottomRight {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("images/controls.png");*/
    background-origin: padding-box;
    background-position: -36px -32px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 43px;
    width: 14px;
}
#cboxMiddleLeft {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("images/controls.png");*/
    background-origin: padding-box;
    background-position: -175px 0;
    background-repeat: repeat-y;
    background-size: auto auto;
    width: 14px;
}
#cboxMiddleRight {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("images/controls.png");*/
    background-origin: padding-box;
    background-position: -211px 0;
    background-repeat: repeat-y;
    background-size: auto auto;
    width: 14px;
}
#cboxContent {
    background-attachment: scroll;
    background-clip: border-box;
    background-color:none;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    /*overflow-x: visible;
    overflow-y: visible;
	overflow: hidden;*/
}
.cboxIframe {
    background-attachment: scroll;
    background-clip: border-box;
    background-color:none;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
#cboxError {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCCCCC;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCCCCC;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 1px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
#cboxLoadedContent {
    margin-bottom: 5px;
}
#cboxLoadingOverlay {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/loading_background.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
}
#cboxLoadingGraphic {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/loading.gif");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
}
#cboxTitle {
    background-attachment: scroll;
    background-color:none;
    bottom: -34px;
    color: #212025;
    font-size: 15px;
    left: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 1px;
    position: absolute;
}
#cboxCurrent {
    bottom: -25px;
    color: #7C7C7C;
    display: none !important;
    font-weight: bold;
    position: absolute;
    right: 35px;
}
#cboxClose, #cboxSlideshow {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    /*background-image: url("images/controls.png");*/
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: 50%;
    height: 23px;
    position: absolute;
    text-indent: -9999px;
    width: 23px;
}
#cboxPrevious {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/prew.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 115px;
    left: -56px;
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    width: 100px;
}
#cboxPrevious:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/prew.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 115px;
    left: -56px;
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    width: 100px;
}
#cboxNext {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/next.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: right;
    height: 115px;
    position: absolute;
    right: -100px;
    text-indent: -9999px;
    top: 40%;
    width: 100px;
		
}
#cboxNext:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("images/next.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: right;
    height: 115px;
    position: absolute;
    right: -100px;
    text-indent: -9999px;
    top: 40%;
    width: 100px;
}
#cboxClose {
	/*right: 82px;
    top: 95px;*/
    right: 0px;
    top: 0px;
	background:url(/common/img/close_lk.gif) no-repeat right top;
}
#cboxClose:hover {
    /*background-position: -100px 0;*/
	background:url(/common/img/close_lk_black.gif)no-repeat right top;
}
.cboxSlideshow_on #cboxSlideshow {
    background-position: -125px 0;
    right: 27px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
    background-position: -150px 0;
}
.cboxSlideshow_off #cboxSlideshow {
    background-position: -150px -25px;
    right: 27px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
    background-position: -125px 0;
}

