/*
 * FCKeditor - The text editor for Internet - http://www.fckeditor.net
 * Copyright (C) 2003-2010 Frederico Caldeira Knabben
 *
 * == BEGIN LICENSE ==
 *
 * Licensed under the terms of any of the following licenses at your
 * choice:
 *
 *  - GNU General Public License Version 2 or later (the "GPL")
 *    http://www.gnu.org/licenses/gpl.html
 *
 *  - GNU Lesser General Public License Version 2.1 or later (the "LGPL")
 *    http://www.gnu.org/licenses/lgpl.html
 *
 *  - Mozilla Public License Version 1.1 or later (the "MPL")
 *    http://www.mozilla.org/MPL/MPL-1.1.html
 *
 * == END LICENSE ==
 *
 * This is the default CSS file used by the editor area. It defines the
 * initial font of the editor and background color.
 *
 * A user can configure the editor to use another CSS file. Just change
 * the value of the FCKConfig.EditorAreaCSS key in the configuration
 * file.
 */
/**
 * The "body" styles should match your editor web site, mainly regarding
 * background color and font family and size.
 */
body
{
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
	margin: 0px;
	width:450px;		
	font-family:Arial,Helvetica,sans-serif;
}

body, td
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

p{ margin-bottom:20px;}

/**
 * Just uncomment the following block if you want to avoid spaces between
 * paragraphs. Remember to apply the same style in your output front end page.
 */

/*
p, ul, li
{
	margin-top: 0px;
	margin-bottom: 0px;
}
*/
ul {
	padding-left: 20px;
	padding-bottom: 36px;
}

ul ul {
	padding-top:5px;
	padding-bottom: 0;
}

ul li {
	list-style-image: url(images/ul-li-image.jpg);
	list-style-position: outside;
	margin-left: 20px;
	padding-bottom: 8px;
}


table tr td {
	border-bottom: 1px solid #eaedee;
	padding-left: 12px;
}
table tr:hover {
	background-color: #eaedee;
}
table tfoot tr:hover {
	background-color: white;
}
table th {
	background-color: #0078ae;
	color: white;
	font-size: 12px;
	padding-left: 12px;
}
table td, table th {
	height: 26px;
	text-align: center;
}

table tfoot tr td {
	border-bottom: none;
	border-top: 1px solid #0078ae;
}
/**
 * Uncomment the following block, or only selected lines if appropriate,
 * if you have some style items that would break the styles combo box.
 * You can also write other CSS overrides inside the style block below
 * as needed and they will be applied to inside the style combo only.
 */

/*
.SC_Item *, .SC_ItemSelected *
{
	margin: 0px !important;
	padding: 0px !important;
	text-indent: 0px !important;
	clip: auto !important;
	position: static !important;
}
*/

/**
 * The following are some sample styles used in the "Styles" toolbar command.
 * You should instead remove them, and include the styles used by the site
 * you are using the editor in.
 */

.Bold
{
	font-weight: bold;
}

.Title
{
	font-weight: bold;
	font-size: 18px;
	color: #cc3300;
}

.Code
{
	border: #8b4513 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	background-color: #ff9933;
}

