.rel .bend_bg{position: absolute; right: -18px; bottom: -3px;}
.E-reception select{padding: 5px 2px 5px 5px; border-top: 1px solid #bcbebe; border-bottom:1px solid #e4e8e9; border-left:none; border-right:none;}
ol {padding-left:40px;margin-left:-15px;}
ol li {list-style-type: decimal; }
#wrapper {width:100%;}
#breadcrumb li {-ms-pseudo:':before';	-ms-childs:':first-child';}
#content .path li {-ms-pseudo:':before(&gt;)';}
#content table td, #content table th {-ms-childs:':first-child';}
#content .collapse .tickedIn a, .collapse .tickedIn {-ms-pseudo:':before';}