
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 269px;
	height:269px;
	margin:0 1.5em 220px;

	/* custom decorations */
	/* border:1px solid #ccc;*/
	/* background:url(/js/img/h300.png) repeat-x;*/
}


/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:269px;
}



/* single scrollable item */
.scrollable img {
/*	float:left;*/
	/*margin:20px 1px 20px 10px;*/
	margin:0px;
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	width:113px;
	height:113px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}


.scrollable img.hover {
	background-color:#123;	
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}


