.listing {margin-bottom:1em;}
#boxes {margin-bottom: 1em;}
#bxFooter {padding-top: 22px;}
.bottom-banners { margin-bottom: 14px;}
.bottom-banners ul { margin: 0 0 -8px 0 !important; }
#content table {width: 100%;font-size: 12px;margin: 1em;}

/* Титульная блоки мероприятий */
#boxes .padder {height: 515px;}
.anounce_block {height: 440px;}
.anounce_block_content {min-height: 440px;}
/* Титульная блоки мероприятий */

.container {display:none;}

.main_news_line .wrap .img img {
  margin: 0 1.5em;
  padding: 1px;
  border-style: inset;
  border-color: rgb(176, 31, 35);
  border-width: 2px;
}

.lk_div2, .lk_div3, .lk_div4, .lk_div5, .lk_div6, .lk_div7 {
    padding-bottom: 12px;
    }