article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
::-moz-selection { background: #8E130F; color: #fff; text-shadow: none; }
::selection { background: #8E130F; color: #fff; text-shadow: none; }

a { color: /*#B11F24*/ #800000 ; }
a:visited { color: /*#B11F24*/ #800000 ; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
ol li { list-style-type: none; }
ol { counter-reset: list1; padding-left:20px;}
ol li:before {
 display:block;float:left;margin-left:-13px; margin-right: 7px;
 width:20px;
 counter-increment: list1; 
 content: counter(list1) ". ";
 text-align:right;
}

ol li ul li:before {
 display:none;
}

ol li ul li { list-style-type:disc; }

ol li:after {display:table; content:''; clear:left;}
ol ol { counter-reset: list2; padding-left:21px;}
ol ol li:before {
 counter-increment: list2; 
 content: counter(list1) "." counter(list2) ". "; 
}
ol ol ol li:before {
 counter-increment: list3; 
 content: counter(list1) "." counter(list2) ". " counter(list3); 
}
/*
.ie6 ol li,
.ie7 ol li {list-style-type: decimal; }
.ie7 ol,
.ie6 ol {padding-left:40px;margin-left:-15px;}
.ie7 #wrapper,
.ie6 #wrapper {width:100%;}
.ie6 #content .path li,
.ie7 #content .path li,
.ie6 #breadcrumb li {padding-right:14px;} 
.ie6 #breadcrumb li,
.ie7 #breadcrumb li {
					-ms-pseudo:':before';
					-ms-childs:':first-child';
				}
.ie6 #content .path li,
.ie7 #content .path li {-ms-pseudo:':before(&gt;)';}
.ie6 #content table th,
.ie6 #content table td {-ms-childs:':first-child';}
.ie7 #content .collapse .tickedIn a,
.ie6 #content .collapse .tickedIn a,
.ie7 #content .collapse .tickedIn,
.ie6 #content .collapse .tickedIn {-ms-pseudo:':before';}
*/

dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) {
    overflow: hidden;
}

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
/*
 * General classes
*/ 
body, html {min-height:100%; width:100%;}

body {position:relative; min-width:1000px; background:transparent url('../img/bg-body.png') 0 0 repeat-x scroll;}


h1,
h2,
h3,
h4,
small { font-weight:normal; font-family: Arial,tahoma,sans-serif;}

h1,
h3 { color:#615e5c;}

h1 {font-size:30px; line-height:32px; margin-bottom:10px; }
h2 {font-size:12px; line-height:18px; text-transform: uppercase; color:#8d8d8d; margin-bottom:14px; }
h3 {font-size:19px; line-height:20px; }
h4 {font-size:14px; line-height:16px; font-weight:bold; color:#3e3a3a;}
small {font-size:12px; font-style:italic; color:#b01f23; font-family: Georgia,Times,"times new roman",serif;}

h3 span {display:block; font-size:12px; font-family: Arial,Tahoma,sans-serif;}

.padder { padding-left:34px;}
#bxBody .bxCol-1 .padder {padding-right:47px;}
#wrapper {position:relative; z-index: 3; min-width:960px;  max-width:1216px; padding:0 20px; overflow:hidden; margin:0 auto;}



.bxMore { margin: 27px 0 22px 0; padding-right:7px; position: relative; overflow: hidden}
.bxMore a {
			display:inline-block; *display:inline; *zoom:1; 
			font:italic 11px/12px Georgia,Times,"times new roman",serif; color:#ca8933; 
			background:transparent url('../img/bg-sprite60.png') right 2px no-repeat scroll;
			padding-right:64px;
			margin-right:-64px;
			position:relative;
			}
.bxMore h2 {display:inline; display:inline-block; *display:inline; *zoom:1; margin:0;}
.bxMore h2 + a {left:65px;}
.toRight { margin-left:auto; text-align:right;}

/* content styles */

#content { padding-bottom:30px;}
#content {font:14px/20px Arial,Tahoma,sans-serif;}
#content h2 {margin-top:40px;}
#content .text h2:first-child {margin-top:0px;padding-top:10px;}
#content .text img {float:left;margin-right:20px;margin-bottom:15px;}
#content .text h4 {margin-bottom:10px;margin-top:23px;}
#content .text ul {margin-top:10px;}
#content .text > .collapse > .teaser ul,
#content .text > ul {padding-left:35px}
#content .text > .collapse > .teaser ul li,
#content .text > ul,
#content .text > ul li {list-style-type:none;text-indent:-6px; -ms-pseudo:":before(-)";}
#content .text > .collapse > .teaser ul li:before,
#content .text > ul li:before {display:inline-block; position:relative; left:-6px; /*overflow:hidden;*/ width:8px; font-size:12px;line-height:12px; content:'\2014';}
#content .text > ul li .pseudo-before {display:inline; zoom:1; position:relative; left:-8px; overflow:hidden; width:8px; font-size:12px;line-height:12px; }

#content .text h2,
#content .text h3,
#content .text h4 {clear:both;}


#content #breadcrumb {margin:0; padding:0; margin-bottom:32px;}


#content .path,
#content #breadcrumb {position:relative; overflow: hidden; border-bottom: 1px solid #c7c7c7; padding-bottom:4px;}
#content .path {display:inline-block; *display:inline; *zoom:1;vertical-align:top; border:0;}

#content .path li,
#content #breadcrumb,
#content #breadcrumb li {display:block; zoom:1;}

#content .path li,
#content #breadcrumb li {float:left;}
#content .path li:before {display:inline-block; width:14px; font-size:10px; line-height:12px; content:'>'; text-align:center;}
#content #breadcrumb li:before {display:inline-block; width:14px; font-size:10px; line-height:12px; content:'>'; text-align:center;}



#content .path li .pseudo-before,
#breadcrumb li .pseudo-before { display:inline; zoom:1; width:14px; font-size:10px; line-height:12px; text-align:center; }

#content .path li:first-child .pseudo-before,
#breadcrumb li:first-child .pseudo-before {display:none;}

#content .path li.first-child .pseudo-before,
#breadcrumb li.first-child .pseudo-before {display:none;}

#content .path li:first-child:before,
#content #breadcrumb li:first-child:before {display:none;}

#content #breadcrumb li,
#content #breadcrumb li a {font-size:12px; color:#8d8d8d;}
#content #breadcrumb li a:hover {text-decoration:none;}

#content blockquote {margin:0;margin-top:13px; margin-bottom:24px; font-family:Arial,Tahoma,sans-serif; color:#3e3a3a;}
#content blockquote p {margin-top:13px; font-size:16px; line-height:18px;}
#content blockquote p strong {display:block;font-weight:normal; color:#b01f23;}
#content blockquote p:first-child {margin-top:0;}

#content table {width:100%; font-size:12px;}
#content table th {text-align:left; color:#8d8d8d;}
#content table th,
#content table td {padding:3px 10px; border-bottom:1px solid #c7c7c7; border-left:1px solid #c7c7c7; vertical-align:top;}
#content table th {padding-top:7px; border-left:1px solid #c7c7c7;}
#content table.tbl-1 th {padding-top:0;border-left:0;}
#content table.tbl-1 td {border-left:0;}
#content table.tabl-thin {border-bottom:1px solid #c7c7c7;}
#content table.tabl-thin td {padding:5px 10px;} 


#content table td p {margin:0;}

#content table.tabl-thin td:first-child,
#content table.tabl-thin td.first-child { border-left:0; border-bottom:0; border-top:1px solid #c7c7c7;}
#content table.tabl-thin td.invisible-child { border:0;}

#content table td:first-child,
#content table th:first-child {border-left:0;}
#content table td.first-child,
#content table th.first-child {border-left:0;}
#content table.tbl-1 th:first-child,
#content table.tbl-1 td:first-child {padding-left:0;}
#content table.tbl-1 th.first-child,
#content table.tbl-1 td.first-child {padding-left:0;}

#content table td.not-first-child:first-child,
#content table th.not-first-child:first-child {border-left:1px solid #c7c7c7;}
#content table td.not-first-child,
#content table th.not-first-child {border-left:1px solid #c7c7c7;}

#content table {}
#content table.tbl-1 {}
#content table.tbl-1 th {font-size:10px; background:none; color: #8D8D8D;}

#content table thead tr th {font-size:16px; font-weight:normal; font-family:Georgia,Times,"times new roman",serif; color:#fff; background-color:#605d5d;}
#content table tbody tr th {background-color:#e1e1e1; color:#b01f23; font-weight:bold;}
#content table tbody tr td {color:#3e3a3a;}
/*#content table.tbl-1 th:first-child {font-size:12px; font-weight:normal; color:#3e3a3a;}
#content table.tbl-1 th.first-child {font-size:12px; font-weight:normal; color:#3e3a3a;} */

#content table.tbl-1 td:first-child {font:italic 16px/18px Georgia,Times,"times new roman",serif; color:#b01f23;}
#content table.tbl-1 a {color:#3e3a3a;}

#content table.no-border th, #content table.no-border td {border:0 none;}

.td-center {text-align:center;}

#content .collapse {/*margin:18px 0;*/}
#content .collapse .tickedIn {position:relative;}


#content .collapse .tickedIn:before {display:block; content:''; font-size:1px;line-height:1px; width:100%; height:1px; position:absolute; top:50%; z-index:1; left:0; background-color:#c7c7c7;}
#content .collapse .tickedIn > .pseudo-before {font-size:1px; line-height:1px; text-indent:-1000px; background-color:#c7c7c7;
											display:block; width:100%; height:1px;
											position:absolute; overflow: hidden; top:50%; left:0; z-index:1; 
											}

#content .collapse .tickedIn a {display:inline-block; background-color:#fff; position:relative; z-index:2; padding-right:18px; text-decoration:none; }
#content .collapse .tickedIn a span {border-bottom: 1px dotted /*#B11F24*/ #800000 ;}
#content .collapse .tickedIn a:hover span {border-bottom: 0; padding-bottom:1px;}
#content .collapse .tickedIn a:before {
										display:block; height:0; width:0; 
										content:''; font-size:1px;line-height:1px; 
										position:absolute; right:6px; top:50%;
										border:3px solid transparent;
										/*border-bottom:0;*/
										border-left-color: #b01f23;
										margin-top:-3px;
										}
#content .collapse .tickedIn a .pseudo-before {
										display:block; height:0; width:0; 
										content:''; font-size:1px;line-height:1px; 
										position:absolute; right:6px; top:50%;
										border:3px solid transparent;
										/*border-bottom:0;*/
										border-left-color: #b01f23;
										margin-top:-3px;
									}
.ie6 #content .collapse .tickedIn a .pseudo-before {border:3px solid pink; border-left-color: #b01f23; filter: chroma(color=pink);}

.ie6 #content .collapse .tickedIn a,
.ie7 #content .collapse .tickedIn a {display:inline; zoom:1; position:relative;}
 #content .collapse h2.tickedIn {display:block; position:relative;}
 #content .collapse h2.tickedIn a {color:#8d8d8d;}
 #content .collapse h2.tickedIn a span {border-bottom: 1px dotted #8d8d8d;}


#content .active .tickedIn a:before {border-left-color: transparent; border-top-color: #b01f23; margin-top:0;}
#content .active .tickedIn a .pseudo-before {border-left-color: transparent; border-top-color: #b01f23; margin-top:0;}
.ie6 #content .active .tickedIn a .pseudo-before {border-left-color:pink;}

#content .collapse .teaser {padding:20px 0; display:none;}
#content .collapse .teaser p {margin-top:12px;}
#content .collapse .teaser p:first-child {margin-top:0;}


#content ul.collapse li {border-bottom: 1px solid #c7c7c7;}
#content ul.collapse li.separator { border:none; margin-top:50px; }
#content ul.collapse li.separator:first-child { margin-top:0; }
#content ul.extra li {border:0;}
#content ul.collapse .tickedIn {padding:6px 0 8px;}
#content ul.collapse .tickedIn a {font:14px/16px Georgia,Times,"times new roman",serif;}

#content ul.collapse li ul li {border-bottom: none;}

#content ul.collapse .tickedIn:before,
#content ul.collapse .tickedIn a:before {display:none;}
#content ul.collapse .tickedIn .pseudo-before {display:none;}

#content ul.collapse .tickedIn {margin:10px 0;}
#content ul.collapse h2.tickedIn a:before {display:block; border:0; width:8px; height:10px; margin-top: -5px; background:transparent url('../img/bg-sprite60.png') 0 2px no-repeat scroll; }
#content ul.collapse h2.tickedIn a .pseudo-before {display:block; border:0; width:8px; height:10px; margin-top: -5px; background:transparent url('../img/bg-sprite60.png') 0 2px no-repeat scroll; }

#content ul .active h2.tickedIn a:before { background-position: 0 -15px; margin-top:0; }
#content ul .active h2.tickedIn a .pseudo-before {background-position: 0 -15px; margin-top:0;}

#content ul.collapse .teaser {margin:0;padding-top:0;}
#content ul.collapse .teaser ol { left: -18px; position: relative; margin-bottom:0; margin-top:20px;}
#content ul.collapse .teaser ol,
#content ul.collapse .teaser ol li { font-size:14px; list-style-type: decimal; border:0;}
#content ul.collapse .teaser ol:first-child {margin-top:0;}

#content ul.collapse .teaser ol li { margin:3px 0; padding-left:18px;margin-left:-4px;}
#content ul.collapse .teaser ol li a {font-size:10px; color:#8d8d8d;}
#content ul.collapse .teaser ol li a:hover {text-decoration:none;}
#content ul.collapse .teaser ol li a:before {content:'(';}
#content ul.collapse .teaser ol li a:after {content:')';}
#content ul.collapse .teaser h2:first-child {margin-top:0 !important;}

#content .file-type-zip,
#content .file-type-pdf,
#content .file-type-ppt,
#content .file-type-doc,
#content .file-type-xls {display:block; position:relative; min-height:30px; padding-left:38px;margin:20px 0; }

#content .tabl-thin  .file-type-xls {margin:5px 0;}

.ie6 #content .file-type-zip,
.ie6 #content .file-type-pdf,
.ie6 #content .file-type-ppt,
.ie6 #content .file-type-doc,
.ie6 #content .file-type-xls {height:30px;}

.ie7 #content .file-type-zip,
.ie7 #content .file-type-pdf,
.ie7 #content .file-type-ppt,
.ie7 #content .file-type-doc,
.ie6 #content .file-type-zip,
.ie6 #content .file-type-pdf,
.ie6 #content .file-type-ppt,
.ie6 #content .file-type-doc,
.ie7 #content .file-type-xls,
.ie6 #content .file-type-xls {-ms-pseudo:':before'; }

#content .file-type-zip small,
#content .file-type-pdf small,
#content .file-type-ppt small,
#content .file-type-doc small,
#content .file-type-xls small {display:block; font:normal 10px/12px Arial,Tahoma,sans-serif; color:#8d8d8d; padding-top:2px;}
#content .file-type-xls a:hover {text-decoration:none;}

#content .file-type-zip:before,
#content .file-type-pdf:before,
#content .file-type-ppt:before,
#content .file-type-doc:before,
#content .file-type-xls:before { 
								display:block; width:27px; height:30px; position:absolute; overflow: hidden; top: 50%; left:0; margin-top:-15px;
								background: transparent url('../img/bg-ico-files.png') 0 0 no-repeat scroll;
								font-size:1px; line-height:1px; content:''; text-indent:-100px;
								}
#content .file-type-zip:before {background-position: 0 -191px;}
#content .file-type-pdf:before {background-position: 0 -144px;}
#content .file-type-ppt:before {background-position: 0 -97px;}
#content .file-type-xls:before {background-position: 0 -47px;}

#content .file-type-zip .pseudo-before,
#content .file-type-pdf .pseudo-before,
#content .file-type-ppt .pseudo-before,
#content .file-type-doc .pseudo-before,
#content .file-type-xls .pseudo-before { 
								display:block; width:27px; height:30px; position:absolute; overflow: hidden; top: 50%; left:0; margin-top:-15px;
								background: transparent url('../img/bg-ico-files.png') 0 0 no-repeat scroll;
								font-size:1px; line-height:1px; content:''; text-indent:-100px;
								}

#content .file-type-zip .pseudo-before {background-position: 0 -191px;}
#content .file-type-pdf .pseudo-before {background-position: 0 -144px;}
#content .file-type-ppt .pseudo-before {background-position: 0 -97px;}
#content .file-type-xls .pseudo-before {background-position: 0 -47px;}

#content .active .teaser {display:block;}


#content .bxFilter {margin:20px 0;}
#content .bxFilter .tickedIn,
#content .bxFilter nav {display:inline-block; vertical-align:top;}

.ie6 #content .bxFilter .tickedIn,
.ie7 #content .bxFilter .tickedIn,
.ie7 #content .bxFilter nav,
.ie6 #content .bxFilter nav {display:inline; zoom:1; }

#content .bxFilter .tickedIn {/*width:15%;*/ max-width:106px;margin-top:4px; }
#content .bxFilter nav {width:84%;}

#content .bxFilter nav ul {display:block; zoom:1;}

#content .bxFilter nav ul li {display:inline-block; vertical-align:top; text-align:center; margin:0}

.ie6 #content .bxFilter nav ul li,
.ie7 #content .bxFilter nav ul li, 
.ie6 #content .bxFilter nav ul li a,
.ie7 #content .bxFilter nav ul li a {display:inline; zoom:1; }

#content .bxFilter nav ul {width:100%;}

#content .bxFilter nav ul li a {display:inline-block;text-transform:lowercase;text-decoration:none; margin:4px 8px 0 8px; border-bottom:1px dashed /*#B11F24*/ #800000 ;}
#content .bxFilter nav ul li a:hover {border:0;padding-bottom:1px;}
#content .bxFilter nav ul li.active a {color:#fff; border:0; margin:0; background-color:#4f4b4b; border-color:/*#B11F24*/ #800000 ; padding:4px 8px 5px 8px; }

#content .sitemap {}
#content .sitemap li {margin:14px 0;}
#content .sitemap li:before {display:none;}
#content .sitemap li .pseudo-before {display:none;}
#content .sitemap li a {font:19px/20px Georgia,Times,"times new roman",serif; color:/*#B11F24*/ #800000 ;}
#content .sitemap li li {margin:10px 0;}
#content .sitemap li li a {font:12px/14px Arial,Tahoma,sans-serif; color:#3e3a3a;}
#content .sitemap li li li {margin:4px 0;}
#content .sitemap li li ul {margin-bottom:10px;}

#content .sitemap li li li:before {display:block;}
#content .sitemap li li li li:before {display:none}

#content .sitemap li li li .pseudo-before {display:block;}
#content .sitemap li li li li .pseudo-before {display:none}


#content form {margin:30px 0;}
#content .form-group {margin:9px 0;}
.ie6 #content .form-group input {width:254px;}
#content label {display:inline-block; *display:inline; *zoom:1; padding-right:14px; width:140px; font-size:12px;}
#content label sup { color:#b01f23; font-size:12px;}
#content input[type="text"] {/*width:255px; height:19px; border: 1px solid #d4d4d4; background:#f7f7f9;*/}
#content input[type="submit"],
#content input[type="button"] {
			font-family: Georgia,Times,"times new roman",serif;
			font-size:16px;
			color:#fff;
			font-style:italic; 
			background: #9b171b; /* for non-css3 browsers */
			background: -webkit-gradient(linear, left top, left bottom, from(#75090c), to(#b01f23)); 
			background: -moz-linear-gradient(top,  #75090c,  #b01f23); 
			background: linear-gradient(top,  #75090c,  #b01f23); 
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75090c', endColorstr='#b01f23'); 
			border:0; text-transform: lowercase; /*padding:3px 5px;*/ _width:1%;
			height:24px; line-height:24px;padding-left:6px;padding-right:6px;
}
#content textarea {width:255px; border-top: 1px solid #d4d4d4; border-bottom:none; border-left:none; border-right:none; background:#f7f7f9; min-height:150px; _height:150px;}
#content .form-actions {margin:18px 0; }
#content .form-actions.padder {/*margin-left:122px;*/}

#content #bxSearch {width:99%;}
#bxSearch  .form-group {width:69%;overflow: hidden; position:relative;}
#bxSearch .form-actions  {width:30%;}
#bxSearch label {width:100px;}
#bxSearch  .form-group,
#bxSearch .form-actions {display:inline-block; *display:inline; *zoom:1; vertical-align:top;margin:0;}
#bxSearch .form-group input {width:81%;margin-right:-114px;margin-top:1px; position:relative; overflow: hidden;}

/* end content styles */

/* 
 * General Template  
 */
 .module {position:relative;}

.cols-grid {}
.cols-grid .bxCol-1,
.cols-grid .bxCol-2,
.cols-grid .bxCol-3,
.cols-grid .bxCol-4 {float:left; position:relative; }

/* width = 100%, if col2 is center col */
.cols-grid .bxCol-1 { left: -100%; }
.cols-grid .bxCol-2 { width:100%; overflow:hidden; /*z-index:2;*/ }
.cols-grid .col-2 { position:relative; }

.cols-grid:before, .cols-grid:after { content: ""; display: table; }
.cols-grid:after { clear: both; }
.cols-grid { zoom: 1; }

#bxHead {}
#bxHead .sec-1 {border-bottom: 1px solid #c0bfbf;}
#bxHead .sec-1 .bxCol-1 { width:98px; margin-right:-98px; } 
#bxHead .sec-1 .bxCol-2 .col-2 {padding-top:44px; position: relative;}
#bxHead .sec-1 .bxCol-3 { width:280px; margin-left:-280px; }

#bxHead .sec-2 .bxCol-1 { width:550px; margin-right:-550px; } 
#bxHead .sec-2 .bxCol-2 .col-2 { margin-left:485px; }

#bxBody .bxCol-1 {width:278px; margin-left: -278px;left:0; z-index:1;}
#bxBody .bxCol-2 .col-2 {margin-right:278px; z-index:2; padding-top:31px;}

#bxFooter .bxCol-1 { width:295px; margin-right:-295px; }
#bxFooter .bxCol-3 {width:226; margin-left:-191px;}
#bxFooter .bxCol-2 .col-2 { margin-left:295px; margin-right:226px;}

#bxHead .sec-1 .bxCol-2 .col-2 .col-2
#bxHead .sec-2 .bxCol-2 .col-2 .col-2,
#bxBody .bxCol-2 .col-2 .col-2,
#bxFooter .bxCol-2 .col-2 .col-2 { width:auto; margin-left:0; margin-right:0; }




/* 
 * End general Template  
 */
 
/* header section */  
 #bxHead {color:#3e3a3a;}
 #bxHead nav ul,
 #bxHead nav ul li,
 #bxHead nav ul li a {display:block;}
 
 #bxHead nav ul li {float:left;}
 
 
 
 .ie6 #navPrimary li,
 .ie7 #navPrimary li { display:inline; zoom:1 }
 
 
 #bxHead nav ul:before, #bxHead nav ul:after { content: ""; display: table; }
 #bxHead nav ul:after { clear: both; }
 #bxHead nav ul { zoom: 1; }
 
 #bxHead .sec-1 {padding:6px 0 19px;}
   #bxHead .sec-1 .bxCol-2 a { text-decoration: none; font:12px/14px Arial,Tahoma,sans-serif; color:#3e3a3a;}
   #bxHead .sec-1 .bxCol-2 a * { text-decoration:underline; }
   #bxHead .sec-1 .bxCol-2 a strong {font-weight:noremal; color:#b01f23; }
   #bxHead .sec-1 .bxCol-2 a:hover * { text-decoration:none; }
 
 #bxHead .sec-2 {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5px;
}
   #bxHead .sec-2 .bxCol-2 {overflow: visible;}

 #bxHead .sec-2 .bxCol-1 a { text-decoration:none; }

 #logo {position:relative; bottom:-5px;left:-4px;}
   #logo .img, #logo .teaser {display:inline-block; *display:inline; *zoom:1; vertical-align:top; }
   #logo .teaser {
    background: url("/common/img/img-logo.gif") no-repeat left top;
    font-size: 12px;
    height: 66px;
    line-height: 18px;
    padding-left: 98px;
    padding-top: 14px;
    text-transform: uppercase;
}
   #logo .teaser a {color:#3E3A3A;}
   #logo .teaser a strong {font-weight:normal; color:#b01f23; }
 
 .sec-2 .col-2 nav {position:relative; overflow: hidden;}
 #navPrimary {padding-top:25px; float:right;}
    #navPrimary,
    #navPrimary li,
    #navPrimary li a {display:block;} 
    
    #navPrimary li { position:relative; margin-left:14px; padding-left:12px; border-left:1px solid #3e3a3a;}
	#navPrimary li:first-child {margin-left:0;padding-left:0; border-left:0;}
  
    #bxHead #navPrimary li a {display: block; font-size:11px; line-height:17px; color:#3e3a3a; text-transform: uppercase; }
	#bxHead #navPrimary li a:hover {text-decoration:none;}
 
 #navExtra {}
 #navExtra li,
 #navExtra li a {width:16px;height:16px; position:relative; overflow: hidden; }
 #navExtra li a {font-size:1px; line-height:1px; text-indent:-1000px;}
 
   #navExtra li { background:#fff url('../img/bg-sprite60.png') -2px -82px no-repeat scroll; margin-left:7px;}
   #navExtra li.active {background-color:#6e6e6e;}
   #navExtra li.ico-map {background-position: -23px -82px;}
   #navExtra li.ico-mail {background-position: -42px -82px;}


 #navRelated {position:relative; overflow: hidden; float:right;padding-right:15px;}
	.sec-1 .bxCol-2 .link {float:left; padding-top:10px;}
	#navRelated li,
	#navRelated li span {background-color:#e0deca; border:1px solid #b8b8af;}
	
	#navRelated li i,
	#navRelated li span,
	#navRelated li span a {display:block;}
	
	#navRelated li {position:relative; padding:12px 3px 0 19px; border-right:0; margin-left:24px; }
	#navRelated li i { width:18px; height:18px; position:absolute; top:-1px; left:100%; overflow: hidden; background:transparent url('../img/bg-crn-sprite.png') 0 -86px no-repeat; }
	#navRelated li span { min-width:68px; float:left; margin-bottom:-1px; margin-right:-18px; padding-bottom:12px; border-top:0; border-left:0; zoom:1; padding-right:20px;}
	#navRelated li span a {background:transparent url('../img/bg-sprite60.png') 0 -107px no-repeat;padding-left:15px;}
	
	#navRelated li,
	#navRelated li span,
	#navRelated li span a {font-size:13px !important; text-transform: uppercase; }
	
	#navRelated a:hover {text-decoration:underline !important;}
	 
	
  #qsearch {white-space:nowrap; float:right;}
	#qsearch  input {background-color:#d1d1d3; border:0; }
	#qsearch .form-type-text {border:1px solid #d1d1d3; font-size:11px; width:224px; height:14px; vertical-align:top;}
	#qsearch .form-type-submit {position:relative; overflow: hidden; vertical-align:top; width:26px; height:22px; font-size:0px; line-height:0px; text-indent:-100px; padding:0; background:transparent url('../img/bg-sprite60.png') 3px -42px no-repeat scroll}
	
	#content #qsearch { float:none; }

  #bxPromo {position:relative; overflow: hidden; min-height:80px; width:100%; }
	#bxPromo .img {position:absolute;left:0;top:0; z-index:1;}
	#bxPromo .crn {position:absolute;left:0;top:0; z-index:2; width:80px; height:80px; background: transparent url('../img/bg-crn-sprite.png') 0 0 no-repeat scroll;}
	#bxPromo .teaser {display:inline-block; *display:inline; zoom:1; position:relative; z-index:3; margin-right:93px; margin-left:93px;margin-top:26px; min-height:158px; _height:158px;margin-bottom:20px;}
	#bxPromo .teaser h2 {margin-top:0; margin-bottom:9px;}
	#bxPromo .teaser h2,
	#bxPromo .teaser h2 a {color:#fff; font-weight:normal; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:29px; line-height:36px; text-transform:none;}
	#bxPromo .teaser p {font-size:12px; line-height:18px; color:#e1e1e1;margin-top:9px; margin-bottom:0;}
	#bxPromo .teaser a:hover {text-decoration:none;}
	#bxPromo .teaser .padder {padding:14px 34px; background:transparent url('../img/bg-o-mask.png') 0 0 repeat-x scroll;}
	
	.type0.teaser { background:#961510; 
			background: -webkit-gradient(linear, left top, left bottom, from(#901c15), to(#a31f17)); 
			background: -moz-linear-gradient(top,  #901c15,  #a31f17); 
			background: linear-gradient(top,  #901c15,  #a31f17); 
	
	}
	.type1.teaser { background-color:#b87214; }
	.type2.teaser { background-color:#6b8b20; }
	.type3.teaser { background-color:#9e9b64; }
	.type4.teaser { background-color:#46749e; }
	.type5.teaser { background-color:#346762; }
	.type6.teaser { background-color:#2d955e; }
	
	
	
	#navGeneral {position:relative; overflow: hidden;}
	#navGeneral table {width:100%; text-align:center; vertical-align:middle;}
	#navGeneral table,
	#navGeneral table td {border:0;padding:0; min-width:120px; background:#8e130f url('../img/bg-o-mask.png') 0 -9px repeat-x scroll; height:45px}
	#navGeneral table td.i1 {background-color:#b87214;}
	#navGeneral table td.i2 {background-color:#6b8b20;}
	#navGeneral table td.i3 {background-color:#9e9b64;}
	#navGeneral table td.i4 {background-color:#46749e;}
	#navGeneral table td.i5 {background-color:#346762;}
	#navGeneral table td.i6 {background-color:#2d955e;}
	
	#navGeneral a {display:block;  padding:5px 12px; font-size:14px; color:#fff; text-decoration:none;}
	.link {float:left;}
	
/* end header section */

/* body section */
	/* left column */
		.navSub {margin:18px 0;}
		.navSub h2 {margin-left:34px;}
		.navSub h2 a {color: #8D8D8D; text-decoration:none;}
		.navSub h2 a:hover {text-decoration:underline;}
		
		.navSub ul,
		.navSub ul li,
		.navSub ul li a,
		#navSeconadry ul,
		#navSeconadry ul li,
		#navSeconadry ul li a {display:block; _zoom:1;}
		
		.navSub ul li {position:relative; /*padding-left:16px;*/ margin-top:-1px;}
				
		.ie6 .navSub ul li a,
		.ie7 .navSub ul li a {-ms-pseudo:':before';}
		
		.navSub ul li a:before {
					display:block; width:6px; height:10px; 
					position:absolute; left:0; top:8px;
					font-size:1px; line-height:1px; content:'';
					background:transparent url('../img/bg-sprite60.png') 0px 0px no-repeat scroll;
							}
		.navSub ul li a  {
					display:block; width:6px; height:10px; overflow: hidden;
					position:absolute; left:0; top:8px;
					font-size:1px; line-height:1px; text-indent:-100px;
					background:transparent url('../img/bg-sprite60.png') 0px 0px no-repeat scroll;
						}
		.navSub ul li   { 
					display:block; padding-left:16px; padding-bottom:8px; padding-top:5px;
					position:relative; margin-left:18px; margin-right:18px;
					font:14px/16px Georgia,times,'Times New Roman',serif; color:#fff;
					border-top:1px solid #6c0c0e;   
					}
					
		.navSub ul li:first-child a {border-top:1px solid #d4d4d4;}
		.navSub ul li a {border-bottom:1px solid #d4d4d4; border-top:0;}
		.navSub ul li a:hover,
		#navSeconadry ul li a:hover {text-decoration:none;}
		.navSub ul li a {color:#625e5e !important;}
		.bxBanners {margin:40px 0;}


		#navSeconadry {background-color:#f4f4ee; padding-top:20px !important;}
		#navSeconadry,
		.navBox {font-size:11px;width:223px; margin-left:auto; margin-top:12px; padding:13px 15px 0px; border:1px solid #c7c7c7; position:relative;}
		#navSeconadry:first-child,
		.navBox:first-child {margin-top:19px;}
		
		/*.navBox .navBox {margin:0; padding:0px; border:none;}*/
		
		#navSeconadry nav {margin-bottom:24px;}
		.navBox nav {margin-bottom:19px;}
		
		#navSeconadry li,
		.navBox li {margin-bottom:10px;}
		#navSeconadry li a,
		.navBox li a {font-size:12px; color:#3e3a3a; text-decoration:underline;}
		.navBox a:hover {text-decoration:none;}
		#navSeconadry h2,
		.navBox h2 {font-family: Arial,Tahoma,sans-serif;margin-top:0; font-size:11px; line-height:13px;margin-bottom:12px; padding-top:7px;}
		.navBox p {margin-top:0; margin-bottom:9px;}
		.navBox p a {color:#3e3a3a;}
		.navBox .teaser p a:first-child {color:#3c89d9;}
		.navBox .teaser {margin-bottom:24px;}

		.navBox ul li.more {margin-top:8px;}
		.navBox ul li.more > a {display:inline; font-size:10px; display:inline-block; *display:inline;*zoom:1; font-style:italic; color:#2e81d6; text-decoration:none; border-bottom:1px dashed #2e81d6; }
		.navBox ul li.more > a:hover {border-bottom:0;padding-bottom:1px;}
		.navBox ul li.more ul {display:none;margin-top:8px;}

		#navSeconadry h2 {padding-top:0;}

		.navBox .crn { background: url("../img/bg-crn-sprite-24.png") no-repeat scroll 0 -100px transparent;
						height: 40px; width: 40px;
						position: absolute; left: 100%; top: 100%;
						z-index: 2;
						margin-top:-39px;
						margin-left:-39px;
		}
		#navSeconadry li {position:relative;padding-left:10px;}
		#navSeconadry li.active,
		#navSeconadry li.active a {color:#b01f23;}

		#navSeconadry li ul {margin-top:3px;}
		#navSeconadry li.active li a {color:#3e3a3a;}
		#navSeconadry li.active li.active a {color:#b01f23;}
		#navSeconadry li.active li.active li a {color:#3e3a3a;}
		#navSeconadry li.active li.active li.active a {color:#b01f23;}
		#navSeconadry li.active li.active li.active li a {color:#3e3a3a;}
		
		#navSeconadry li:before {
			background-color: #3E3A3A;
			content: "";
			display: block;
			font-size: 1px;
			height: 1px;
			left: 0;
			line-height: 1px;
			overflow: hidden;
			position: absolute;
			text-indent: -100px;
			top: 8px;
			width: 7px;
		}
	/* end left column */
	
	/* center column */
		#slider {margin-top:15px;}
		#slider {position:relative;}
		#slider ul {display:block; _zoom:1; }
		#sItems {}
		#slider nav { position:relative; /*height:260px; width:100%;*/}

			#sControls { position:absolute; top:100%; left:100%; margin-top:8px;/*margin-top:-22px;*/ margin-left:-44%; width:44%;}
			.ie6 #sControls {margin-top:0;}
			#sControls ul:before, #sControls ul:after { content: ""; display: table; }
			#sControls ul:after { clear: both; }
			#sControls ul { zoom: 1; }
			
			#sControls ul li {float:left; width:15px; height:15px; position:relative; overflow: hidden; cursor: pointer; font-size:1px; line-height:1px; text-indent:-1000px;  background: transparent url('../img/bg-sprite60.png') -10px -60px no-repeat scroll;}
			#sControls ul li.active { background-position: 5px -60px; } 
			
			#slider .mask {position:absolute; top:100%; margin-top:-254px; left:0; height: 320px; width:100%; /*overflow: hidden;*/}
			.ie6 #slider .mask {margin-top:-278px;}
			#sItems,
			#sItems li {display:block; margin:0; padding:0; list-style-type:none;}
			
			#sItems {position:absolute; width:100%; top:0; left:0; height:281px;}
			
			
			#sItems li {display:block; height:281px; position:relative; position:absolute;top:0;left:0; width:100%; }
			#sItems li.active {display:block;}
			#sItems li .teaser {	
									font-family: Georgia,times,'Times New Roman',serif;
									display:block; position:absolute; left:100%; top:32px; 
									margin-left:-44%; width:44%;
									z-index:2; 
								 }
			#sItems li .teaser h2 { display:block; font-size:24px; font-weight:normal; line-height:24px; text-transform: none; color:#f6cf9b; margin-bottom:12px;margin-top:0; padding-right:36px;}
			#sItems li .teaser p {font-size:14px; line-height:20px; font-style: italic; color:#fff; padding-right:36px;}
			#sItems li .img {display:block; position: relative; z-index:1; top:43px; left:-28px; width:54%; text-align:center;}
			#sItems li .img img {}
			
			#sResult {}
			#sResult .listing {border-top:1px solid #c7c7c7; border-bottom:1px solid #c7c7c7; margin-bottom:12px;}
			#sResult .listing li {margin:20px 0;}
			#sResult .listing li p {margin:1px 0;}
			#sResult .listing li li {margin:0;}
			#sResult .bxShort {margin:40px 0 7px 0;}
			#sResult .bxShort p {margin:0;}
			#sResult .bxShort p big {font-size:15px;}
		
		#boxes {position:relative; overflow: hidden; margin-bottom:24px;}
		/*#boxes .box-1 {width:32%; float:left;}*/
		
		#boxes > div,
		#boxes .box-2,
		#boxes .box-3 {float:left;width:34%;}

		#boxes .box-1,
		#boxes > div:first-child {width:32%; float:left;}
		
		#boxes .padder {padding-left:0; margin-right:5%; height: 395px;}
		#boxes .teaser {margin-left:5%; background-color:#e8e7da; padding: 15px 10px 15px 28px; margin-top: 0; height: 336px; overflow: hidden; border-bottom:10px solid #e8e7da}
                #boxes .teaser li {padding-bottom:10px}
		#boxes .teaser p {margin-top:0;}
		
		#boxes .box-1 .padder,
		#boxes > div:first-child .padder {border-left:0; margin-left: -5%;} 

		#boxes .box-3 .teaser {margin-left:9%;}
		
		#boxes h2 {font-size:11px; font-family: Arial,Tahoma,sans-serif;}
		#boxes h2 a:hover {text-decoration:none;}
		
		#boxes a {color:#3c89d9; text-decoration:underline;}
		#boxes a:hover {text-decoration:none;}
		#boxes h2 a {color:/*#B11F24*/ #800000 ;}
		#boxes p small {font-size:11px; color:#919192; font-style:normal;}
		
		#boxes .type0 h2 { background-color:#8E130F; }
		#boxes .type1 h2 { background-color:#b87214; }
		#boxes .type2 h2 { background-color:#6b8b20; }
		#boxes .type3 h2 { background-color:#9e9b64; }
		#boxes .type4 h2 { background-color:#46749e; }
		#boxes .type5 h2 { background-color:#346762; }
		#boxes .type6 h2 { background-color:#2d955e; }

		#boxes .type0 h2,
		#boxes .type1 h2,
		#boxes .type2 h2,
		#boxes .type3 h2,
		#boxes .type4 h2,
		#boxes .type5 h2,
		#boxes .type6 h2 {display:block;padding:7px 14px; margin:0;margin-left:5%; color:#fff;}
		
		#boxes .type0 h2 a,
		#boxes .type1 h2 a,
		#boxes .type2 h2 a,
		#boxes .type3 h2 a,
		#boxes .type4 h2 a,
		#boxes .type5 h2 a,
		#boxes .type6 h2 a {color:#fff;}
	/* end center column*/

	/* general content classes */
		
		.listing,
		.listing ul,
		.listing li {list-style-type:none; padding:0; margin:0; }
		.listing {display:block; width:100%; position:relative; overflow: hidden; /*margin-bottom:60px; */margin-bottom:30px;}
		
		#content .listing > h2:first-child {margin-top:0;}
		#content ul.listing {padding-left:0;}
		#content ul.listing > li:before {display:none;}  
		#content ul.listing > li .pseudo-before {display:none;}
		#content ul.listing > li {text-indent:0;}
		
		
		#content .listing ul li ul { margin-left:30px; }
		#content .listing ul li ul li { list-style:disc !important; padding-left:0 !important; }

		.bxExModule {margin-bottom:30px !important;}
		.bxExModule div {display:inline-block; vertical-align:top;}
		.bxExModule > div {width:57%;}
		.extra > div:first-child {max-width:246px;}
		.extra_small > div:first-child {max-width:166px;}
		.extra div.bxShort,
		.extra div.bxExtended,
		.extra_small div.bxShort,
		.extra_small div.bxExtended
		{vertical-align:top;}
		.extra div.bxShort h3 {margin-top:50px;}
		.bxExModule > div:first-child {width:42%;}
		.bxExModule h2 {margin-top:22px !important;}
		.imgTop div.bxShort,
		.imgTop div.bxExtended {vertical-align:top;}
		.imgTop .img img {margin-top:12px;}
		
		.bxExModule div div {display:block;}
		.ie6 .bxExModule div,
		.ie7 .bxExModule div {display:inline; zoom:1; margin-left:2px;}
		
		.ie6 .bxExModule div div,
		.ie7 .bxExModule div div {display:block; margin-left:0}
		
		.bxExtended {/*max-width:282px;*/}
		.bxExtended .teaser {margin-top:12px; padding-bottom:16px;}
		.bxExtended .img img {border: 1px solid #DDDDDD;}
		.bxExtended h3 {margin:0;}

		.bxExModule h3 strong {display:block; font-weight:normal; font-size:24px; line-height:26px; }
		.bxExModule h3 small {display:block; font-size:16px;}
		.bxExtended small {font-size:16px;}
		.bxExtended p {margin:0;}
		
		.cols2 {}
		.cols2 .teaser {margin-left:144px; min-height:20px;}
		.cols2 .teaser p strong {color:#858585;}
		.cols2 .teaser p big {font-size:19px; line-height:20px; color:#3e3a3a;}
		.cols2 .tickedIn {float:left;width:134px; text-align:right; min-height:20px;} 
		.cols2 .tickedIn p em {font:italic 16px/18px Georgia,Times,"times new roman",serif}
		
		.cols2 .teaser p,
		.cols2 .tickedIn p {margin:6px 0; }

		#map-target {margin:16px 0;}
		
		#bxBody .cols3  {display:block; padding-bottom:30px;}
		#bxBody .listing .cols3 {padding-bottom:0;}
		.cols3 li {display:block; position:relative; float:left; width:100%; margin-left:5%; }
		/* .cols3 li {display:block; position:relative; float:left; width:29%; margin-left:5%; } */
		.cols3 li:first-child {margin-left:0;}
		.ie6 .cols3 {width:101%;}
		.ie6 .cols3 li {-ms-childs: ':first-child'; margin-left:1%;}
		.ie6 .cols3 li.first-child {margin-left:0;}
		.cols3 li h2 { margin:0; padding:17px 14px 25px 14px; /*background-color: #f3f3f3; */}
		
		.cols3 li h2,
		.cols3 li h2 a {font:normal 16px/18px Georgia,times,'Times New Roman',serif; text-transform: none; color:#b11f23;}
		.cols3 li h2 a:hover {text-decoration:none;}
		
		.cols3 li .teaser,
		.cols3 li p { font:normal 12px/18px Arial,sans-serif; color:#3e3a3a; margin:0;}
		
		.cols3 li .teaser {padding:10px 0px 36px 0px;}
		
		.cols3 li .wrap .teaser a { color:#3c89d9; }
		.cols3 li .wrap .teaser a:hover { text-decoration:none; }
		.cols3 li .wrap .teaser .section {padding-bottom:10px; background: none}
		.cols3 li .wrap .teaser .date-src {padding-bottom:5px;}
		
		.cols3 li .teaser .section,
		.cols3 li .teaser .date-src,
		.cols3 li .teaser .date-src a {font-size:11px;color:#9a9a9a;}
		
		.cols3 li .teaser .section a {font-size:11px;}
		
		.cols3 li .teaser .section, 
		.cols3 li .teaser .section p, 
		.cols3 li .teaser .section p a {text-transform: uppercase;} 
		.cols3 li .teaser .section a:hover {text-decoration:none;}
		
		.cols3 li .teaser .date-src a {text-decoration:none;}
		.cols3 li .teaser .date-src a:hover {text-decoration:underline;}
		
		.cols3 li .wrap {
			position:relative; overflow: hidden;
		}
		.brd {border-bottom:1px solid #c0bfbf;}
		.cols3.brd li .wrap {padding-top:15px;}
		
		
		.toLine li,
		.toLine li .wrap {height:auto !important;}
		.toLine li .wrap {border:0;background: transparent none; filter:none; -ms-filter:none;}
		.toLine li .teaser {padding:0; padding-left:18px; width:138px;}
		.toLine li .teaser,
		.toLine li .teaser p,
		.toLine li .teaser a {color:#585454; }
		.toLine li .img,
		.toLine li .teaser {display:inline-block; *zoom:1; *display:inline; *margin-left:2px; vertical-align:middle;}
		
		.toLine li .type-2 { width:auto; padding-bottom:30px;  background:transparent url('../img/bg-sprite60.png') 0px -103px no-repeat scroll;}
		.toLine li .type-2 a {font:italic 14px/16px Georgia,times,'Times New Roman',serif;color:#3f3b3b;}
		.toLine li .type-2 a:hover {text-decoration:none;}
		
		.listing .addBorder {border-bottom:1px solid #CECECE; }
		
		.text-w-photo li {margin-top:20px;}
		.text-w-photo li:first-child {margin-top:0;}
		.text-w-photo li.first-child {margin-top:0;}
		.text-w-photo li div.img,
		.text-w-photo li div.teaser {display:inline-block; *zoom:1; *display:inline; *margin-left:2px; vertical-align:middle;}
		.text-w-photo li .img img {display:block;border:1px solid #dddddd;}
		.text-w-photo li .img {width:30%;max-width:130px; }
		
		.text-w-photo li .teaser { position:relative; overflow: hidden; width:69%;}
		
		.ie7 .bxShort .text-w-photo li .teaser,
		.ie6 .bxShort .text-w-photo li .teaser {width:226px;}
		
		.text-w-photo li .teaser h3 {}
		.text-w-photo li .teaser h3 small {display:block;}
		.text-w-photo li .teaser h3,
		.text-w-photo li .teaser p { margin:2px 0;}
		.text-w-photo li .teaser p.links {display:block;}
		.text-w-photo li .teaser p.links a { display:inline-block; *zoom:1; *display:inline; padding:0 10px; border-left: 2px solid #dddddd;}
		.text-w-photo li .teaser p.links a:first-child {padding-left:0; border-left:0;}

		.text-w-photo.extra li div {vertical-align:top;}
		.text-w-photo.extra li div.teaser p {margin-top:15px;}

		.listing.links {margin-bottom:10px !important;}
		.listing.links li {margin:9px 0 !important; }
		
		.listing.links li,
		.listing.links li a,
		.listing.links li a:visited {color:#3e3a3a; line-height:14px;}
		
		.listing .mdash {display:block;}
		.listing .mdash li {display:block; margin:7px 0; position:relative; padding-left:12px; -ms-pseudo:':before'}
		.listing .mdash li:before {display:block; position:absolute; overflow: hidden; top:8px;left:0; width:7px; height:1px; font-size:1px; line-height:1px; text-indent:-100px; background-color:#3e3a3a; content:'' }
		.listing .mdash li .pseudo-before {display:block; position:absolute; overflow: hidden; top:8px;left:0; width:7px; height:1px; font-size:1px; line-height:1px; text-indent:-100px; background-color:#3e3a3a; content:'' }
		
		ol.links {display: list-item; position: relative;  /*padding-left:40px; list-style-type: decimal;*/}
		.ie6 ol.links,
		.ie7 ol.links {}
		ol.links li {/*list-style-type: decimal;*/}
		
		ol.listing.links li a { color: #8D8D8D; font-size: 10px; }
		
		.order_list {
			list-style:none;
			margin:0;
			
		}
			.order_list li {
				font:  16px/18px Georgia,Times,"times new roman",serif;
				color: #B01F23;
				padding:0;
				background:none;
				margin-bottom:8px;
			}
			
			#content .text > .collapse > .teaser ul.order_list, #content .text > ul.order_list {
				padding:0 0 0 10px;
			}
			
			#content ul.order_list  li::before,  #content .text > .collapse > .teaser ul.order_list  li::before, #content .text > ul.order_list li::before {
				display:none;
			}
			
				.order_list li p {
					margin:0;
				}
				.order_list li span {
					display:block;
					font: 11px/13px Arial,Tahoma,sans-serif;
					color:#8D8D8D;
				}
		
			.order_column_list {
				margin:25px 0 0 6px;
			}
				.order_column_block {
					margin-bottom:20px;
				}
					.order_column_letter {
						font-size:  18px;
						margin:0 0 10px;
					}
				.order_column_block  ul.order_list {
					margin-right:-70px;
					padding:0;
				}
				.order_column_list ul.order_list li {
					display:inline-block;
					margin-right:70px;
					vertical-align:top;
					width:271px;
				}
				.ie7 .order_column_list ul.order_list li, .ie6 .order_column_list ul.order_list li{
					display:inline;
				}
		
		
		.pagination {margin:12px 0;}
		.pagination ul,
		.pagination ul li {display:inline-block; *display:inline; *zoom:1; margin:0;padding:0; list-style-type:none;}
		.pagination ul li a {display:block; height:18px; font-size:12px; line-height:18px; padding:0px 6px;}
		.pagination ul li.active a {background-color:#b01f23; color:#fff;}
		/* modules section */
			.bxNews {}
			.bxNews ul,
			.bxNews ul li {display:block; _zoom:1; list-style-type:none; padding:0; }
			.bxNews ul {margin:0;}
			.bxNews ul li {margin:24px 0;}
			.bxNews ul li:first-child {margin-top:0;}
			.bxNews ul li .date {font-size:11px; color:#a7a6a6; margin-bottom:4px;}
			.bxNews ul li .teaser {font-size:12px; line-height:17px;}
			.bxNews .bxMore {margin-bottom:20px;}
			.ie6 .bxNews .bxMore a {margin-left:10px;}
			
			
		/* end modules section */
		
		
		/*couses-table*/
		
		.courses-table {
			
			margin-bottom:20px;
			border-bottom:1px solid #ccc;
		}
		.ct-title {
			padding:10px;
			border-top:1px solid #ccc;
			text-align:center;
			background:#605D5D;
			color:#fff;
			font-size:16px;
		}
		.ct-curses {
			padding:10px;
			border-top:1px solid #ccc;
			text-align:center;
			background:#E1E1E1;
			font-weight:bold;
			color:#B01F23;
		}
		
		ul.ct-files {
			margin:0;
			padding:0;
			line-height: 0;
			font-size: 1px;
			display:table;
			width:100%;
		}
		
			.ct-file {
				display:table-cell;
				margin-left:-0.3em;
				min-width:107px;
				vertical-align:top;
				line-height: normal;
				font-size: 12px;
				//display : inline;
				//zoom : 1;
			}
				.ct-file-num {
				border-bottom:1px solid #ccc;
				border-top:1px solid #ccc;
				text-align:center;
				padding:10px;
				border-left:1px solid #ccc;
				}
				
				.ct-file-link {
					padding:10px;
					border-left:1px solid #ccc;
				}
				
				.ct-file:first-child .ct-file-num, .ct-file:first-child .ct-file-link {
					border-left:0;
				}
		
		
			#content .courses-table  .file-type-xls {
				padding-top:38px; 
				padding-left:0;
				margin:5px 0;
				text-align:center;
			}
			#content .courses-table  .file-type-xls:before, #content .courses-table  .file-type-xls .pseudo-before {
				left:50%;
				top:0;
				margin-top:0;
				margin-left:-15px;
			}
			
			li.helper { 
				width: 100%; 
				height: 0px;
				visibility: hidden;
				overflow: hidden;
				display:none;
			}
		
/* end body section */


.gallery {
	overflow:hidden;
	margin:0 0 13px;}
	
	.gallery h1 {
		font-size:16px; 
		line-height:18px;
		font:italic 16px Arial,Tahoma,sans-serif; 
		color:#3e3a3a;
		margin:5px 0 14px;
	}
.gallery  ul {
	list-style:none;
	margin:0;
	padding:0;
}
	.gallery li {
		display:inline-block;
		margin:0 11px 0 0;
	}
	
	#content .gallery li { border:none !important; }
	
	.ie6 .gallery li, .ie7 .gallery li {
		display:inline;
	}
		.gallery img {
			border:1px solid #c5c9cc;
		}
		
	.jcarousel-container {
		position:relative;
	}	
		.ie6 .jcarousel-container {
			width:600px;
		}
		.jcarousel-container {
			padding:0 18px;
			
		}
		.jcarousel-clip {
			width:100%;
			overflow:hidden;
		}
		.jcarousel-prev, .jcarousel-next {
			position:absolute;
			top:20px;
			width:7px;
			height:21px;
			background:url('../img/gallery_arrows.gif') no-repeat 0 0;
			cursor:pointer;
		}
		.jcarousel-prev {
			left:0;
		}
		.ie6 .jcarousel-prev {
			
		}
		.jcarousel-next {
			right:0;
			background-position:-8px 0;
		}
		.ie6 .jcarousel-prev {
			right:-15px;
		}
		.jcarousel-prev-disabled,
		.jcarousel-next-disabled {
		  display: none;
		  visibility:hidden;
		}

		.moreLink {
			position:relative;
		}
		.moreLink:before {
			 right:-10px; 
			}
			

#bxHead .addllinks {
	position: absolute;
	margin-left:-51%
}
			

	#bxHead .addllinks ul li { display:inline !important; }
	
		#bxHead .addllinks ul li a { color:#FFF; }
		
		
#captcha_4 {/*
	width:100px !important;
	margin-left: 157px;
	margin-top: 5px;
	*/
}	


#addllinks-right {
	background:url(/common/img/link-bullet.png) no-repeat 0 center;
	padding-left:20px; 	
}

#addllinks-right li a { color:#4485D7; }

#addllinks-right li a:hover { text-decoration:none; }


h2.attation {
	background:#91140E;
	margin:-15px -15px 15px -15px;
	color:#FFF;
	padding: 7px 0 5px 15px;
}


/* footer section */
#bxFooter {padding-top:30px; padding-bottom:30px; border-top:1px solid #c0bfbf; font:11px/17px Arial,Tahoma,sans-serif; color:#585454;}
#bxFooter p {margin-top:0; margin-bottom:5px;}

#bxFooter .nav {display:inline; display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
#bxFooter .nav {font-size:11px; color:#585454;}
#bxFooter .nav:hover {text-decoration:none;}


#bxFooter .bxCol-1 .padder {padding:0;}
#bxFooter .bxCol-1 nav {display:inline; display:inline-block; *display:inline; *zoom:1; vertical-align:top; min-width:86px;padding-right:10px;}
#bxFooter .bxCol-1 nav a {font-size:11px; color:#585454;}
#bxFooter .bxCol-1 nav a:hover {text-decoration:none;}

#bxFooter .bxCol-2 nav li {display:inline; display:inline-block; *display:inline; *zoom:1; vertical-align:top; padding-right:10px;}
#bxFooter .bxCol-2 nav a {font-size:11px; color:#585454;}
#bxFooter .bxCol-2 nav a:hover {text-decoration:none;}
#bxFooter .bxCol-2 p {margin-bottom:20px;}


#qShare,
#copyrights {display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
#copyrights {margin-left:20px;}
/* End footer section */


/* ie6-7 plugin */
.ie6 .listing li,
.ie6 .text-w-photo li {-ms-childs:':first-child';}

.ie7 #content .text ul li,
.ie7 #content .file-type-zip,
.ie7 #content .file-type-pdf,
.ie7 #content .file-type-ppt,
.ie7 #content .file-type-doc,
.ie6 #content .file-type-zip,
.ie6 #content .file-type-pdf,
.ie6 #content .file-type-ppt,
.ie6 #content .file-type-doc,
.ie6 .listing li,
.ie6 #content .path li,
.ie7 #content .path li,
.ie7 .listing .mdash li,
.ie6 .navSub ul li a,
.ie6 #navSeconadry ul li a,
.ie7 .navSub ul li a,
.ie7 #navSeconadry ul li a,
.ie7 #content .file-type-xls,
.ie6 #content .file-type-xls,
.ie6 #content .collapse .tickedIn a,
.ie7 #content .collapse .tickedIn a,
.ie7 #content .collapse .tickedIn,
.ie6 .text-w-photo li,
.ie6 #content blockquote p,
.ie6 #content table th,
.ie6 #content table td,
.ie6 .cols3 li,
.ie7 #breadcrumb li,
.ie6 #breadcrumb li { behavior:url('/common/js/libs/iebun.htc'); }

/* end ie6-7 plugin*/

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#content .text:before, 
#content .text:after,
.section .box:before,
.section .box:after  { content: ""; display: table; }
#content .text:after,
.section .box:after { clear: both; }
#content .text,
.section .box {zoom:1;}
/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important;/* filter:none !important; -ms-filter: none !important;*/ } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


/*=============================*/






#id_print {background:none; max-width: 900px;  min-width: 600px; margin: 0 auto;}
#id_print a {text-decoration:none}
#id_print #print {padding:20px}

#id_print #print .path li:first-child:before,
#id_print #print #breadcrumb li:first-child:before {display:none;}
#id_print #print #breadcrumb li, #id_print #print #breadcrumb li a {color: #8D8D8D; font-size: 10px;}

#id_print #print .path,
#id_print #print #breadcrumb {position:relative; overflow: hidden; border-bottom: 1px solid #c7c7c7!important; padding-bottom:10px;}
#id_print #print .path {display:inline-block; *display:inline; *zoom:1;vertical-align:top; border:0;}

#id_print #print .path li,
#id_print #print #breadcrumb,
#id_print #print #breadcrumb li {display:block; zoom:1;}

#id_print #print .path li,
#id_print #print #breadcrumb li {float:left;}
#id_print #print .path li:before {display:inline-block; width:14px; font-size:10px; line-height:12px; content:'>'; text-align:center;}
#id_print #print #breadcrumb li:before {display:inline-block; width:14px; font-size:10px; line-height:12px; content:'>'; text-align:center;}

#id_print #print .text .teaser {
    background: url("/common/upload/img-logo_bw.gif") no-repeat left top;
    font-size: 12px;
    height: 64px;
    line-height: 18px;
    padding-left: 98px;
    padding-top: 14px;
    text-transform: uppercase;
	display: block;
}

#id_print nav , #id_print .nav,  #id_print .print_none {display:none}
#id_print .print_foot {border-top: 1px solid #C7C7C7!important; display: block; padding-top: 10px;}
#id_print .pr_print {position:absolute; right: 20px; top: 40px; width: 28%;}
#id_print .pr_print a, #id_print  .print_foot a{color:black; text-decoration:none}
#id_print .pr_print a:hover, #id_print  .print_foot:hover a{color:black; text-decoration:underline}
#id_print .pr_print .print_up{float:left; background: url("/common/upload/print_bw.gif") no-repeat left 1px; padding-left: 20px;}
#id_print .pr_print .close{float:right}
#id_print .logo_print img {float:left}
#id_print .logo_text {padding-left: 90px;  padding-top: 21px;  text-transform: uppercase;}

#main .print-links {
	background: url("/common/upload/print_bg_mgua.gif") no-repeat left 3px; 
	padding-left: 20px; 
	position: absolute;
    right: 3px;
    top: 30px;
}



.rel {position:relative}
.rel .bend_bg{position: absolute; right: -17px; bottom: -29px;}
.ban_bot {padding-left:42px}
.ban_bot .ban1{float:left}
.ban_bot .ban2{float:left}


.anounce_block{
    background-color: #E8E7DA;
    margin-left: 5%;
    margin-top: 0;
    padding: 15px 10px 20px 15px;
	height: 331px;
	border-bottom:10px solid #e8e7da
}

.anounce_block .anounce_text {padding-bottom:10px}
.anounce_block .anounce_date {font:11px arial; color: #9A9A9A;}


/*****Раскрывашка******/


.section {
	background: #EFEFEF;
	margin:30px 0;
}
ul.tabs {
	height: 28px;
	line-height: 31px;
	list-style: none;
	border-bottom: 1px solid #DDD;
	background: #FFF;
    padding-left: 0;
}
.tabs li {
	float: left;
	display: inline;
	padding: 0 13px 1px;
	color: /*#B11F24*/ #800000 ;
	cursor: pointer;
	position: relative;
	height: 27px;
	border-bottom:none;
	margin-left:10px;
	margin-right:10px;

}
.tabs li:hover,
.vertical .tabs li:hover {
	background: #EFEFEF;
        border-top:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    /*border-radius: 14px 14px 0 0;*/
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 12px 1px;
}
.tabs li.current {
    background: #EFEFEF;
    border-top:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    /*border-radius: 14px 14px 0 0;*/
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 12px 1px;
}
.box {
	display: none;
	border: 1px solid #D4D4D4;
    border-width: 0 1px 1px;
	background: #EFEFEF;
	padding: 0 12px;
}



.box.visible{
	display: block;
}

.section.vertical {
	width: 440px;
	border-left: 160px solid #FFF;
}
.vertical .tabs {
	width: 160px;
	float: left;
	display: inline;
	margin: 0 0 0 -160px;
}
.vertical .tabs li {
	padding: 0 13px;
	margin: 0 0 1px;
	border: 1px solid #E4E4E4;
	border-right: 1px solid #F9F9F9;
	width: 132px;
	height: 25px;
}
.vertical .tabs li:hover {
	width: 131px;
}
.vertical .tabs li.current {
	width: 133px;
	color: #444;
	background: #EFEFEF;
	border: 1px solid #D4D4D4;
  border-right: 1px solid #EFEFEF;
  margin-right: -1px;
}
.vertical .box {
  border-width: 1px;
}

/**********************************/


#bxHead .lk_block { 
	position: absolute;
    right: 300px;
    top: 2px;
    width: 100px;
}
	
#bxHead .lk_block a{color:#fff}

#div_open {padding: 45px 0px;}

.lk_tit {
	font:30px Trebuchet MS; 
	background: url("/common/img/cbxbg_top.png") no-repeat left top;
	padding-left:65px;
	padding-top: 40px;
	position:relative;
}

.lk_bot {
	background: url("/common/img/cbxbg_bot.png") no-repeat left bottom; 
	padding: 40px 85px 45px 70px;
	margin-top:-32px;
}


.lk_div1{font: italic 14px/18px arial; padding:30px 0 40px 0; border-top:1px solid #c7c7c7; margin-top: 20px;}
.lk_div1 span{vertical-align: middle;}

.lk_div2, .lk_div3, .lk_div4, .lk_div5, .lk_div6, .lk_div7 , .lk_div8   {font: 16px/24px arial; padding-left: 40px; padding-bottom: 12px; margin-left: 15px;}
.lk_div2 > p#blink2, .lk_div3 > p#blink2, .lk_div4 > p#blink2, .lk_div5 > p#blink2, .lk_div6 > p#blink2, .lk_div7  > p#blink2, .lk_div8  > p#blink2 {margin: 0; line-height: 1.2em !important; font-size:.7em;color:green;margin-top:-.4em important;position:relative;}

.lk_div2 {background:url(/common/img/mail_stud.gif) no-repeat left 1px}
.lk_div3 {background:url(/common/img/mail_bg.gif) no-repeat left 2px}
.lk_div4 {background:url(/common/img/mail_sotr.gif) no-repeat left 3px}
.lk_div5 {background: url(/common/img/eos.gif) no-repeat 6px 3px;}
.lk_div6 {background: url(/common/img/1c.png) no-repeat 6px 2px;}
.lk_div7 {background: url(/common/img/Elearn.png) no-repeat 6px 2px;}
.lk_div8 {background: url(/common/img/Elearn.png) no-repeat 6px 2px;}

.news_box {margin-left: 23px; margin-top: 15px; position:relative; border:1px solid #ccc; padding-bottom:10px; background:#F4F4EE}
.news_box a{text-decoration:none; font: 12px arial;}
.news_box a:hover{text-decoration:underline}
.news_box .news_box_date{color: #9A9A9A; font: 12px arial; padding:0 15px;}
.news_box  .news_box_text{padding:0 15px;}
.news_box_title_red, .news_box_title_green , .news_box_title_blue {padding: 7px 0 5px 15px; margin-bottom: 10px; color:#fff; font-weight:bold;}
.news_box_title_green {background:#6B8B20;}
.news_box_title_red {background:#8E130F;}
.news_box_title_blue {background:#46749E;}
.news_box  .bend_bg {bottom: -5px; position: absolute; right: -2px;}

.menu_right {border:1px solid blue}
#main .bxCol-1 nav {}

.news_box_list {padding-bottom:20px}
.news_box_list .date{margin:0; padding:0; font:12px arial; color:#9A9A9A}



.capcha_send td, .E-reception td, .capcha_btn td{border:none!important; text-align:left; padding:0!important}

.E-reception .left, .E-reception label {width:355px!important; font:14px/36px arial!important; vertical-align: middle!important;}
.E-reception .right {vertical-align: middle!important;}
.E-reception {width:90%!important}

.E-reception input, .E-reception select, .E-reception textarea { border-top: 1px solid #bcbebe; border-bottom:1px solid #e4e8e9; border-left:none; border-right:none; padding: 5px 2px 5px 5px;  font:14px arial; color:#3e3a3a}

.E-reception input{
	height:15px;
	min-width: 200px;
    width: 100%;
}

.E-reception select{width:438px}
.E-reception textarea{
	background:#fff!important;
	margin-top:3px;
	min-width: 200px;
    width: 100%!important;
}

.feedback {
	margin-top: 30px;
	background:#E8E7DA;
	max-width: 839px;
	padding:1px 30px;
	border: 1px solid #BCBEBE;
	position:relative;
}

.feed_bg_bot {position:absolute; bottom:-6px; right:-1px}

.capcha_send {margin-top:10px}
.capcha_send label {width:355px!important; vertical-align: middle!important; font:14px/36px arial!important}
.capcha_send input {vertical-align:middle!important;  font:14px arial; color:#3e3a3a}
.capcha_send .td1 {width:270px!important; vertical-align: middle!important}
.capcha_send .td2 {vertical-align: middle!important}
#captcha_4 {width:122px; height: 15px; padding: 5px 2px 5px 5px; border-top: 1px solid #bcbebe; border-bottom:1px solid #e4e8e9; border-left:none; border-right:none;}

.inp_string {float:left; padding:7px 15px 0 0}
.capcha_btn .td1 {width:270px!important; vertical-align: middle!important}
.capcha_btn .td2 {vertical-align: middle!important}
	.capcha_btn .td2 .tip {padding:25px 0 0 100px!important; margin:0!important}

.spacer_block_bot {border-bottom:1px solid #bcbebe; max-width:795px; width:100%}

.feed_bot {color: #8D8D8D; display: block; font: 10px/24px arial; padding-top: 25px;}
.feed_txt {color: #8D8D8D; font: 10px/24px arial;}



.director td, .dep_director td{border:none!important}
.director .td1{width:238px; padding-left:0!important}
.director .td2 {padding-left:0!important}
.director .img {float:left}
.director .name {padding-top:60px;}

.dep_director {float:left}
.dep_director  .direct_box{width:350px!important; height: 130px; margin-bottom: 10px; margin-right: 20px;}
.direct_box .td1 {width:112px;padding:0!important}
.direct_box td {padding:0!important}
.direct_box .img {float:left; padding:0px!important;}


.name .last_name {font: 19px/20px arial; color:#615e5c; padding-bottom:8px; display:block}
.name .first_name {font:14px arial; color:#615e5c}
.name .prof {font:12px arial; color:#000}

.img .img_border {border:1px solid #c7c7c7}
.guide_tab td{border:none!important}
.box h2{margin-top:0px!important}

.guide_tab  .directions  {}
.guide_tab  .directions  .img{padding-right:20px}
.guide_tab  .dep_director {margin-top:10px}
.guide_tab  .dep_director_block .img {margin-right:15px}
.guide_tab  .director .name {border-bottom:1px solid #bcbebe; height: 175px;}

.tab {border-bottom:1px solid #bcbebe;}



.filial table{border:none !important;}
.filial a{text-decoration:none !important}
.filial tr{border:none !important}
.filial td{border:none !important;}
.filial_text {font-size:18px; text-decoration:none !important; color:#605f5d; display: block;}
.filial_img{ margin-bottom: 0px !important; margin-right: 0px !important; float:none !important; padding-right:24px !important; padding-top:20px}

.table_grant td {border: medium none !important; padding: 15px 5px 15px 15px!important; }
.table_grant td  p {padding:3px 0 10px 0}
.table_grant .img {width:135px}
.table_grant .text {width:265px}

.mail_top {float:right; padding-top:15px}

#bxFooter .footer {width:100%}
#bxFooter .footer td{vertical-align:top}
#bxFooter .footer .td4{text-align:right}
#bxFooter .footer .td1 a, #bxFooter .footer .td2 a{color: #585454; font-size: 11px;}
#bxFooter .footer .td3 ul li {float:left; padding-right:20px}
#bxFooter .footer .td3 ul li a {color: #585454; font-size: 11px;}



/*============ Strukture ==========*/

.strukture_karta {border:2px solid #f4f4ee;}
.strukture_karta_bottom {border:2px solid #f4f4ee;}
.strukture_karta_bottom li{padding: 5px 25px !important; margin: 0px !important; background:none; list-style: none !important}
.strukture_karta_bottom a{text-decoration:none}
.strukture_table {border:none !important}
.strukture_table tr{border:none !important}
.strukture_table td{border:none !important; padding:0px !important}
.teaser {border:none !important}
    .teaser table{border:none !important}
	.teaser th{width:224px; background:none; border:0; padding:0px 0px 0 0; text-align: left; border:none !important}
	.teaser td{border:0; padding:0px 0 0 0px; font: 12px/15px Arial, sans-serif; border:none !important; padding: 0px !important}
	.teaser td p{margin:0px 0 23px 0; border:none !important}

 .str_blok1 { padding: 5px;}
 .str_blok2 { padding: 5px; margin-bottom:25px}
 .str_blok3 { padding: 5px; width: 160px; float: left}
 .str_centr {background: url(/common/img/str_top.gif) no-repeat left top;  width: 18px; padding: 0px !important}
 .str_top   {background: url(/common/img/str_top.gif) no-repeat left top;  width: 18px; padding: 0px !important}
 .str_bottom {background: url(/common/img/str_bottom.gif) no-repeat left bottom;  width: 18px; padding: 0px !important}
 .str_razd  {background: url(/common/img/str_razd.gif) no-repeat left top;  width: 18px; padding: 0px !important}
 .str_razd2 {background:none;  width: 18px; padding: 10px 0}

.st-org {width: 653px;  height: 40px;  font: 12px/15px Arial, sans-serif;}
.st-org a { color:#c62220;}
.coll {padding-bottom: 0px !important; margin-bottom: 0px !important; border:none !important;  list-style:none}
.coll_3{ background: url(/common/img/strelka_b.gif) no-repeat left 12px !important; list-style:none}
.coll .coll_2 {padding: 5px 25px !important; margin: 0px !important; background: url(/common/img/strelka_b_b.gif) no-repeat left 11px;}

.coll_a3 {background: url(/common/img/strelka_a.gif) no-repeat left 6px !important; list-style:none; padding-left: 15px;}
.coll_a2 {background: url(/common/img/strelka_a_a.gif) no-repeat left 11px  !important; }

.main_block_menu {margin-bottom:0px}
.main_block_menu a{padding-top:14px; text-decoration:none; display:block !important; text-align: center; height: 32px; color:#c25859; font-size:14px !important; background:url(../img/strelka.gif) no-repeat 76px 10px #f4f4ee;}
.main_block_menu a strong{border-bottom: 1px dashed;}
.main_block_menu a strong:hover{border-bottom: none;}
.main_block_menu a:hover {background:#ecece6; color:#c25859}
.main_block_menu a.selected {color:#8d8d8d; text-decoration:none !important; background:url(../img/strelka_select.gif) no-repeat #fff;}
.main_block_menu a.selected strong{border-bottom: none;} 

.center_center_block {margin-left:34px}
#ar_1, #ar_2, #ar_3 {position:relative !important;}
.gray {color:#8d8d8d !important;}


/* ======= Strukture 2 ========== */

.struk_all_table {border:none !important; width:75%;  padding:0px !important}
.struk_all_table td{border:none !important; padding:0px !important}
.ugl_block{border:1px solid #c7c7c7; border-right:none;  padding-left:28px; height:46px; width:290px; 
background: #f4f4ee; position: relative; font-size:16px;  padding-top:10px;}
.ugl_block a{color:#b01f23; text-decoration:none}
.ugl_block1{background:#f4f4ee; height:58px; width:15px; position:absolute; bottom: -1px; right: 0;}
.ugl_block2{border:1px solid #c7c7c7; border-right:none;  padding-left:28px; height:46px; width:537px; position: relative; font-size:16px; color:#b01f23; padding-top:10px;}
.ugl_block2 a{color:#222222; text-decoration:none}
.ugl_block3{height:58px; width:15px; position:absolute; bottom: -1px; right: 0;}
.strukture_table_block {border:none !important;}
.strukture_table_block td{border:none !important}

.str_centr_1 {background: url(/common/img/str_centr_1.gif) no-repeat right -10px;  width: 54px; padding: 0}
.str_top_1   {background: url(/common/img/str_top_1.gif) no-repeat right 20px !important;  width: 54px; padding: 0}
.str_bottom_1 {background: url(/common/img/str_bottom_1.gif) no-repeat right -15px;  width: 54px; padding: 0}
.str_razd_1  {background: url(/common/img/str_razd_1.gif) no-repeat 23px top;  width: 54px; padding: 0}
.str_razd2 {background:none;  width: 33px; padding: 10px 0; height: 50px;}
.str_razd3 {background: url(/common/img/str_razd_3.gif) no-repeat left top !important;  width: 54px; padding: 0}


#main .links_rb {background-color: #F4F4EE; border:1px solid #C7C7C7; margin: 20px 0 0 24px;  padding: 20px 10px 10px; width:231px}
#main .bxBanners .links_rb {background-color: #F4F4EE; border:1px solid #C7C7C7; margin: 20px 0 0 -10px;  padding: 20px 10px 10px; width:231px}
#main .links_rb ul li{background: url("/common/img/link-bullet.png") no-repeat left 3px;  padding-left: 17px; padding-bottom: 10px;}
#main .links_rb #addllinks-right{background:none; padding:0}

.padder .ban_main {padding: 0;}
.ban_main {padding: 15px 0 0 30px;}

.right-banners .padder .ban_main {padding: 0;}

.right-banners .ban_main {padding: 15px 0 0 24px; margin-bottom:-17px; margin-left: -6px;}
.right-banners .ban_main table {
    width: 100%;
    
    
    border-collapse: separate;
    border-spacing: 7px;
}
.right-banners .ban_main td {
    vertical-align: middle;
    text-align:center;
    
    border: 1px solid #c7c7c7;
    height: 120px;
}
.right-banners .ban_main td a {
   
    
}
.right-banners .ban_main td img {
        width: 113px;
        height: auto;
        display:block;
        padding: 3px;
         
}

.right-banners .ban_bot img{
     border: 1px solid #c7c7c7;
        padding: 3px;
}
.right-banners  .text .ban_bot {
    padding-left:36px;
}
.right-banners  .text .ban_bot img{
     border: 0;
        padding: 3px;
}

.font12 {font-size:12px}




.online {width:100% !important;}
	.online td {border:0px solid #fff !important; padding-bottom:5px !important;}
	.online input[type="text"] {border: 1px solid #bcbebe; border-bottom:1px solid #e4e8e9; border-left:1px solid #e8e7da; border-right:1px solid #e8e7da; padding: 5px 2px 5px 5px;  font:14px arial; color:#3e3a3a; width:92%;}
	.online select {border: 1px solid #bcbebe; border-bottom:1px solid #e4e8e9; border-left:1px solid #e8e7da; border-right:1px solid #e8e7da; padding: 4px 2px 4px 5px;  font:14px arial; color:#3e3a3a}
	.online .inp20 {width:100px !important;}
	.online .inp50 {width:50% !important;}

	
#cboxContent {background:#E8E7DA; border: 1px solid #BCBEBE!important;}


.main_news .news_belt{
	position: absolute; /*leave this value alone*/
	left: 0;
	top: 0;
}
.main_news .main_news_line{
	float: left; /*leave this value alone*/
	overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
	margin: 10px; /*margin around each panel*/
	width: 950px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}
#news_tab {position:relative; height:342px; overflow: hidden;}

#news-paginate {padding-left:45%; padding-right:50px; padding-top:10px; padding-bottom:10px}
	#news-paginate img {margin-left:7px;}

	
#news-paginate {
	text-align: center;
	padding: 10px 0 !important;
}

	#news-paginate ul {
		display: inline-block;
		text-align: center;
	}
		.ie7 #news-paginate ul,
		.ie6 #news-paginate ul { display: inline; zoom:1; }

		#news-paginate li {
			float: left;
			margin-left:7px;
			width: auto;

		}

			#news-paginate li a {
				color: #B9B9B9;
				font: 11px;
			}

			#news-paginate li a.focused {
				color: #2B8001;
			}

	.main-news-sub-links {
		padding-bottom: 10px;
		text-align: right
	}
		
.conf-list-main {}

	.conf-list-main ul {
		/*min-height: 298px;*/
	}

	.conf-list-main .wrapper-bl {
		height: 328px;
	}

	.anounce_block_content {
		min-height: 328px;
	}

		.conf-list-main ul,
		.conf-list-main ul li {
			padding: 0;
			margin: 0;
			list-style:none;
		}

		.conf-list-main ul li {
			margin-top: 10px;
			color: #615E5C;
		}

		.conf-list-main ul li:first-child { margin-top: 0; }

	.conf-list-main h3 {
			margin: 15px 0 10px 0;
			font-size: 12px;
			color: #9A9A9A;
		}

		.conf-list-main h3:first-child {
			margin-top: 0;
		}

	.conf-list-main .sub-links a span {
		text-transform: lowercase;
	}


.sub-links.v2 {
	text-align: right;
}

.sub-links.v2 a {
	color: #91140e !important;
	font-size: 10px;
}

.bottom-banners {
    border-bottom: 1px solid #c0bfbf;
    margin-top: -11px;
    margin-bottom: 30px;
    
}

	.bottom-banners ul,
	.bottom-banners ul li {
		padding: 0;
		list-style: none;
	}

	.bottom-banners ul {
		text-align:center;
		margin: 0 !important;
	}

		.bottom-banners ul li {
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 15px;
			*display:inline;
            *zoom:1;
		}

		

			.bottom-banners ul li .img {
				padding: 3px;
				border: 1px solid  #c7c7c7; 
				display: inline-block;
                *display:inline;
                *zoom:1;
			}

				.bottom-banners ul li .img img {
					height: 59px;
					width: auto;
                    display:block;
				}

.foto_img {}

	.foto_img a {
		display: block;
		padding: 2px;
		border: 1px solid #000;
	} 


	#content table.photogallery-table th,
	#content table.photogallery-table td {
		border:none;
	}
	#content table {margin-bottom: 1em;margin-top: 1em;}
	

/* Титульная блоки мероприятий */
#boxes .padder {height: 515px;}
.anounce_block {height: 440px;}
.anounce_block_content {min-height: 440px;}
/* Титульная блоки мероприятий */

/* Титульная границы картинок  главных новостей */
.main_news_line .wrap .img img {
  margin: 0 1.5em;
  padding: 1px;
  border-style: inset;
  border-color: rgb(176, 31, 35);
  border-width: 2px;
}
/* Титульная границы картинок  главных новостей */