﻿

/* Simple classes */
.hide_el, .inner_page_content.hide_el {
  display: none;
}
#disable_vers.enabled span {
  display: none;
}
#disable_vers .full_vers {
  display: none;
}
#disable_vers.enabled .full_vers {
  display: block;
}

.top_head li.important_links ul li.disable_panel, .disable_panel {
  display: none;
  width: 100% !important;
  padding: 0 !important;
  height: 30px;
  border: 1px solid;
  margin-top: 25px;
  background-color: #979798 !important;
  font-size: 22px !important;
}



.clearfix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}
.no_margin {
  margin: 0 !important;
}


hr.sep {
  height: 1px;
  width: 100%;
  background-color: #e0e2e2;
  margin: 10px 0;
  border: 0;
}

/* /Simple classes */
* {
  box-sizing: border-box;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;

  z-index: 1;
  outline: none;

  -webkit-transition: background 0.2s linear;
  /*-moz-transition: background 0.2s linear;*/
  /*-o-transition: background 0.2s linear;*/
  /*transition: background 0.2s linear;*/
}

i {
  -webkit-transition : border 0.1s linear;
  -moz-transition : border 0.1s linear;
  -o-transition : border 0.1s linear;
  transition : border 0.1s linear;
}

*:after {
  -webkit-transition : all 0.1s linear;
  -moz-transition : all 0.1s linear;
  -o-transition : all 0.1s linear;
  transition : all 0.1s linear;
}

a {
  display: inline-block;
  zoom: 1;
}

.white {
  background-color: #fff;
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
  background: #f8f2d7!important;
  min-width: 980px;
}


/* header */

.wrapper_container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  z-index: auto;
}

header {}

.top_head {
  text-align: justify;
  /*font-size: 0;*/
  /*height: 125px;*/
}
.top_head > ul > li {
  padding-top: 30px;
  padding-bottom: 20px;
}
.top_head li {
  text-align: left;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin-right: -5px;

}
.top_head li.logo {
  width: 100px;
  padding: 0;
  /*position: relative;*/
}
.top_head li.logo a {
  display: block;
  position: relative;
  bottom: -10px;
}
.top_head li.logo a img {
  height: 110px;
  width: 110px;
}
.top_head li.logo .corner {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 20px 0 20px;
  border-color: #f6f2d7 transparent transparent transparent;
  position: absolute;
  bottom: -16px;
  left: 35px;
  z-index: 9;
}
.top_head li.logo_text {
  /*width: 255px;*/
  width: 300px;
  padding-left: 20px;
  /*padding-right: 10px;*/
}

.top_head li.logo_text p {
  font-family: mainbanner;
  font-size: 19px;
  padding: 0;
  line-height: 1em;
  color: #000;
  margin-bottom: 10px;
}
.top_head li.logo_text span.little_text {
  font-family: "Georgia";
  font-style: italic;
  font-size: 14px;
  color: #847f7f;
}

.top_head li.contacts {
  width: 200px;
  text-align: right;
  font-size: 0;
}
.top_head li.contacts > div {
  text-align: center;
  font-size: 13px;
  line-height: 1.2;
  display: inline-block;
}
.top_head li.contacts span {
  display: block;
}
.top_head li.contacts a {
  display: block;
  margin-top: 5px;
  color: #980000;
  /*font-size: 24px;*/
  font-size: 12px;
  /*font-weight: bold;*/
  font-family: "AvenirNextCyrBold";
}

.top_head li.important_links {
  width: 370px;
}
.top_head li.important_links ul {
  text-align: right;
  /*font-size: 0;*/
}
.top_head li.important_links ul li {
  display: inline-block;
  width: 94px;
  position: relative;
  padding: 0 5px;
}
.top_head li.important_links ul li:after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  border-right: 1px solid #ded4a6;
}
.top_head li.important_links ul li:last-child:after {
  border-right: 0;
}
.top_head li.important_links ul li a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
}
.top_head li.important_links ul li a img {}
.top_head li.important_links ul li a span {
  display: block;
  font-size: 13px;
  color: #626262;
}
.top_head li.important_links ul li a:hover span {
  text-decoration: underline;
}

.top_head li.important_links ul li .important_info {
  color: #980000;
}





/* Footer */

footer {
  background-color: #501619;
  color: #ffffff;
  padding: 30px 0;
}
footer a {
  color: #ffffff;
  text-decoration: underline;
}

footer a:hover{
  color: #c66f6f;
}

footer p.phonebook {
  margin-top: 20px;
}

footer .top {}
footer .top ul {
  text-align: justify;
  /*font-size: 0;*/
}

footer .top ul:after {
  content: "";
  height: 0;
  width: 100%;
  visibility: hidden;
  display: inline-block;
}
footer .top ul li {
  display: inline-block;
  font-size: 14px;
  text-align: left;
  vertical-align: top;
  line-height: 1.25;
  margin-left: -4px;
}
footer .top .wrapper_container > ul > li {
  min-height: 200px;
}
footer .top .wrapper_container > ul > li.col_1 {
  width: 270px;
  padding-right: 62px;
}
footer .top .wrapper_container > ul > li.col_2 {
  width: 220px;
}
footer .top .wrapper_container > ul > li.col_3 {
  width: 240px;
}
footer .top .wrapper_container > ul > li.col_4 {
  width: 250px;
}

footer .top ul li.col_3 .foot_info {
  margin-bottom: 10px;
}
footer .top ul li h4 {
font-family: "AvenirNextCyrBold";
font-size: 16px;
color: #ebd991;
margin-bottom: 20px;
}


footer .top ul li .foot_info + h4 {
  padding-top: 10px;
}
footer .top ul li .foot_info {}
footer .top ul li .foot_info p {
  margin-bottom: 15px;
}
footer .top ul li .feedback {
}

footer .top ul li .feedback a:first-child {
  margin-right: 20px;
}

footer .top ul li .foot_info a.phone_num {
  display: block;
  width: 115px;
  min-width: 0;
  text-decoration: none;
  cursor: default;
}
footer .top ul li .foot_info a.phone_num:hover {
  color: #ffffff;
}
footer .top ul li .foot_info a.big_phone {
  cursor: default;
  text-decoration: none;
  display: block;
  font-size: 18px;
  width: 150px;
}
footer .top ul li .foot_info a.big_phone:hover {
  color: #ffffff;
}

footer .top ul li .foot_info span.small {
  font-size: 12px;
}

footer .top ul li .foot_info .socials, .socials {
  text-align: left;
}
footer .top ul li .foot_info .socials li, .socials li {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
footer .top ul li .foot_info .socials li a img, .socials li a img {
  width: 35px;
  height: 35px;
  display: inline-block;
  opacity: 1;
  position: absolute;
}
footer .top ul li .foot_info .socials li a img.to-hover, .socials li a img.to-hover {
  opacity: 0;
}
footer .top ul li .foot_info .socials li a:hover img, .socials li a:hover img {
  opacity: 0;
}
footer .top ul li .foot_info .socials li a:hover img.to-hover, .socials li a:hover img.to-hover {
  /*display: inline-block;*/
  opacity: 1;
}
/*footer .top ul li .foot_info .socials li.vk {*/
  /*background: url("../img/vk.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.vk:hover {*/
  /*background: url("../img/vk_active.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.tw {*/
  /*background: url("../img/tw.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.tw:hover {*/
  /*background: url("../img/tw_active.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.fb {*/
  /*background: url("../img/fb.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.fb:hover {*/
  /*background: url("../img/fb_active.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.inst {*/
  /*background: url("../img/inst.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.inst:hover {*/
  /*background: url("../img/inst_active.png") no-repeat center;*/
/*}*/
footer .top ul li .foot_info .socials li a, .socials li a {
  width: 100%;
  height: 100%;
}

.top_head .socials {
  margin-bottom: 5px;
}
.top_head .socials {}
.top_head .socials li {
  margin-right: 5px;
}
.top_head .socials li a {
  margin-top: 0;
}

footer .top ul li .foot_info .partners {}
footer .top ul li .foot_info .partners li {
  min-height: auto;
  margin-bottom: 14px;
}
footer .top ul li .foot_info .partners li a {}

footer .bottom {
  overflow: hidden;
}
footer .bottom .copy {
  width: 730px;
}
footer .bottom .copy p {
  color: #ebd991;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .bottom .copy a {
  font-size: 12px;
  text-decoration: underline;
}

footer .bottom .search_block {
  margin-left: 730px;
}
footer .bottom .search_block .input_container {
  margin: 0 0;
  position: relative;
  color: #000;
  font-size: 12px;
}
footer .bottom .search_block input {
  padding: 8px 40px;
  /*width: 240px;*/
  width: 100%;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
footer .bottom .search_block input:focus {
  padding-left: 10px;
}
footer .bottom .search_block input:focus + button {
  left: 210px;

  /*right: 5px;*/
}

footer .bottom .search_block button:active {
  left: 210px;
}
footer .bottom .search_block button {
  background: none;
  font-size: 18px;
  border: 0;
  color: #abaaaa;
  position: absolute;
  left: 5px;
  right: auto;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 1s;
}
footer .bottom .search_block button:hover {
  color: #980000;
}

/* /Footer */

.inner_page {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container.body-content{
  padding-top: 20px;
  padding-bottom: 40px;
  background: #fff;
}

ol, ul {
  list-style: none;
  padding: 0;
}

@font-face {
  font-family: mainbanner; /* Гарнитура шрифта */
  src: url(/local/templates/main/css/mainbanner2.ttf); /* Путь к файлу со шрифтом */
}