.container {
    width: 970px !important;
}

.msf *,
.msf *::before,
.msf *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.msf-view {
    display: none;
}

.required {
	color: #ff0000;
}

.form-horizontal .form-group>span{
    display: none;
}

.form-group,
.form-horizontal .form-group {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

.msf .form-group {
	padding-left: 15px;
	padding-right: 15px;
}

.form-horizontal .form-group .input-validation-error ~ span{
    display: block;
    color: red;
    margin-top: 3px;
    font-size: 12px;
    position: absolute;
}

.msf .btn.btn-primary,
.msf-popup .btn.btn-primary {
	color: #fff;
	border-color: #980000;	
	background: #980000 !important;
}

.msf .btn.btn-primary:hover,
.msf .btn.btn-primary:active,
.msf .btn.btn-primary:focus,
.msf-popup .btn.btn-primary:hover,
.msf-popup .btn.btn-primary:active,
.msf-popup .btn.btn-primary:focus {
	border-color: #501619;	
	background: #501619 !important;
}

.msf-content{
    min-height: 300px;
}

.msf-navigation {
    text-align: center;
    padding: 0 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top: 30px;
    margin-bottom: 30px;
}

.msf-nav-button {
    display: none;
}

.msf-header {
    padding-top: 10px;
    margin-bottom: 40px;
    color: #ccc;   
    padding-left: 15px;
    padding-right: 15px;
}

.msf-header__top {
	margin-bottom: 15px;
}

.msf-header__column {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1.5em;
	line-height: 1;
}

.msf-header__column:last-child {
	margin-right: 0;
}

.msf-header__column_logout {
	float: right;
	padding: 8px 0;
}

#formstatus + div .msf-header__column_logout,
#formstatus + form .msf-header__column_logout {	
	padding: 12px 0 0;
}

.msf-header__status {
	font-size: 20px;
	color: #333;
}

.msf-header__column .msf-header__status {
	margin-bottom: -2px;
}

.msf-header .msf-step {
/*    margin-right: 10px;
    font-size: 12px;
    display: inline-flex;
    display: inline-flex;
    vertical-align: middle;
    display: table-cell;
    display: inline;
    background: #999999bd;
    line-height: normal;
    padding: 6px 38px;
    margin: 0px;
    width: 100%;
    font-weight: 700;    */
    margin-right: 10px;
    font-size: 11px;
    display: inline-flex;
    vertical-align: middle;
    display: table-cell;
    display: inherit;
    background: #999999bd;
    line-height: normal;
    padding: 5px 10px;
    margin: 0px;
    /* width: 100%; */
    font-weight: 500;
    display: inline-flex;
}

.msf-step a {
	color: inherit;
	text-decoration: none;
}

.msf-step:hover a {
	color: #fff;
}

.msf-header .msf-step i.fa {
    height: 30px;
    width: 30px;
    line-height: 24px;
    text-align: center;
    border: 3px solid #777;
    border-radius: 100%;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.msf-header .msf-step.msf-step-complete {
    color: #fff;
    background: #999;
}

.msf-header .msf-step.msf-step-complete i.fa {
    border-color: green;
}

.msf-header .msf-step.msf-step-incomplete {
    color:red;
    color:#fff;
}

.msf-header .msf-step.msf-step-incomplete i.fa {
    border-color: red;
}

.msf-header .msf-step.active,
.msf-header .msf-step.active.msf-step-complete,
.msf-header .msf-step.active.msf-step-incomplete {
    color: #fff;
    text-align: left;
}

.msf-header .msf-step.msf-step-active i.fa,
.msf-header .msf-step.msf-step-active.msf-step-complete i.fa,
.msf-header .msf-step.msf-step-active.msf-step-incomplete i.fa  {
    border-color: blue;
} 

/* POPUP */
.msf-popup {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.4; 
}

.msf-popup__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #fff;
    background: rgba(255,255,255,0.5);
}
.msf-popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 40px;
    width: 536px;
    max-width: 90%;
    max-height: 80%;
	-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
	text-align: center;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background: #fff; 
}
.msf-popup__close {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 3;
    width: 16px;
    height: 16px;
    color: #fff;
    cursor: pointer;
      -webkit-transform-origin: center center;
         -moz-transform-origin: center center;
          -ms-transform-origin: center center;
           -o-transform-origin: center center;
              transform-origin: center center; 
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    -moz-transition: transform 0.4s, -moz-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s, -moz-transform 0.4s, -o-transform 0.4s; 
}
.msf-popup__close::before, 
.msf-popup__close::after {
	content: "";
	position: absolute;
	right: 7px;
	top: -3px;
	  width: 3px;
	  height: 20px;
	  background: #000;
	  -webkit-transform-origin: center center;
		 -moz-transform-origin: center center;
		  -ms-transform-origin: center center;
		   -o-transform-origin: center center;
			  transform-origin: center center; 
  }
.msf-popup__close::before {
  -webkit-transform: rotate(45deg);
	 -moz-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	   -o-transform: rotate(45deg);
		  transform: rotate(45deg); 
  }
.msf-popup__close::after {
  -webkit-transform: rotate(-45deg);
	 -moz-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	   -o-transform: rotate(-45deg);
		  transform: rotate(-45deg); 
}
.msf-popup__close:hover {
  -webkit-transform: rotate(180deg);
	 -moz-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
	   -o-transform: rotate(180deg);
		  transform: rotate(180deg); 
}
.msf-popup__btns .btn {
	margin: 5px 10px;
}   
/* end POPUP */

.input-validation-error {
    border-color: red;
    outline: 0;
}

.input-validation-error:focus {
    border-color: red;
    outline: 0;
}

.progress {
    height: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar-success {
    background-color: #ddd;
}

.form-check-label,
label{
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.form-check-label,
.custom-control-label[for='emptyDocuments'],
.custom-checkbox,
.custom-control-label{
    font-weight: 500;
}

.form-check-label[for='DocumentType2']{
    font-weight: 700;
}

label.error{
    font-weight: 500;
    color: #980000;
    font-size: 12px;
    margin-bottom: 0;    
    width: 100%;
}

.msf-navigation .btn-primary,
#registrationbtn{
    color: #fff;
    background-color: #980000;
    border-color: #980000;
}