.prepod-info {
    position: relative;
}

.prepod-img {
    float: right;
    max-width: 100%;
    max-height: 160px;
}
.portfolio-group{
    margin: 20px 0;
}
.portfolio-group  .panel-heading{
    cursor: pointer;
}
.inner_page_content p.panel-title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: 700;
}
.inner_page_content .panel-default>.panel-heading{
    background-color: #f8f2d7;
}
.panel-default>.panel-heading:hover{
    border: 1px solid black;
    padding: 9px 14px;
}
.vedomosti table td, .vedomosti table th {
    text-align: center;
    padding: 10px 0;
}

.vedomosti__name {
    font-size: 13px;
}

.vedomosti__lector {
    font-size: 10px;
}

.datems {
    border-style: hidden;
    color: maroon;
    cursor: pointer;
}

body .vedomosti__table thead tr th, body .table thead tr th {
    font-family: inherit;
    padding: 8px;
}

.vedomosti__table {
    table-layout: fixed;
    width: 100%;
}

.vedomosti__table td {
    vertical-align: middle;
    padding: 0;
}

.modal-content .modal button {
    width: auto;
    height: auto;
}

.modal-content .modal button {
    width: 78px;
    height: 78px;
}

.modal button.close {
    height: 25px;
    opacity: .8;
    font-size: 17px;
    position: fixed;
    right: 2%;
}
.modal button.close:hover {
    opacity: 1;
}

.modal-body * {
    font-size: 16px;
    padding: 2px;
}

.points {
    color: #5daf1d;
}

.points:hover {
    text-decoration: underline;
    cursor: pointer;
}
.modal-header ul{
    margin-left: 0;
    padding: 5px 0;
}
.modal-header ul li{
    list-style-type: none;
}
#moduleBm .modal-dialog{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.table>tbody>tr>td{
    text-align: center;
}
.onemodule table tbody tr:not(:first-child) td:not(:first-child){
    text-align: center;
}
.onemodule .bmheader{
    word-break: break-all;
}
/*симуляция прокрутки сверху*/
.wrapper1 {
    height: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}
.div1 {
    height: 20px;
}
.js-ball{
    max-width:50px;
    text-align: center;
}
.js-save{
    position: fixed;
    right: 10%;
    top: 10px;
}
#moduleBm .js-save{
    position: fixed;
    right: 12%;
    top: 28px;
}
.close-btn{
    color: green;
}
.tdname{
    position: fixed;
    width: 215px;
    background: white;
    height: 100%;
    left: 0;
    border-right-style: solid;
    border-right-width: 1px;

}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* стили только для IE10 */
    .tdname{
        position: absolute;
        width: 215px;
        background: white;
        height: 100%;
        left: 0;
        border-right-style: solid;
        border-right-width: 1px;

    }
    .js-save{
        position: absolute;
        right: 10%;
        top: -40px;
    }
    .close-btn{
        color: green;
        position: absolute;
        right: 2%;
    }

}

tr:nth-child(odd) .tdname{
    background: #f9f9f9;
}
/*расписание*/
body .prepod_schedule__table thead tr th, body .table thead tr th {
    font-family: inherit;
    padding: 8px;
}
body .prepod_schedule__table thead tr th, body .table thead tr th {
    font-family: inherit;
    padding: 8px;
}
.prepod_schedule__table {
    table-layout: fixed;
    width: 100%;
}

.prepod_schedule__table th:first-child {
    width: 5%;
}

.prepod_schedule__table td {
    vertical-align: middle;
    padding: 5px;
}
.schedule__name {
    font-size: 13px;
}
.prep-scheule__btn{
    margin-top: 10px;
}