.feed-add-com-button {
	display: inline-block !important;
	height: 39px;
	line-height: 40px;
	margin: 2px 15px 0 0 !important;
	vertical-align: middle !important;
	position: relative !important;
	min-width: 95px;
}

.feed-add-com-button .feed-add-button-left {
	background: url("images/sprite_mpf_5.png") no-repeat 0 -240px;
	height: 25px;
	display: inline-block;
	vertical-align: top;
	width: 4px;
}

.feed-add-com-button .feed-add-button-text {
	background: url("images/sprite_mpf_5.png") no-repeat 0 -267px;
	height: 23px;
	font-size: 12px;
	padding: 2px 10px 0;
	color: #7a808c;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	display: inline-block;
	font-weight: bold;
	vertical-align: top;
}

.feed-add-com-button .feed-add-button-right {
	background: url("images/sprite_mpf_5.png") no-repeat -7px -240px;
	height: 25px;
	display: inline-block;
	vertical-align: top;
	width: 4px;
}

.feed-add-com-button:hover .feed-add-button-left {
	background-position: -13px -240px !important;
}

.feed-add-com-button:hover .feed-add-button-text {
	background-position: 0 -294px !important;
}

.feed-add-com-button:hover .feed-add-button-right {
	background-position: -20px -240px !important;
}

.feed-add-com-button.feed-add-button-press .feed-add-button-left {
	background-position: -44px -243px !important;
}

.feed-add-com-button.feed-add-button-press .feed-add-button-text {
	background-position: 0 -356px !important;
	color: #5c6470 !important;
}

.feed-add-com-button.feed-add-button-press .feed-add-button-right {
	background-position: -51px -243px !important;
}

.feed-add-post-files-list-wrap {
	margin-left: 56px;
	zoom: 1;
}

.feed-add-post-files-list {
	margin-top: -8px;
	table-layout: fixed;
	width: 100%;
}

.feed-add-post-files-list td {
	box-shadow: 0 -2px 0 -1px #FFFFFF inset;
	border-bottom: 1px solid #dde5e8;
	color: #5c6470;
	font-size: 12px;
	line-height: 16px;
	padding: 10px 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.feed-add-post-files-name {
	width: 26%
}

.feed-add-post-files-size {
	width: 12%
}

.feed-add-post-files-storage {
	width: 62%
}

.feed-add-post-files-text {
	color: #2067b0;
	display: block;
	font-weight: bold;
	position: relative;
}

.feed-add-post-f-wrap {
	display: inline-block;
	max-width: 85%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.feed-add-post-files-text .feed-add-post-del-but {
	background-position: 6px -19px;
	display: inline-block;
	margin-top: -2px;
	position: static;
	vertical-align: top;
}

.feed-add-post-files-text .feed-add-post-del-but:hover {
	background-position: -59px -60px;
}

.feed-add-post-stor-place {
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}

.feed-add-post-stor-text {
	display: inline-block;
	border-bottom: 1px solid #5c6470;
}

.feed-add-post-stor-pl-arrow {
	background: url("images/sprite_mpf_5.png") no-repeat -130px -23px;
	display: inline-block;
	margin-left: 10px;
	height: 5px;
	vertical-align: middle;
	width: 3px;
}

.feed-add-post-edit-stor {
	background: url("images/sprite_mpf_5.png") no-repeat 4px -64px;
	cursor: pointer;
	display: inline-block;
	height: 15px;
	margin-left: 5px;
	vertical-align: middle;
	width: 15px;
}

.feed-add-post-files-path,
.feed-add-post-files-path:visited,
.feed-add-post-files-path:active,
.feed-add-post-files-path:link,
.feed-add-post-files-path:hover {
	border-bottom: 1px solid #5C6470;
	display: inline-block;
	color: #5C6470;
	margin-left: 10px;
	text-decoration: none;
}

.feed-add-error-load .feed-add-post-f-wrap {
	color: #bb0000;
}

.feed-add-error-text {
	color: #5c6470;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	margin: -2px 0 0 0;
}

.feed-load-file {
	font-size: 120px;
	height: 85px;
	opacity: 0;
	filter: alpha(opacity=0);
	left: -250px;
	top: -20px;
	position: absolute;
}

.feed-add-post-list-file {
	display: inline-block;
	border-bottom: 1px dashed #2067b0;
	line-height: 12px;
	color: #2067b0;
	cursor: pointer;
}

.feed-add-post-load-pl-text {
	color: #5c6470;
	font-size: 12px;
	margin-left: 58px;
	padding-bottom: 11px;
}

.feed-add-file-but {
	overflow: hidden;
	position: relative;
}

.feed-add-post-p {
	background-position: -141px -208px !important; /*margin-left:-3px;*/
	padding-left: 23px;
}

.feed-post-item .feed-add-post-p {
	margin-left: 0;
}

.feed-add-photo-block-wrap {
	margin-top: -17px;
}

.feed-add-photo-block {
	display: inline-block;
	margin: 17px 17px 0 0;
	min-height: 92px;
	width: 102px;
	padding-right: 21px;
	position: relative;
	vertical-align: top;
}

.feed-add-photo-block .feed-add-post-del-but {
	background-position: 6px -19px;
	background-color: #fff;
	height: 22px;
	top: 1px;
	z-index: 100;
}

.feed-add-img-wrap {
	background: #fff;
	border: 1px solid #e2e6e6;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 2px rgba(137, 137, 137, 0.3);
	display: block;
	text-align: center;
	padding: 4px;
	position: relative;
	z-index: 2;
}

.feed-add-img-title {
	color: #2067b0;
	display: block;
	font-weight: bold;
	font-size: 12px;
	margin-top: 3px;
}

.feed-add-photo-block .feed-add-close-icon {
	background-color: #fff;
	background-position: 8px -19px;
	height: 22px;
	top: 1px;
	right: 1px;
	width: 22px;
}

.feed-add-photo-block .feed-add-post-del-but {
	background-color: #fff;
	background-position: 8px -19px;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 20px;
	position: absolute;
	width: 20px;
}

.feed-add-photo-block .feed-add-close-icon:hover {
	background-position: -57px -60px;
}

.feed-add-photo-bl-error .feed-add-img-title {
	color: #bb0000;
}

.feed-add-img-error {
	background: #9a2b2d;
	display: block;
	height: 92px;
	position: relative;
}

.feed-add-img-er-icon {
	background: url("images/sprite_mpf_5.png") no-repeat -97px -183px;
	height: 27px;
	left: 50%;
	margin: -13px 0 0 -15px;
	top: 50%;
	position: absolute;
	width: 30px;
}

.feed-add-post-text {
	color: #bfbfbf;
	font-size: 17px;
	padding: 15px 10px 0 10px;
	border: 1px solid;
	margin-top: 2px;
}

.feed-comments-block .feed-add-post-text {
	padding: 0;
}

.feed-add-post-edit-block {
	background: linear-gradient(top, #f9fbfb, #f4f8f8);
	background: -moz-linear-gradient(top, #f9fbfb, #f4f8f8);
	background: -o-linear-gradient(top, #f9fbfb, #f4f8f8);
	background: -ms-linear-gradient(top, #f9fbfb, #f4f8f8);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9fbfb), to(#f4f8f8));
	box-shadow: 0 2px 2px -2px rgba(229, 229, 229, 0.9);
	border-bottom: 1px solid #e9eaeb;
	border-left: 1px solid #ced1d2;
	border-right: 1px solid #ced1d2;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	margin: 0 -1px;
	height: 25px;
	padding: 6px 0 0 0;
	position: relative;
}

.feed-add-but-bold {
	background-position: -10px -19px;
}

.feed-add-but-italic {
	background-position: 8px -39px;
}

.feed-add-but-underline {
	background-position: -31px -18px;
}

.feed-add-but-strike {
	background-position: -78px -18px;
}

.feed-add-post-color {
	background-position: -102px -19px;
}

.feed-add-post-fontsizelist {
	background-position: -39px 4px;
}

.feed-add-post-removeformat {
	background-position: -70px -40px;
}

.feed-add-post-quote {
	background-position: -54px -19px;
}

.feed-add-post-code {
	background-position: -18px -40px;
}

.feed-add-post-cut {
	background-position: -44px -40px;
}

.feed-add-post-edit-block .feed-add-close-icon {
	top: 3px;
}

.feed-add-post-form {
	background-color: #fff;
	margin-bottom: 12px;
	position: relative;
	overflow: hidden;
	zoom: 1;
}

/* Preloading for waiter-button-light.gif */
.feed-add-post-form:after {
	content: "";
	display: block;
	width: 1px;
	height: 1px;
	background: url("images/waiter-button-light.gif") no-repeat 0 0;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0;
}


.feed-add-post-error-wrap .feed-add-post-form {
	margin-bottom: 0;
}

.feed-add-close-icon,
.feed-add-post-del-but {
	background: url("images/sprite_mpf_5.png") no-repeat 9px -17px;
	cursor: pointer;
	height: 25px;
	opacity: 0.7;
	right: 2px;
	width: 25px;
	position: absolute;
}

.feed-add-close-icon:hover {
	opacity: 1;
}

.feed-add-post-form-but-wrap {
	background-color: #fff;
	border-bottom: 1px solid #f0f1f2;
	padding: 0 7px 5px 16px;
	position: relative;
}

.feed-com-add-block .feed-add-post-form-but-wrap {
	background-color: #ffffff;
	padding-right: 0;
}

.feed-com-add-block .urlpreview.urlpreview__edit {
	padding: 0 13px 12px 18px;
}

.feed-add-post-form-but-wrap:empty{
	display: none;
}
.feed-add-post-form-but {
	background: url("images/sprite_mpf_5.png?1") no-repeat;
	cursor: pointer;
	display: inline-block;
	margin-right: 15px;
	height: 25px;
	opacity: 0.35;
	width: 25px;
	position: relative;
}

.feed-add-post-form-but:hover {
	opacity: .85;
}

.feed-add-file {
	background-position: -137px -17px;
}

.feed-add-link {
	background-position: -13px 3px;
}

.feed-add-img {
	background-position: -136px -57px;
}

.feed-add-video {
	background-position: -62px 3px;
}

.feed-add-mention {
	background-position: -90px 3px;
}

.feed-add-tag {
	background-position: -138px 4px;
}

.feed-add-important {
	background-position: -57px -807px;
}
.feed-add-important-active-block {
	cursor: pointer;
	vertical-align: top;
}
.feed-add-post-form-but.feed-add-important-active {
	margin-right: 5px;
	vertical-align: middle;
	background-position: -28px -807px;
	opacity: 1.0;
}
.feed-add-important-text {
	line-height: 13px;
	font-size: 13px;
	font-weight: normal;
	vertical-align: middle;
}
.feed-add-important-active-block::selection, .feed-add-important-active-block::-moz-selection,
.feed-add-important-text::selection, .feed-add-important-text::-moz-selection {
	background: transparent;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.feed-add-quote {
	background-position: -11px -693px;
}

.feed-add-post-form-but-cnt .bxhtmled-top-bar-btn,
.feed-add-post-form-but-cnt .bxhtmled-top-bar-btn-active,
.feed-add-post-form-but-cnt .bxhtmled-top-bar-btn-disabled
{
	background-image: url("images/sprite_mpf_5.png") !important;
	background-repeat: no-repeat !important;
	display: inline-block;
	margin: 0 15px 0 0 !important;
	opacity: 0.35;
	filter: alpha(opacity=50);
	width: 25px;
	height: 25px;
	position: relative;
	border-width: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.feed-add-post-form-but-cnt .bxhtmled-top-bar-btn:hover {
	opacity: .7;
}

.feed-add-post-form-but-cnt .bxhtmled-top-bar-btn-disabled {
	opacity: 0.4 !important;
}

.feed-add-post-form-but-cnt .bxhtmled-top-bar-btn i,
.feed-add-post-form-but-cnt .bxhtmled-top-bar-btn-active i {
	background: none !important;
	margin: 2px 0 0 2px !important;
}

.feed-add-post-form-but-cnt .bxhtmled-top-bar-btn:hover {
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.feed-add-post-form-but-cnt .bxhtmled-button-link {
	background-position: -13px 3px !important;
}

.feed-add-post-form-but-cnt .bxhtmled-button-video {
	background-position: -62px 3px !important;
}

.feed-add-post-form-but-cnt .bxhtmled-button-quote {
	background-position: -11px -693px !important;
}

.feed-add-post-form-but-more {
	border-radius: 3px;
	border: 1px solid #fff;
	color: #7a808c;
	cursor: pointer;
	font-size: 12px;
	right: 11px;
	top: 0;
	padding: 1px 21px 1px 6px;
	position: absolute;
}

.feed-add-post-form-but-more:hover {
	border-top-color: #f1f1f1;
	border-left-color: #d8d8d8;
	border-right-color: #d8d8d8;
	border-bottom-color: #a9a9a9;
	box-shadow: 0 1px 1px -1px #d0d0d0;
	color: #4b5a6b;
}

.feed-add-post-form-but-more-act {
	box-shadow: none !important;
	border-color: #d9e4e7 !important;
}

.feed-add-post-form-but-arrow {
	background: url("images/sprite_mpf_5.png") no-repeat -98px -49px;
	height: 4px;
	position: absolute;
	right: 6px;
	top: 10px;
	width: 7px;
}

.feed-add-post-form-but-more-open {
	/*right: 10px;*/
	right: 7px;
	top: 3px;
	position: absolute;
}

.feed-add-post-form-editor-btn,
.feed-add-post-form-title-btn {
	background: url(images/sprite_mpf_5.png) no-repeat 100px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	vertical-align: top;
	width: 25px;
}

.feed-add-post-form-editor-btn {
	background-position: -57px -772px;
}

.feed-add-post-form-title-btn {
	background-position: -97px -747px;
	margin-right: 4px;
}

.feed-add-post-form-editor-btn:hover {
	background-position: -29px -772px;
}

.feed-add-post-form-title-btn:hover {
	background-position: -63px -747px;
}

.feed-add-post-form-btn-active.feed-add-post-form-editor-btn {
	background-position: -29px -772px;
}

.feed-add-post-form-btn-active.feed-add-post-form-title-btn {
	background-position: -63px -747px;
}

.feed-add-post-strings-blocks {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.feed-add-post-strings-blocks li {
	list-style-type: none;
	margin: 13px 0 0 0;
	padding: 20px 18px 7px 12px;
}

.feed-add-post-strings-blocks li:last-child {
	border-top: 1px solid #f0f1f2;
}

.feed-add-post-strings-blocks li:first-child {
	border-top: none;
	margin: 0;
	padding-top: 6px;
}

.feed-add-post-destination-block {
	overflow: hidden;
	position: relative;
}

.feed-add-post-destination-title,
.feed-add-post-tags-title {
	color: #000;
	float: left;
	font-size: 14px;
	min-width: 55px;
	padding-left: 5px;
}

.feed-add-post-destination-block .feed-add-post-destination-title {
	margin-top: 15px;
}

.feed-add-post-dest-source {
	color: #1a60a9;
}

.feed-add-post-destination-wrap,
.feed-add-post-tags-wrap {
	border: 1px solid #bfbfbf;
	border-radius: 1px;
	overflow: hidden;
	padding: 7px 7px 1px;
	min-height: 36px !important;
}

.feed-add-post-destination-wrap-but {
	margin-top: -9px;
}

.feed-add-post-destination {
	border-radius: 1px;
	font-size: 13px;
	display: inline-block;
	font-weight: bold;
	margin: 0 6px 6px 0;
	height: 30px;
	line-height: 29px;
	overflow: hidden;
	padding: 0 30px 0 13px;
	position: relative;
	vertical-align: middle;
	z-index: 2;

	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}

.feed-add-post-destination a:link,
.feed-add-post-destination a:visited,
.feed-add-post-destination a:active,
.feed-add-post-destination a:hover {
	text-decoration: none;
}

.feed-add-post-destination-wrap-but .feed-add-post-destination {
	margin: 9px 9px 0 0;
}

.feed-add-post-destination-wrap .feed-add-post-destination {
	padding-right: 30px;
}

.feed-add-post-destination .feed-add-post-del-but,
 .feed-add-post-tags .feed-add-post-del-but {
	background: url("images/sprite_mpf_5.png") no-repeat;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 30px;
	opacity: 0.6;
	position: absolute;
	width: 25px;
}

.feed-add-post-destination-hover .feed-add-post-del-but {
	opacity: 1;
}

.feed-add-post-destination:hover {
	text-decoration: none;
}

.feed-add-post-destination-all-users {
	background: #dbf188;
	color: #535c69 !important;
}

.feed-add-post-destination-all-users .feed-add-post-del-but {
	background-position: -24px -61px;
}

.feed-add-post-destination-hover.feed-add-post-destination-all-users {
	background-color: #b2e233;
}

.feed-add-post-destination-users {
	background-color: #bcedfc;
	color: #1f6ab5 !important;
}

.feed-add-post-destination-users .feed-add-post-del-but {
	background-position: -94px -61px;
}

.feed-add-post-destination-hover.feed-add-post-destination-users {
	background-color: #86e2ff;
}

.feed-add-post-destination-wrap .feed-add-post-destination-sonetgroups {
	background-color: #ADE7E4;
	color: #116F6B !important;
}

.feed-add-post-destination-sonetgroups .feed-add-post-del-but {
	background-position: -47px -61px;
}

.feed-add-post-destination-wrap .feed-add-post-destination-hover.feed-add-post-destination-sonetgroups {
	background-color: #8CDDDA;
}

.feed-add-post-destination-department,
.feed-add-post-destination-crm {
	background-color: #e2e3e5;
	color: #535c69 !important;
}

.feed-add-post-destination-department .feed-add-post-del-but,
.feed-add-post-destination-crm .feed-add-post-del-but {
	background-position: -70px -61px;
}

.feed-add-post-destination-hover.feed-add-post-destination-department,
.feed-add-post-destination-hover.feed-add-post-destination-crm {
	background-color: #cbccd0;
}

.feed-add-post-destination.feed-add-post-destination-extranet,
.feed-add-post-destination.feed-add-post-destination-email,
.feed-add-post-destination.feed-add-post-destination-crmemail {
	background-color: #ffec91;
	color: #a26b00;
	padding-left: 32px;
}


.feed-add-post-destination.feed-add-post-destination-extranet:before,
.feed-add-post-destination.feed-add-post-destination-email:before,
.feed-add-post-destination.feed-add-post-destination-crmemail:before {
	background: url("images/sprite_mpf_5.png?1") no-repeat 0 -92px;
	content: "";
	height: 13px;
	position: absolute;
	width: 13px;
	left: 9px;
	top: 8px;
}

.feed-add-post-destination.feed-add-post-destination-crmemail:before {
	background: url("images/icon-crmuser-block.png") no-repeat 0 0!important;
}

.feed-add-post-destination.feed-add-post-destination-email::before {
	background-position: -33px -92px;
}

.feed-add-post-destination.feed-add-post-destination-extranet .feed-add-post-del-but,
.feed-add-post-destination.feed-add-post-destination-email .feed-add-post-del-but,
.feed-add-post-destination.feed-add-post-destination-crmemail .feed-add-post-del-but {
	background-position: -113px -61px;
}

.feed-add-post-destination-hover.feed-add-post-destination-extranet,
.feed-add-post-destination-hover.feed-add-post-destination-email,
.feed-add-post-destination-hover.feed-add-post-destination-crmemail {
	background-color: #ffe25a;
}

.feed-add-destination-inp {
	background: #fff;
	border: none;
	color: #555;
	display: inline-block;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 7px 7px 0;
	height: 30px;
	min-width: 108px;
	outline: none;
	padding: 0;
	vertical-align: middle;
}

.feed-add-destination-link,
.feed-add-post-tags-add {
	border-bottom: 1px solid transparent;
	color: #2067b0;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	margin: 7px 7px 7px 18px;
	line-height: 17px;
	text-decoration: none;
	vertical-align: top;
	position: relative;

	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.feed-add-destination-link:before,
.feed-add-post-tags-add:before {
	background: url("images/sprite_mpf_5.png") no-repeat -148px -481px;
	content: '';
	height: 8px;
	left: -14px;
	position: absolute;
	top: 5px;
	width: 8px;
}

.feed-add-destination-link:hover,
.feed-add-post-tags-add:hover {
	border-bottom: 1px solid;
	color: #2067b0;
}

.feed-add-destination-input-box {
	display: none;
}

.feed-add-post-tags-block {
	overflow: hidden;
}

.feed-add-post-tags-title {}

.feed-add-post-tags .feed-add-post-del-but {
	background-position: -69px -61px;
}

.feed-add-post-tags .feed-add-post-del-but:hover {
	opacity: 1;
}

.feed-add-post-destination-add {
	border-bottom: 1px #2067b0 dashed;
	color: #2067b0;
	display: inline-block;
	cursor: pointer;
	font-size: 12px;
	line-height: 12px;
	vertical-align: middle;
}

.feed-add-post-destination-add:hover {
	text-decoration: none;
}

.feed-add-post-tags-wrap {
	color: #5c6470;
	font-size: 12px;
	overflow: hidden;
}

.feed-add-post-tags-wrap-but {
	margin-top: -9px;
}

.feed-add-post-tags {
	background: #e8eff0;
	border-radius: 1px;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	height: 30px;
	line-height: 29px;
	margin: 0 7px 7px 0;
	vertical-align: middle;
	padding: 0 30px 0 10px;
	position: relative;
}

.feed-add-post-tags a:link, .feed-add-post-tags a:visited, .feed-add-post-tags a:active, .feed-add-post-tags a:hover {
	text-decoration: none;
}

.feed-add-post-tags-wrap .feed-add-post-tags {
	padding-right: 30px;
}


.feed-add-post-files-block {
	background: #f4f8f9;
	border-radius: 2px;
	border: 1px solid;
	border-top-color: #ced0d1;
	border-left-color: #ced1d1;
	border-right-color: #ced1d1;
	border-bottom-color: #d3d7d8;
	box-shadow: 0 1px 2px -1px rgba(164, 164, 164, 0.7) inset;
	margin-bottom: 11px;
	overflow: hidden;
	padding: 13px 30px 0 30px;
	position: relative;
	zoom: 1;
}

.feed-add-post-files-title {
	background: url("images/sprite_mpf_5.png") no-repeat 500px -5000px;
	color: #5c6470;
	font-size: 12px;
	font-weight: bold;
	float: left;
	line-height: 20px;
	overflow: hidden;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.feed-add-post-files-block .feed-add-post-files-title {
	font-weight: normal;
	left: 13px;
	top: 12px;
	position: absolute;
	width: 54px;
}

.feed-add-post .lhe-resize-row img {
	display: none;
}

.feed-add-post .bxlhe-editor-buttons {
	background: linear-gradient(top, #f9fbfb, #f4f8f8);
	background: -moz-linear-gradient(top, #f9fbfb, #f4f8f8);
	background: -o-linear-gradient(top, #f9fbfb, #f4f8f8);
	background: -ms-linear-gradient(top, #f9fbfb, #f4f8f8);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9fbfb), to(#f4f8f8));
	box-shadow: 0 2px 2px -2px rgba(229, 229, 229, 0.9);
	border-bottom: 1px solid #e9eaeb;
	position: relative;
}

.feed-add-post .lhe-button-cont {
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	height: 21px;
	margin-left: 6px;
	vertical-align: top;
	width: 25px;
}

.feed-add-post .lhe-button-cont:hover {
	background-color: #dee1e5;
}

.feed-add-post .lhe-stat-toolbar-cont {
	border: 0px;
	padding-top: 6px;
	position: relative;
}

.feed-add-post .lhe-button {
	border: 0px;
}

.feed-add-post .lhe-button-over {
	background-color: #dee1e5;
}

.feed-add-post .feed-add-post-tags-title {
	margin-top: 15px;
}

.feed-add-post .feed-add-post-tags-block {
	display: none;
}

.feed-add-post .wduf-selectdialog,
.feed-add-post .diskuf-selectdialog{
	border-bottom: 1px solid #f0f1f2;
	display: none;
	margin: 7px 0 15px;
	padding: 0 10px 30px;
}

.feed-comments-block .wduf-selectdialog,
.feed-comments-block .diskuf-selectdialog{
	border: none;
	background-color: #fff;
	padding: 10px;
}

.feed-add-post .wduf-selectdialog-switcher,
.feed-add-post .file-selectdialog-switcher,
.feed-add-post .diskuf-selectdialog-switcher {
	display: none;
}

.feed-add-img-title {
	overflow: hidden;
}

.bx-lm-mention {
	width: 356px !important;
}

.bx-lm-mention .bx-finder-groupbox-name {
	display: none;
}

.bx-lm-mention .bx-finder-groupbox {
	padding: 0;
	border-bottom: 0;
}

.feed-add-button-load,
.feed-add-button-load:hover {
	background: #13b1e3;
	color: transparent!important;
	cursor: pointer;
	position: relative;
}

.feed-add-button-load:before {
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	content: '_';
	/*content: '';*/
	font-size: 10px;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 9px;
	height: 19px;
	top: 14px;
	left: 50%;
	margin-left: -10px;
	padding-right: 5px;
	position: absolute;
	text-align: right;
	width: 14px;
	box-sizing: content-box;
}

.feed-add-com-button.feed-add-button-load:before {
	top: 10px;
}

.feed-add-button-load:after {
	background-color: #fff;
	content: '';
	height: 7px;
	position: absolute;
	top: 23px;
	left: 50%;
	width: 1px;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;

	-webkit-animation: clock 1s infinite linear;
	animation: clock 1s infinite linear;
}

.feed-add-com-button.feed-add-button-load:after {
	top: 19px;
}

.feed-add-button-transparent.feed-add-button-load {
	background-color: #ecedef;
}

.feed-add-button-transparent.feed-add-button-load:after {
	background-color: #565f6c;
}

.feed-add-button-transparent.feed-add-button-load:before {
	color: #565f6c;
	border-color: #565f6c;
}


@-webkit-keyframes clock {
	0%   { -webkit-transform: rotate(0deg) }
	100% {  -webkit-transform: rotate(360deg) }

	0%   { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}

@keyframes clock {
	0%   { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}


.feed-add-button .mpf-load-img, .mpf-load-img {
	background: url("images/waiter-button-light.gif") no-repeat 0 0;
	position: absolute;
	background-position: 50% 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 35px !important;
}

.bx-retina .feed-add-button .mpf-load-img, .bx-retina .mpf-load-img {
	background-image: url("images/waiter-button-light-retina.gif");
	background-size: 23px;
}

.feed-add-button .mpf-load, .mpf-load {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: none;
	background-color: #B7C4C9 !important;
	background-image: -webkit-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96)) !important;
	background-image: -moz-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96)) !important;
	background-image: -ms-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96)) !important;
	background-image: -o-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96)) !important;
	background-image: linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96)) !important;
	-webkit-box-shadow: 0 1px 1px 1px rgba(103, 109, 123, 0.78) inset !important;
	box-shadow: 0 1px 1px 1px rgba(103, 109, 123, 0.78) inset !important;
	color: #b1bec2 !important;
	cursor: default;
	height: 35px !important;
	text-shadow: none !important;
	padding-right: 19px;
	padding-left: 19px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.feed-add-com-button .mpf-load, .feed-add-post-buttons .mpf-load {
	height: 23px !important;
	padding-right: 14px !important;
	padding-left: 14px !important;
}

.feed-add-post-buttons {
	display: none;
}

.feed-add-post-buttons .mpf-load-img {
	height: 23px !important;
}

.bx-smile-f {
	margin: -1px -4px -5px;
	text-align: center;
}

.bx-smile-gallery {
	width: 157px;
	height: 90px;
	overflow: hidden;
}

.bx-smile-gallery-set {
	display: inline-block;
	width: 157px;
	height: 85px;
	margin-bottom: 5px;
	overflow: auto;
	overflow-x: hidden;
	text-align: center;
}

.bx-smile-gallery-set-hide {
	display: none;
}

.bx-smile-gallery-image {
	margin: 6px;
	cursor: pointer;
}

.bx-smile-nav {
	width: 146px;
	border-top: 1px solid #e5e8ea;
	margin-left: 5px;
	margin-top: -1px;
	text-align: right;
	padding-bottom: 5px;
	padding-top: 2px;
}

.bx-smile-nav-name {
	font-size: 11px;
	color: #636972;
	display: inline-block;
	line-height: 18px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

.bx-smile-nav-disabled {
	display: none
}

.bx-smile-nav-item {
	cursor: pointer;
	width: 9px;
	height: 9px;
	display: inline-block;
	margin-right: 7px;
	margin-left: 2px; /* background: url("./../images/im-sprite-v5.png") repeat scroll -154px -277px transparent no-repeat;*/
	margin-top: 2px;
}

.bx-smile-nav-item-active {
	/* background-position: -137px -277px; */
}

div.lhe-list-item-cont[title="xx-small"] span.lhe-list-font-span {
	font-size: 40% !important;
}

div.lhe-list-item-cont[title="x-small"] span.lhe-list-font-span {
	font-size: 60% !important;
}

div.lhe-list-item-cont[title="small"] span.lhe-list-font-span {
	font-size: 80% !important;
}

div.lhe-list-item-cont[title="medium"] span.lhe-list-font-span {
	font-size: 100% !important;
}

div.lhe-list-item-cont[title="large"] span.lhe-list-font-span {
	font-size: 120% !important;
}

div.lhe-list-item-cont[title="x-large"] span.lhe-list-font-span {
	font-size: 140% !important;
}

div.lhe-list-item-cont[title="xx-large"] span.lhe-list-font-span {
	font-size: 160% !important;
}

.mpl-quote-block,
.mpl-quote-block:visited,
.mpl-quote-block:active,
.mpl-quote-block:link,
.mpl-quote-block:hover {
	display: block;
	position: absolute;
	z-index: 500;
	-webkit-transition: opacity .4s, visibility .1s linear .4s;
	-moz-transition: opacity .4s, visibility .1s linear .4s;
	-o-transition: opacity .4s, visibility .1s linear .4s;
	transition: opacity .4s, visibility .1s linear .4s;
	cursor: pointer;
	width: 32px;
	height: 27px;
	background: url("images/sprite_mpf_5.png") no-repeat 0 -936px;
	text-decoration: none;
}

.mpl-quote-block {
	top: -1010000px;
	opacity: 0;
	visibility: hidden;
}

.mpl-quote-block:hover {
	background: url("images/sprite_mpf_5.png") no-repeat -63px -936px;
}

.mpl-quote-block:active {
	background: url("images/sprite_mpf_5.png") no-repeat -125px -936px;
}

.mpl-quote-block-show {
	visibility: visible;
	-webkit-transition: opacity .4s, visibility 0s;
	-moz-transition: opacity .4s, visibility 0s;
	-o-transition: opacity .4s, visibility 0s;
	transition: opacity .4s, visibility 0s;
	opacity: 1;
}

/* CSS for new editor */
.feed-add-post div.bx-html-editor {
	border-style: none !important;
	background-color: #fff;
}
.feed-add-post-edit-form .bx-html-editor .bxhtmled-toolbar-cnt {
	opacity: 0;
}
.feed-add-post-dnd-ready, .feed-add-post-dnd-over {
	position: relative;
}
.feed-add-post-dnd-over .feed-add-post-dnd,
.feed-add-post-dnd-ready .feed-add-post-dnd-notice {
	display: block;
	z-index: 31;
}
.feed-add-post-dnd-ready.feed-add-post-dnd-over .feed-add-post-dnd-notice {
	display: none;
}

.feed-add-post-dnd, .feed-add-post-dnd-notice {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(248,250,250,0.9);
	z-index: 1;
	border: 2px dashed #a7b0b5;
	text-align: center;
	display: none;
}

.feed-add-post-dnd-inner {
	height: 110px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.feed-add-post-dnd-icon {
	width: 37px;
	height: 45px;
	background: url("images/sprite_mpf_5.png?5") no-repeat 0 -968px;
	display: block;
	margin: 0 auto 15px;
}

.feed-add-post-dnd-text {
	font-weight: bold;
	font-size: 18px;
	color: rgba(83,92,105,0.7);
}

.feed-add-post-dnd-text span {
	font-size: 12px;
	display: block;
	margin-top: 8px;
}
.feed-add-post-dnd-over .bxu-file-input-over .diskuf-extended-overlay {
	display: none;
}

.feed-add-urpreview-wrap {
	margin-left: 18px;
}

.feed-add-post-destination.feed-add-post-destination-email::before {
	background-position: -33px -92px;

}
html.bx-ios.bx-ios-fix-frame-focus, html.bx-ios.bx-ios-fix-frame-focus iframe, .bx-ios.bx-ios-fix-frame-focus body {
	-webkit-overflow-scrolling: touch;
}