.bx-notifier-panel {
    background: none repeat scroll 0 0 #225597;
}

.bx-notifier-indicator .bx-notifier-indicator-text {
    font-size: 16px;
    vertical-align: bottom;
}
.bx-messenger-box-dialog *{
    box-sizing: unset;
}
.bx-messenger-panel-call-enabled{
    display: none;
}
.bx-messenger-cl-status-online .bx-messenger-cl-status{
    display: inline-block;
}
.bx-messenger-content-item-like{
    display: none;
}