.disable_vers {
    background: #ffffff !important;
}
.disable_vers * {
    background-image: none !important;
    color: #000000 !important;
    background-color : transparent !important;

    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}



.disable_vers.white_bg {
    background: #ffffff !important;
}
.disable_vers.white_bg * {
    color: #000000 !important;
    background-color : transparent !important;
}

.disable_vers.black_bg {
    background: #000 !important;
}
.disable_vers.black_bg * {
    color: #fff !important;
    background-color : transparent !important;
}
.disable_vers.black_bg *:hover {
    color: #fff !important;
}
.disable_vers.black_bg section > div, .disable_vers.black_bg section ul {
    border: 1px solid #fff;
}
.disable_vers.black_bg  .bayan {
    border: 1px solid #fff;
}
.disable_vers.black_bg table {
    border: 1px solid #fff;
}

.disable_vers.black_bg table td,.disable_vers table th {
    border: 1px solid #fff !important;

}


.disable_vers.blue_bg {
    background: #9DD1FF !important;
}
.disable_vers.blue_bg * {
    color: #000 !important;
    background-color : transparent !important;
}
.disable_vers.blue_bg *:hover {
    color: #000 !important;
}


.disable_vers.letspace1 {
    letter-spacing: 1px;
}
.disable_vers.letspace2 {
    letter-spacing: 2px;
}

.disable_vers .top_head li {
    margin-right: -7px;
}
.disable_vers.letspace2 .top_head li {
    margin-right: -7px;
}


.disable_vers * img, .disable_vers .top_head li.logo i {
    display: none !important;
}

.disable_vers .top_head li.logo a img {
    display: inline-block !important;
}

.disable_vers *:hover {
    color: initial !important;
    color: #000000 !important;
}

.disable_vers section > div, .disable_vers section ul {
    border: 1px solid #000;
}

.disable_vers a, .disable_vers a span {
    text-decoration: underline !important;
}

.disable_vers a:hover, .disable_vers a:hover span {
    text-decoration: none !important;
}

.disable_vers .small_menu a span {
    text-decoration: underline !important;
}

.disable_vers .small_menu a span:hover {
    text-decoration: none !important;
}


.disable_vers .news_block .news_items .new_containers li:after, .disable_vers .news_block .news_items .new_containers li .new_description:after {
    display: none;
}

.disable_vers .news_block .news_items .new_containers li .new_description {
    width: 100%;
}
.disable_vers .news_block .news_items .new_containers li .new_photo {
    display: none;
}


.disable_vers .bg_slider {
    display: none;
}

.disable_vers .bayan {
    border: 1px solid #000;
}

.disable_vers .categories ul li:hover, .disable_vers .categories ul li.active {
    margin: 0;
    border: 0;
    padding-left:0;
    border-color: transparent;
}

.disable_vers .square_container .picture img {
    display: block !important;
}

.disable_vers .news_archive_item .img_archive {
    display: none;
}

.disable_vers li.has_child > ul > li {
    padding-left: 15px;
}

.disable_vers .search {
    border: 1px solid #000 !important;
}

.disable_vers .calendar_container {
    display: none;
}

.disable_vers table {
    border: 1px solid;
}

.disable_vers table td,.disable_vers table th {
    border: 1px solid !important;

}

.disable_vers .input_container.search_dropdown input {
    background: #ffffff !important;
}

.disable_vers .input_container.search_dropdown .dropdown {
    background: #ffffff !important;
}

.disable_vers .fancybox-skin {
    background: #ffffff !important;
}
.disable_vers  .fancybox-close {
    background-image: url('../img/close.png') !important;
}

.disable_vers .socials {
    display: none;
}

.disable_vers footer .top ul li {
    margin-left: -6px;
    padding-left: 10px;
}

.disable_vers .disable_panel {
    display: block !important;
    text-align: center;
    background-color: #979798 !important;
}

.disable_vers .disable_panel a {
    display: inline-block !important;
    width: auto !important;
}

.disable_vers  .white_square span, .disable_vers  .blue_square span, .disable_vers  .black_square span {
    display: block;
    width: 15px !important;
    height: 15px !important;
    border: 1px solid;
}
.disable_vers  .white_square, .disable_vers  .blue_square, .disable_vers  .black_square,
.disable_vers  .white_square span, .disable_vers  .blue_square span, .disable_vers  .black_square span {
    text-decoration: none !important;
}
.disable_vers  .white_square span {
    background-color: #ffffff !important;
}
.disable_vers  .blue_square span {
    background-color: #3587ff !important;
}
.disable_vers  .black_square span {
    background-color: #000000 !important;
}

.disable_vers .small_menu {
    height: auto;
}

.disable_vers .big_menu, .disable_vers .big_menu ul {
    height: auto;
}

.disable_vers .news_block .news_items .new_containers {
     height: auto !important;
}

.disable_vers .events_block .events_items .event_containers li .event_item .event_info a {
    display: block;
}