@font-face {
    font-family: 'AvenirNextCyrBold';
    src: url('../fonts/AvenirNextBold/fonts/AvenirNextCyrBold.eot');
    src: url('../fonts/AvenirNextBold/fonts/AvenirNextCyrBold.eot') format('embedded-opentype'),
    url('../fonts/AvenirNextBold/fonts/AvenirNextCyrBold.woff2') format('woff2'),
    url('../fonts/AvenirNextBold/fonts/AvenirNextCyrBold.woff') format('woff'),
    url('../fonts/AvenirNextBold/fonts/AvenirNextCyrBold.ttf') format('truetype'),
    url('../fonts/AvenirNextBold/fonts/AvenirNextCyrBold.svg#AvenirNextCyrBold') format('svg');
}