#tab572 div h2, #tab571 div h2, .tabs_menu, .left_sidebar, hr {display:none;}
.inner_page_content.cols_2 { width: 1020px;}
#tab1229 {margin-top:-2em;margin-bottom:1em; margin-left: -1em;}
img{ margin: 0; padding: 0; vertical-align: middle; border: none; }
.main-flex{ margin: 20px auto; background: #fff; border-radius: 3px; width:1000px; display:flex; }
.bl-3col{ background: #fff; margin: 5px; width:33%; -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6); -moz-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6); box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6); }
.bl-4col{ background: #fff; margin: 5px; width:25%; -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6); -moz-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6); box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6); }
h4.bl-h4{ background: #501619; color:#fff; padding:8px 0; font-size:0.8em; margin-left:15px; padding-left: 30px; font-weight: normal; }
.inform-ico{ width:32px; height:32px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); background:#b90000; /*-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6); -moz-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6); box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6);*/ position: absolute; }
.inform-bl-ico{ background:url(/images/i.png); width:32px; height:32px; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); position: absolute; }
.bl-3col ul, .bl-4col ul{ margin-left:5px; padding: 5px 10px; }
.bl-3col ul li, .bl-4col ul li{ font-size:0.8em; padding: 2px 0 2px 1em; text-indent: -1.38em; color: tan; list-style-type:none; text-align: left; }
.bl-3col ul li:before, .bl-4col ul li:before { content: "◈"; font-size: 14px; padding-right: 5px; font-weight: bold; }
.bl-3col ul li a, .bl-4col ul li a{ font-size:0.9em; color:#484848; text-decoration:none; display: initial; text-align: left; font-size: 14px;}
.bl-3col ul li a:hover, .bl-4col ul li a:hover{ color:#b20000; transition-duration:1.5s; display: initial; text-align: left; font-size: 14px;}
.bl-title{ display:block; width:1000px; margin:0 auto; text-align:center; color:#585858; text-transform:uppercase; font-size:1em; }
.bl-text-center{ text-align:center; font-size:0.8em; padding:0 20px; }
.-top { /*	background: #fefefe; */ margin: 0; padding: 0; font:1em/1.3em Arial, Tahoma, "Trebuchet MS", sans-serif; color: #272727; margin-top:0em; }
div.bl-4col div#arrr { margin: 1em 1em 0 1em;}
h4.bl-h4 { /* background: #501619; */ background: rgba(80, 22, 25, 0.8) }
.bl-3col ul li, .bl-4col ul li a {color: #501619; font-size: 14px;}
.bl-3col ul li, .bl-4col ul li {color: black;font-size: 14px;}
.bl-3col ul li a, .bl-4col ul li a {    text-decoration: underline; }