﻿*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

/*body input:focus:required:invalid,*/
/*body textarea:focus:required:invalid {*/
	/**/
/*}*/
/*body input:required:valid,*/
/*body textarea:required:valid {*/
	/**/
/*}*/

/* Simple classes */
.hide_el, .inner_page_content.hide_el {
  display: none;
}
#disable_vers.enabled span {
  display: none;
}
#disable_vers .full_vers {
  display: none;
}
#disable_vers.enabled .full_vers {
  display: block;
}

.top_head li.important_links ul li.disable_panel, .disable_panel {
  display: none;
  width: 100% !important;
  padding: 0 !important;
  height: 30px;
  border: 1px solid;
  margin-top: 25px;
  background-color: #979798 !important;
  font-size: 22px !important;
}



.clearfix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}
.no_margin {
  margin: 0 !important;
}


.left input:checked + label,
.left input:checked + label:hover{
  background: #c6e1ec;
  color: #3d7489;
  text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
  box-shadow:
  0px 0px 0px 1px rgba(155,155,155,0.3),
  0px 2px 2px rgba(0,0,0,0.1);
}

hr.sep {
  height: 1px;
  width: 100%;
  background-color: #e0e2e2;
  margin: 10px 0;
  border: 0;
}

/* /Simple classes */
* {
  box-sizing: border-box;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;

  z-index: 1;
  outline: none;

  -webkit-transition: background 0.2s linear;
  /*-moz-transition: background 0.2s linear;*/
  /*-o-transition: background 0.2s linear;*/
  /*transition: background 0.2s linear;*/
}

i {
  -webkit-transition : border 0.1s linear;
  -moz-transition : border 0.1s linear;
  -o-transition : border 0.1s linear;
  transition : border 0.1s linear;
}

*:after {
  -webkit-transition : all 0.1s linear;
  -moz-transition : all 0.1s linear;
  -o-transition : all 0.1s linear;
  transition : all 0.1s linear;
}

a {
  display: inline-block;
  zoom: 1;
}

.white {
  background-color: #fff;
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
  background: #f8f2d7;
  min-width: 980px;
}



/* header */

.wrapper_container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  z-index: auto;
}

header {}

.top_head {
  text-align: justify;
  /*font-size: 0;*/
  /*height: 125px;*/
}
.top_head > ul > li {
  padding-top: 30px;
  padding-bottom: 20px;
}
.top_head li {
  text-align: left;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin-right: -5px;

}
.top_head li.logo {
  width: 100px;
  padding: 0;
  /*position: relative;*/
}
.top_head li.logo a {
  display: block;
  position: relative;
  bottom: -10px;
}
.top_head li.logo a img {
  height: 110px;
  width: 110px;
}
.top_head li.logo .corner {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 20px 0 20px;
  border-color: #f6f2d7 transparent transparent transparent;
  position: absolute;
  bottom: -16px;
  left: 35px;
  z-index: 9;
}
.top_head li.logo_text {
  /*width: 255px;*/
  width: 300px;
  padding-left: 20px;
  /*padding-right: 10px;*/
}
.top_head li.logo_text p {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.top_head li.logo_text span.little_text {
  font-family: "Georgia";
  font-style: italic;
  font-size: 14px;
  color: #847f7f;
}

.top_head li.contacts {
  width: 200px;
  text-align: right;
  font-size: 0;
}
.top_head li.contacts > div {
  text-align: center;
  font-size: 13px;
  line-height: 1.2;
  display: inline-block;
}
.top_head li.contacts span {
  display: block;
}
.top_head li.contacts a {
  display: block;
  margin-top: 5px;
  color: #980000;
  /*font-size: 24px;*/
  font-size: 12px;
  /*font-weight: bold;*/
  font-family: "AvenirNextCyrBold";
}

.top_head li.important_links {
  width: 370px;
}
.top_head li.important_links ul {
  text-align: right;
  /*font-size: 0;*/
}
.top_head li.important_links ul li {
  display: inline-block;
  width: 94px;
  position: relative;
  padding: 0 5px;
}
.top_head li.important_links ul li:after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  border-right: 1px solid #ded4a6;
}
.top_head li.important_links ul li:last-child:after {
  border-right: 0;
}
.top_head li.important_links ul li a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
}
.top_head li.important_links ul li a img {}
.top_head li.important_links ul li a span {
  display: block;
  font-size: 13px;
  color: #626262;
}
.top_head li.important_links ul li a:hover span {
  text-decoration: underline;
}

.top_head li.important_links ul li .important_info {
  color: #980000;
}

.big_menu {
  background: #b20000;
  height: 60px;
}
.big_menu ul {
  text-align: justify;
  font-size: 0;
  height: 60px;
}
.big_menu ul:after {
  content: "";
  display: inline-block;
  width: 100%;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  height: 0;
}
.big_menu ul li {
  font-size: 15px;
  display: inline-block;
  /*float: left;*/
  height: 60px;
  padding: 0 8px;
  line-height: 60px;
  width: auto;
  min-width: 64px;
  max-width: 170px;
  text-align: center;
  /*anim*/
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
.big_menu ul li a {
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.big_menu ul li a span {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;

}

.big_menu ul li:hover {
  background: #501619;
}

.big_menu ul li:hover a {
  color: #efe7c9;
}
  /* Header Slider */
  .bg_slider {
    height: 445px;
    width: 100%;
    min-width: 980px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* background-color: #fff; */
    background: #f8f2d7;
    border-bottom: solid 15px #501619;
  }

  .awesome_container {
    /*width: 980px;*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  .awesome_slider {
    /*width: 980px;*/
    width: 100%;
    height: 430px;
    margin: 0 auto;
  }
  .awesome_slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*margin: 0 auto;*/
    position: relative;
  }

  .awesome_slide img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    min-width: 100%;
    height: auto;
  }

  .owl-carousel .owl-item img {
    width: auto;
    max-height: 100%;
  }

  .awesome_slider .owl-item .left_side {
    opacity: 0;
  }

  .awesome_slider .owl-item.center .left_side {
    opacity: 1;
  }
  .awesome_slider .owl-item {
    opacity: 0.45;
    width: 980px;
    min-width: 980px;
    max-width: 980px;
  }
  .awesome_slider .owl-item.center {
    opacity: 1;

  }

  .owl-nav div {
    width: 98px;
    height: 98px;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
    cursor: pointer;
  }
  .owl-nav .owl-next {
    background: url("../img/right_arrow.png") no-repeat center;
    right: 25px;
  }
  .owl-nav .owl-prev {
    background: url("../img/left_arrow.png") no-repeat center;
    left: 25px;
  }


.owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 200px;
    height: 50px;
    text-align: center;
  }

  .owl-dots .owl-dot {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-color: #fff;
    border-radius: 100%;
    margin: 0 5px;
  }
  .owl-dots .owl-dot.active {
    background-color: #980000;
  }

  .left_side {
    /*width: 620px;*/
    width: 40%;
    height: 100%;
    z-index: 99;
    position: relative;
  }

  .left_side .content {
    /*width: 390px;*/
    /*width: 85%;*/
    height: 100%;
    background: #ffffff;
    /*opacity: 0.91;*/
    line-height: 1.2;
    /*padding: 85px 0 0 6%;*/
    padding: 80px 20px 0;
    position: relative;
  }
  /*.left_side .content:after {*/
    /*content: "";*/
    /*display: block;*/
    /*position: absolute;*/
    /*right: -130px;*/
    /*top: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-style: solid;*/
    /*border-width: 215px 0 215px 130px;*/
    /*border-color: transparent transparent transparent #ffffff;*/
  /*}*/

  .left_side .content h3 {
    color: #272727 ;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .left_side .content p {
    color: #272727;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .left_side .content .red_button {
    position: relative;
  }
  .red_button button {
    font-weight: bold;
    font-family: "PT Sans", serif;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #980000;
    border-width: 0;
    color: #ffffff;
    border-radius: 4px;
    padding: 7px 30px;
    cursor: pointer;
  }
  .red_button button:hover {
    background-color: #b20000;
  }

  .red_button a {
    font-weight: bold;
    font-family: "PT Sans", serif;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #980000;
    border-width: 0;
    color: #ffffff;
    border-radius: 4px;
    padding: 7px 30px;
    cursor: pointer;
  }
  .red_button a:hover {
    background-color: #b20000;
  }
  /* /Header Slider */
  
    .trans_button {
  	margin: .6em .6em -6em;
    float: left;
    border: 1px dotted maroon;
    border-radius: 3px;
    padding: 0;
	}
	
    .trans_button a {
    font-weight: bold;
    font-family: "PT Sans", serif;
    text-transform: uppercase;
    font-size: 16px;
    background-color: none;
    border-width: 0;
    color: gray;
    border-radius: 4px;
    padding: 7px 10px;
    cursor: pointer;
  }
  .trans_button a:hover {
    color: maroon;
  }

  .top_head li.important_links ul li a span:hover {
	  color:maroon;
  }
  
.small_menu {
  position: relative;
  top: 0;
  height: 45px;
  background-color: #501619;
}
.small_menu ul {
  text-align: justify;
  height: 100%;
}

.small_menu ul:after {
  content: "";
  display: inline-block;
  height: 0;
  line-height: 0;
  width: 100%;
  visibility: hidden;
}
.small_menu ul li {
  font-size: 14px;
  height: 100%;
  display: inline-block;
  padding: 0 7px;
  margin-right: -4px;

  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
.small_menu ul li a {
  color: #ffffff;
  height: 100%;
  line-height: 45px;
}
.small_menu ul li a span {
  display: inline-block;
  vertical-align: middle;
}

.small_menu ul li:hover {
  background-color: #980000;
}
.small_menu ul li:hover a {
  color: #efe7c9;
}
.small_menu ul li.personal_account a {
  color: #ebd991;
}
.small_menu ul li.langs {}
.small_menu ul li.langs:hover {
  background-color: transparent;
}
.small_menu ul li.langs a {
  /*color: #957273;*/
  color: #fff;
  height: auto;
  line-height: 1;
  padding: 2px;
  font-size: 12px;
}
.small_menu ul li.langs a:hover {
  text-decoration: underline;
}
.small_menu ul li.langs a.active {
  color: #c82d2e;
  border: 1px solid;
}

.small_menu ul li.langs a.active:hover {
  text-decoration: none;
}

/* /header */

/* Index page */

.content {
  padding: 15px 0;
}
.news_block {}
.block_headers {}
.block_headers a:hover h2 {
  color: #980000;
}
.block_headers h2 {
  font-size: 26px;
  color: #000;
  font-weight: bold;
  margin-top: 5px;
}
.block_headers ul.links {
  text-align: justify;
}
.block_headers ul.links li {
  display: inline-block;
  min-width: 100px;
  text-align: center;

}
.block_headers ul.links li a {
  color: #6f6c6c;
  padding: 10px;
  font-size: 18px;
  border: 1px solid transparent;
}
.block_headers ul.links li a:hover,
.block_headers ul.links li.active a {
  border: 1px solid #980000;
  color: #980000;
}
.block_headers ul.links li.active a {
  font-weight: bold;
}
/* News Block */
.news_block .news_items {
  margin-top: 30px;
}
.news_block .news_items .new_containers {
  width: 100%;
  /*text-align: justify;*/
  /*font-size: 0;*/
  height: 245px;
}

.news_block .news_items .new_containers li {
  width: 490px;
  display: inline-block;
  font-size: 15px;
  height: 100%;
  margin-right: -4px;
}
.news_block .news_items .new_containers li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.news_block .news_items .new_containers li .new_description {
  position: relative;
  float: left;
  width: 245px;
  height: 100%;
  padding: 20px;
  z-index: 10;
  background-color: #fff;
}
.news_block .news_items .new_containers li .new_description:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 17px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  right: -17px;
  top: 40px;
  z-index: 10;
} /* Уголок в фото вправо */

.news_block .news_items .new_containers + .new_containers li {}
.news_block .news_items .new_containers + .new_containers li .new_description {
  float: right;
}
.news_block .news_items .new_containers + .new_containers li .new_description:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 17px 20px 0;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  left: -17px;
  top: 40px;
} /* Уголок в фото влево */
.news_block .news_items .new_containers + .new_containers li .new_photo {
  float: left;
}



.news_block .news_items .new_containers + .new_containers + .new_containers li .new_description {
  float: left;
}
.news_block .news_items .new_containers + .new_containers + .new_containers li .new_description:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 17px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  right: -17px;
  left: auto;
  top: 40px;
  z-index: 10;
}
.news_block .news_items .new_containers + .new_containers + .new_containers li .new_photo {
  float: right;
}




.news_block .news_items .new_containers li .new_description .new_date {
  background-color: #980000;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 4px 8px;
  margin-bottom: 15px;
  display: inline-block;
}
.news_block .news_items .new_containers li .new_description h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
.news_block .news_items .new_containers li .new_description a {
  font-size: 15px;
  color: #000000;
  max-height: 100%;
  overflow: hidden;
  text-align: left;
}

.news_block .news_items .new_containers li .new_photo {
  float: right;
  width: 245px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.news_block .news_items .new_containers li .new_photo img {
  position: absolute;
  top: 0;
  left: -50%;
  right: -50%;
  margin: auto;
  max-height: 100%;
}
.news_block .news_items .new_containers li:hover .new_photo img {
  transform: scale(1.1);
}

.news_block .news_items .new_containers li:hover .new_description {
  background-color: #501619;
}

.news_block .news_items .new_containers li:hover .new_description .new_date {
  color: #501619;
  background-color: #f5f1de;
}
.news_block .news_items .new_containers li:hover .new_description h3 {
  color: #ffffff;
}
.news_block .news_items .new_containers li:hover .new_description a {
  color: #f5f1de;
}
.news_block .news_items .new_containers li .new_description a:hover {
  text-decoration: underline;
}
.news_block .news_items .new_containers li:hover .new_description:after {
  border-color: transparent transparent transparent #501619;
}
.news_block .news_items .new_containers + .new_containers li:hover .new_description:after {
  border-color: transparent #501619 transparent transparent;
}
.news_block .news_items .new_containers + .new_containers + .new_containers li:hover .new_description:after {
  border-color: transparent transparent transparent #501619;
}

/* /News Blcok */

/* Events Block */
.events_block {
  background-color: #fff;
}
.events_block .events_items {
  margin-top: 20px;
}
.events_block .events_items .event_containers {
  width: 100%;
  text-align: justify;
  font-size: 0;
}

.events_block .events_items .event_containers li {
  display: inline-block;
  width: 33%;
  font-size: 16px;
  height: 110px;
  margin-bottom: 10px;
  vertical-align: top;
}
.events_block .events_items .event_containers li .event_item {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.events_block .events_items .event_containers li .event_item .event_image {
  float: left;
  height: 100%;
}
.events_block .events_items .event_containers li .event_item .event_image .img_circle_container {
  width: 73px;
  height: 73px;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
  -webkit-transform: rotate(0.000001deg);
}
.events_block .events_items .event_containers li .event_item .event_image img {
  position: absolute;
  top: 0;
  bottom:0;
  left: -50%;
  right: -50%;
  margin: auto;
}

.events_block .events_items .event_containers li .event_item .event_info {
  height: 100%;
  margin-left: 90px;
  text-align: left;
}
.events_block .events_items .event_containers li .date {
  font-size: 15px;
  color: #939393;
  margin-bottom: 10px;
}
.events_block .events_items .event_containers li .event_item .event_info a {
  color: #2b2a2a;
  font-size: 14px;
  line-height: 1.2;
}
.events_block .events_items .event_containers li .event_item .event_info a:hover {
  color: #980000;
  text-decoration: underline;
}

/* /Events Block */

/* /Index page */

/* Footer */

footer {
  background-color: #501619;
  color: #ffffff;
  padding: 30px 0;
}
footer a {
  color: #ffffff;
  text-decoration: underline;
}

footer a:hover{
  color: #c66f6f;
}

footer p.phonebook {
  margin-top: 20px;
}

footer .top {}
footer .top ul {
  text-align: justify;
  /*font-size: 0;*/
}

footer .top ul:after {
  content: "";
  height: 0;
  width: 100%;
  visibility: hidden;
  display: inline-block;
}
footer .top ul li {
  display: inline-block;
  font-size: 14px;
  text-align: left;
  vertical-align: top;
  line-height: 1.25;
  margin-left: -4px;
}
footer .top .wrapper_container > ul > li {
  min-height: 200px;
}
footer .top .wrapper_container > ul > li.col_1 {
  width: 270px;
  padding-right: 62px;
}
footer .top .wrapper_container > ul > li.col_2 {
  width: 220px;
}
footer .top .wrapper_container > ul > li.col_3 {
  width: 240px;
}
footer .top .wrapper_container > ul > li.col_4 {
  width: 250px;
}

footer .top ul li.col_3 .foot_info {
  margin-bottom: 10px;
}
footer .top ul li h4 {
font-family: "AvenirNextCyrBold";
font-size: 16px;
color: #ebd991;
margin-bottom: 20px;
}


footer .top ul li .foot_info + h4 {
  padding-top: 10px;
}
footer .top ul li .foot_info {}
footer .top ul li .foot_info p {
  margin-bottom: 15px;
}
footer .top ul li .feedback {
}

footer .top ul li .feedback a:first-child {
  margin-right: 20px;
}

footer .top ul li .foot_info a.phone_num {
  display: block;
  width: 115px;
  min-width: 0;
  text-decoration: none;
  cursor: default;
}
footer .top ul li .foot_info a.phone_num:hover {
  color: #ffffff;
}
footer .top ul li .foot_info a.big_phone {
  cursor: default;
  text-decoration: none;
  display: block;
  font-size: 18px;
  width: 150px;
}
footer .top ul li .foot_info a.big_phone:hover {
  color: #ffffff;
}

footer .top ul li .foot_info span.small {
  font-size: 12px;
}

footer .top ul li .foot_info .socials, .socials {
  text-align: left;
}
footer .top ul li .foot_info .socials li, .socials li {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
footer .top ul li .foot_info .socials li a img, .socials li a img {
  width: 35px;
  height: 35px;
  display: inline-block;
  opacity: 1;
  position: absolute;
}
footer .top ul li .foot_info .socials li a img.to-hover, .socials li a img.to-hover {
  opacity: 0;
}
footer .top ul li .foot_info .socials li a:hover img, .socials li a:hover img {
  opacity: 0;
}
footer .top ul li .foot_info .socials li a:hover img.to-hover, .socials li a:hover img.to-hover {
  /*display: inline-block;*/
  opacity: 1;
}
/*footer .top ul li .foot_info .socials li.vk {*/
  /*background: url("../img/vk.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.vk:hover {*/
  /*background: url("../img/vk_active.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.tw {*/
  /*background: url("../img/tw.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.tw:hover {*/
  /*background: url("../img/tw_active.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.fb {*/
  /*background: url("../img/fb.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.fb:hover {*/
  /*background: url("../img/fb_active.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.inst {*/
  /*background: url("../img/inst.png") no-repeat center;*/
/*}*/
/*footer .top ul li .foot_info .socials li.inst:hover {*/
  /*background: url("../img/inst_active.png") no-repeat center;*/
/*}*/
footer .top ul li .foot_info .socials li a, .socials li a {
  width: 100%;
  height: 100%;
}

.top_head .socials {
  margin-bottom: 5px;
}
.top_head .socials {}
.top_head .socials li {
  margin-right: 5px;
}
.top_head .socials li a {
  margin-top: 0;
}

footer .top ul li .foot_info .partners {}
footer .top ul li .foot_info .partners li {
  min-height: auto;
  margin-bottom: 14px;
}
footer .top ul li .foot_info .partners li a {}

footer .bottom {
  overflow: hidden;
}
footer .bottom .copy {
  width: 730px;
}
footer .bottom .copy p {
  color: #ebd991;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .bottom .copy a {
  font-size: 12px;
  text-decoration: underline;
}

footer .bottom .search_block {
  margin-left: 730px;
}
footer .bottom .search_block .input_container {
  margin: 0 0;
  position: relative;
  color: #000;
  font-size: 12px;
}
footer .bottom .search_block input {
  padding: 8px 40px;
  /*width: 240px;*/
  width: 100%;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
footer .bottom .search_block input:focus {
  padding-left: 10px;
}
footer .bottom .search_block input:focus + button {
  left: 210px;

  /*right: 5px;*/
}

footer .bottom .search_block button:active {
  left: 210px;
}
footer .bottom .search_block button {
  background: none;
  font-size: 18px;
  border: 0;
  color: #abaaaa;
  position: absolute;
  left: 5px;
  right: auto;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 1s;
}
footer .bottom .search_block button:hover {
  color: #980000;
}

/* /Footer */

/* inner pages */

.bread_and_head {
  padding: 20px 0;
}
.breadcrumbs {
  margin-bottom: 25px;
}

.breadcrumbs ul {
  overflow: hidden;
}
.breadcrumbs ul li {
  float: left;
  padding-right: 30px;
  position: relative;
  font-size: 13px;
  color: #626262;
}
.breadcrumbs ul li a {
  font-size: 13px;
  color: #626262;
}
.breadcrumbs ul li:last-child:after {
  content: "";
}
.breadcrumbs ul li a:hover {
  text-decoration: underline;
}
.breadcrumbs ul li:after {
  content: ">";
  position: absolute;
  right: 12px;
  bottom: 0;
  display: block;
  font-size: 13px;
  color: #626262;
}

.page_title {

}
.page_title h1 {
  color: #000000;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
}

.inner_page {
  padding-top: 45px;
}



.left_sidebar {
  float: left;
  padding-right: 10px;
  /*width: 220px;*/
  width: 200px;
  border-right: 1px solid #e0e2e2;
}

.tabs_menu {
  /*clear: right;*/
  padding-left: 20px;
  /*padding-left: 35px;*/
  width: 725px;
  float: left;
}

.tabs_menu.one_col {
  width: 580px;
}

.tabs_menu ul.links li {
  min-width: auto;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
}

.tabs_menu ul.links li a {
  border: 1px solid #cbc5c5;
  font-size: 13px;
  color: black;
}

.tabs_menu ul.links li.active a {
  font-weight: normal;
}

.inner_page_content {
  display: inline-block;
  /*width: 540px;*/
  width: 575px;
  /*padding: 20px 35px 0;*/
  padding: 20px 20px 0;

  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.inner_page_content.cols_2 { /* Если нету правой колонки. Чтобы контентный блок был шире */
  width: 760px;
  padding-right: 15px;
}

.tabs_menu.cols_2 {
  width: 760px;
}
.inner_page_content hr, .left_sidebar hr {
  height: 1px;
  width: 100%;
  background-color: #e0e2e2;
  margin: 20px 0;
  border: 0;
}
.inner_page_content h3 {
  margin: 10px 0;
}
.inner_page_content h4 {
  font-size: 26px;
  font-weight: bold;
  /*margin-top: -25px;*/
  /*text-transform: uppercase;*/
}
.inner_page_content h2 {
  font-size: 26px;
  font-weight: bold;
}

.inner_page_content h2 + p {
  margin-top: 20px;
}

.inner_page_content p {
  line-height: 1.3;
  font-size: 15px;
  margin: 20px 0;
}

.inner_page_content p a {display: initial;color:black;text-decoration:underline;}


.inner_page_content table {
  width: 100%;
  margin-top: 25px;
}
.inner_page_content table thead {
}
.inner_page_content table thead tr {
  background-color: transparent;
}
.inner_page_content table thead tr th {
  text-align: left;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 0;
}

.inner_page_content table tbody {}
.inner_page_content table tbody tr {}
.inner_page_content table tbody tr:nth-child(2n + 1) td {
  background-color: #f2f0f0;
}
.inner_page_content table tbody tr td {
  padding: 10px 10px 10px 0px;
  font-size: 15px;
  vertical-align: middle;
}
.inner_page_content table tbody tr td:first-child {
  text-align: center;
}

.inner_page_content table tbody tr td a {
  font-size: 15px;
  color: #000000;
  text-decoration: underline;
}
.inner_page_content table tbody tr td a:hover {

}
.inner_page_content table tbody tr td img {}

.inner_page_content table.redline tbody tr {border-top:3px solid maroon;}

.bayan {
  background-color: #f8f2d7;
  /*padding: 20px;*/
  /*margin-bottom: 30px;*/
	padding: 5px;
	padding-left: 20px;
	margin-bottom: 10px;
  border-radius: 6px;

  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.bayan *, .bayan *:after {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.bayan h3 {
  color: #b20000;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}
.bayan h3 span {}
.bayan h3:after {
  content: "";
  display: block;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 4px 3px;
  border-color: #980000 transparent transparent transparent;
}

.bayan.active h3:after {
  border-color: transparent transparent #000 transparent;
}

.bayan.no_arrow h3:after {
  display: none !important;
}
.bayan.active h3 {
  color: #000000;
}

.bayan h3 + div {
  display: none;
}

.bayan div {}
.bayan p {
  font-size: 15px;
  line-height: 1.2;
}
.bayan p a {}

/*.right_sidebar {*/
  /*float: right;*/
  /*width: 220px;*/
  /*display: inline-block;*/
  /*padding-top: 20px;*/
/*}*/

.right_sidebar {
  float: right;
  width: 200px;
  display: inline-block;
  /*padding-top: 20px;*/
  vertical-align: top;
}

.info_title {
  color: #b20000;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.sidebar_line {
  height: 1px;
  width: 100%;
  margin-bottom: 25px;
  background-color: #e0e2e2;
}

.red_button.low {
  margin-bottom: 40px;
	margin-top: 10px;
}
.red_button.low a {
  font-size: 14px;
  text-transform: none;
  padding-right: 15px;
  padding-left: 15px;
}

.short_information {
  margin-bottom: 22px;
}
.short_information .date {
  color: #939393;
  font-size: 11px;
  margin-bottom: 4px;
}

.short_information .info_text {
  margin-bottom: 4px;
}
.short_information .info_text p {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  color: #000;
}

.short_information .info_p {
  font-size: 12px;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}

.short_information .info_press_sl {
  position: relative;
  font-size: 12px;
  padding-left: 10px;
  margin-bottom: 10px;
  color: #909090;
}
.short_information .info_press_sl:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 3px 4px;
  border-color: transparent transparent transparent #980000;
}

.short_information .readmore {
  margin-bottom: 25px;
}
.short_information .readmore a {
  color: #b20000;
  font-size: 16px;
  text-decoration: underline;
}
.short_information .readmore a:hover {
  text-decoration: none;
}

.short_information .small_info {
  font-size: 12px;
  margin-bottom: 10px;
  color: #909090;
}
.short_information .small_info .small_title {
  color: #000000;
  margin-bottom: 3px;
  font-weight: bold;
}
.short_information .small_info .small_string {}

.info_press_sl {
  margin-top: 10px;
  position: relative;
  font-size: 12px;
  padding-left: 10px;
  margin-bottom: 10px;
  color: #909090;
}
.info_press_sl:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 3px 4px;
  border-color: transparent transparent transparent #980000;
}
.categories {
  background-color: #f8f2d7;
  padding: 25px 18px 15px;
  margin-bottom: 20px;
}

.categories + .info_title {
  margin-top: 40px;
}

.categories ul li {
  border-bottom: 1px solid #ded4a6;
  padding: 7px 0;
  color: #000;
}
.categories ul li:last-child {
  border: 0;
}
.categories ul li a {
  color: #000000;
  width: 100%;
  height: 100%;
}
.categories ul li:hover, .categories ul li.active {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #980000;
  border-color: #980000;
}
.categories ul li:hover a, .categories ul li.active a {
  color: #ffffff;
}
h3 {
  font-size: 16px;
  color: #b20000;
  font-weight: bold;
}
h3 a {
  font-size: 16px;
  color: #b20000;
  font-weight: bold;
  text-decoration: underline;
}
h3 a:hover {
  text-decoration: none;
}

.inner_page_content ul {
  margin: 10px 0;
}
.inner_page_content ul li {
  padding: 4px 0;
}
.inner_page_content ul li:before {
  content: "-";
  font-size: 16px;
  padding-right: 5px;
}

.inner_page_content ul.non li:before {
  content: "";
  font-size: 16px;
  padding-right: 5px;
}
.content a, .content div a, .content p a, .file-type-pdf a, .inner_page_content ul li a, ol li a, .inner_page_content p a, {
  /*color: #000;*/
	color:black;
  font-size: 14px;
  text-decoration: underline;
}
.content a:hover, .content div a:hover, .content p a:hover, .file-type-pdf a:hover, .inner_page_content ul li a:hover, ol li a:hover, .inner_page_content p a:hover {
  color: #b20000;
}

.inner_page_content .square_container {
  text-align: justify;
}
.square_container:after, .justifyfix:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.square_item {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 220px;
  margin-bottom: 25px;
}
.square_item a {}
.square_item .picture {
  width: 220px;
  height: 220px;
  overflow: hidden;
  margin-bottom: 10px;
}
.square_item .picture img {
  max-width: 100%;
  height: auto;
}
.square_item .square_title {
  margin-bottom: 10px;
}
.square_item .square_title span {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.2;
}
.square_item .square_name {}
.square_item .square_name span {
  font-size: 15px;
  color: #000000;
}

.square_item a:hover span {
  text-decoration: underline;
}
.square_item a:hover .picture img {
  transform: scale(1.1);
}

/* /inner pages */

/* Gallery */

.mix_gallery {
  text-align: justify;
  margin-top: 30px;
}

.mix_gallery .gallery_to_modal {
  width: 220px;
  height: 145px;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}
.mix_gallery .gallery_to_modal.video:after {
  content: "";
  position: absolute;
  background: url("../img/play_pic.png") center no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.6;
  z-index: 10;
}
.mix_gallery .gallery_to_modal.video:hover:after {
  opacity: 0.9;
}
.mix_gallery .gallery_to_modal img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.mix_gallery .gallery_to_modal:hover img {
  transform: scale(1.1);
}


/* /Gallery */

/* News catalog page */
#news {
  padding-top: 0;
}
.p_archive {
  font-size: 15px;
}
.news_archive {
  text-align: justify;
  line-height: 0;
}
.news_archive_item {
  margin-bottom: 20px;
  width: 220px;
  min-height: 0;
  font-size: 15px;
  line-height: normal;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.img_archive {
  width: 100%;
  overflow: hidden;
  height: 150px
}
.img_archive img{
  max-width: 100%;
  height: auto;
}
.date_archive {
  margin: 10px 0 10px;
  background-color: #b20000;
  padding: 5px;
  max-width: 65px;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
}
.header_archive a{
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0 10px;
  color: black;

}
.header_archive a:hover{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

main {
}

/*section.news_top {*/
  /*width:*/
/*}*/
section.news_top a {
  color: grey;
  padding: 10px 0 10px 0;
  text-decoration: underline;
}
section.news_top button {
  font-weight: bold;
  font-family: "PT Sans", serif;
  font-size: 16px;
  background-color: #980000;
  border-width: 0;
  color: #ffffff;
  border-radius: 4px;
  padding: 7px 30px;
  cursor: pointer;
}
section.news_top button:hover {
  background-color: #b20000;
}
section.news_top button a {
  font-weight: bold;
  font-family: "PT Sans", serif;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #980000;
  border-width: 0;
  color: #ffffff;
  border-radius: 4px;
  padding: 7px 30px;
  cursor: pointer;
}

section.news_top button a:hover {
  background-color: #b20000;
}
section.news_top a:hover {
  color: darkgrey;
}
section.news_top h1 {
  font-size: 32px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}
section.news_sidebar {
  background-color: #fff;
  float: left;
  width: 250px;
  padding-top: 60px;
}
section.news_sidebar button {
  font-weight: bold;
  font-family: "PT Sans", serif;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #980000;
  border-width: 0;
  color: #ffffff;
  border-radius: 4px;
  padding: 7px 30px;
  cursor: pointer;
}
section.news_sidebar button:hover {
  background-color: #b20000;
}
section.news_sidebar button a {
  font-weight: bold;
  font-family: "PT Sans", serif;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #980000;
  border-width: 0;
  color: #ffffff;
  border-radius: 4px;
  padding: 7px 30px;
  cursor: pointer;
}

section.news_sidebar button a:hover {
  background-color: #b20000;
}
section.news_sidebar h2{
  color: #b20000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
section.news_main {
  padding-top: 60px;
  background-color: #fff;
  float: right;
  width: 730px;
  text-align: justify;
}
section.news_main h2{
  color: #000;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 30px;
}

.news_category {
  margin-bottom: 35px;
}

.news_category li {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e2e2;
}
.news_category li.current a {
  color: #fff;
}
.news_category li.current a:hover{
  text-decoration: underline;
  color: #fff;
}
.news_category li.current {
  background-color: #b20000;
  margin-top: -15px;
  padding-top: 15px;
  padding-left: 15px;
}
.news_category li.current:before {
  position: absolute;
  content: '';
  display: block;
  left: 0px;
  top: 0;
  bottom:0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 6px 5px;
  border-color: transparent transparent transparent #fff;
  cursor: pointer;
}
.news_category li.current .hint_counter {
  padding: 15px;
}
.news_category a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  width: 130px;
}

.news_category a:hover {
  color: #b20000;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  text-decoration: underline;
}

.hint_counter {
  position: absolute;
  right: 0;
  top: 0;
  color: #b7afaf;
  text-align: right;
  padding-right: 11px;
}

.has_child > ul {
  display: none;
}
.has_child {
}
li.active.has_child > ul {
  display: block;
  margin-top: 20px;
}

li.active a {
  color: #b20000;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  text-decoration: underline;
}
.has_child > ul li {
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 0;
}

.has_child > ul li a {
  color: #817d7d;
  font-weight: normal;
  text-decoration: underline;
}

.has_child > ul li a:hover {
  color: #817d7d;
  font-weight: normal;
  text-decoration: none;
}

.has_child.active:after {
  content: "";
  display: block;
  position: absolute;
  right: 50px;
  top:4px;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 4px 3px;
  border-color: transparent transparent #000 transparent;
  cursor: pointer;
}
.has_child:after {
  content: "";
  display: block;
  position: absolute;
  right: 50px;
  top:7px;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 3px 3px;
  border-color: #b20000 transparent transparent transparent;
  cursor: pointer;
}


.calendar_container {
  z-index: 99;
  position: relative;
}
.grey_separator {
  height: 20px;
  width: 100%;
  background-color: #f0f0f0;
}
.events_calendar {
  padding-bottom: 20px;
}
.calendar_header {
  text-transform: uppercase;
  color: #5c0f12;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.calendar_header p{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.calendar_header a{
  margin-left: 5px;
  color: #6b6c6c;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: normal;
  border-bottom: 1px dotted #6b6c6c;
  vertical-align: middle;
}
.calendar_header a:hover{
  color: #6b6c6c;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: normal;
  border-bottom: none;
}

.calendar_header a .hided {
  display: none;
}
.calendar_header a.active .hided {
  display: inline;
}
.calendar_header a.active .showed {
  display: none;
}

.calendar_in {
  width: 850px;
  float: left;
  margin: 0 15px 0px 15px;
}
.weekdays {
  text-transform: capitalize;
  font-size: 10px;
  text-align: center;
  margin-top: 15px;
  color: #706c6c;
  z-index: 9;
}
.calendar_in ul {
  text-align: justify;
}
.calendar_in li {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #706c6c;
  position: relative;
  width: 18px;
  z-index: 1;

  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.calendar_in .event {
  color: #b20000;
  font-weight: bold;
  cursor: pointer;

}
.left_arrow {
  background-image: url(../img/left_arrow_calendar.png);
  height: 45px;
  width: 45px;
  float: left;
}
.left_arrow:hover {
  background-image: url(../img/left_arrow_calendar_active.png);
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.right_arrow {
  background-image: url(../img/right_arrow_calendar.png);
  height: 45px;
  width: 45px;
  float: right;
}
.right_arrow:hover {
  background-image: url(../img/right_arrow_calendar_active.png);
  height: 45px;
  width: 45px;
  cursor: pointer;

}
.calendar_in .event span {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.calendar_in .event:hover {
  font-weight: bold;
  color: #fff;
  z-index: 2;
}
.calendar_in .event:after {
  content: "";
  display: none;
  width: 45px;
  height: 45px;
  top: -7px;
  left: -7px;
  position: absolute;
  z-index: -1;
  color: #fff;
  font-weight: bold;
  background-image: url(../img/event_bg.png);
  background-position: 0 0;
  background-size: 73%;
  background-repeat: no-repeat;
}
.calendar_in .event:hover:after {
  display: block;
}
.event_more {
  color: #706c6c;
  font-weight: normal;
  position: absolute;
  display: none;
  width: 210px;
  left: 50%;
  top: 22px;
  margin-left: -105px;
  z-index: 10;
}
.calendar_in .event:hover .event_more {
  display: block;
}
.calendar_in .event:hover .event_more .event_main:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 10px;
  border-color: transparent transparent #e9e9e9 transparent;
  left: 50%;
  margin-left: -10px;
  bottom: 100%;
}
.calendar_in .event:hover .event_more .event_main:before {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  bottom: 100%;
  border-style: solid;
  border-width: 4px 8px 4px 8px;
  border-color: transparent transparent #fff transparent;
  left: 50%;
  margin-left: -8px;
  z-index: 1;

}
.event_main {
  border: 1px solid #eeeeee;
  margin-top: 10px;
  margin-left: 0px;
  width: 210px;
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0px 10px -3px #000;
  text-align: left;
}
.header_edu a{
  text-transform: capitalize;
  font-weight: bold;
  margin: 5px 0 10px;
  color: black;

}
.header_edu a:hover{
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
.edu_act {
  text-align: justify;
}
.edu_act p {
  text-align: left;
}
.edu_act a{
  color: #b20000;
  text-decoration: underline;
}
.edu_act a:hover {
  text-decoration: none;
}
.edu_act_container {
  line-height: 0;
  text-align: justify;
  font-size: 0;
}
.edu_act_container:after {
  content: ' i i i i i i i i ';
  word-spacing: 216px; /* на 4 пикселя меньше, чем ширина блока !!!!!! */
  padding-left: 216px;
  visibility: hidden;
  overflow: hidden;
}

.edu_act_item {
  margin-bottom: 20px;
  width: 220px;
  /*  float: left;
    margin-right: 20px;*/
  min-height: 0;
  line-height: normal;
  vertical-align: top;
  display: inline-block;
}
/*.edu_act_last_item {*/
  /*margin-bottom: 20px; *//*if this is last item margin = 80px*/
  /*width: 220px;*/
  /*min-height: 0;*/
  /*vertical-align: top;*/
  /*display: inline-block;*/
  /*font-size: 0;*/
/*}*/
/*.edu_act_add_item {*/
  /*margin-bottom: 80px;*/
  /*width: 220px;*/
  /*margin-left: 28px;*/
  /*min-height: 0;*/
  /*vertical-align: top;*/
  /*display: inline-block;*/
  /*font-size: 0;*/
/*}*/
.edu_act_img {
  width: 100%;
}
.edu_act_img img{
  max-width: 100%;
  border: 1px solid #e0e2e2;
  margin-bottom: 20px;
  height: 145px;
}

.edu_act_img a img.to-hover {
  display: none;
}

.edu_act_img a:hover img {
  display: none;
}

.edu_act_img a:hover img.to-hover {
  display: inline-block;
}


.edu_act_img a{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  text-align: left;
}
.edu_act_img a:hover{
  color: #b20000;
  text-decoration: underline;
}
.search {
  width: 100%;
}
.big_search_block {
  width: 575px;
  display: block;
  padding-left: 20px;
  float: left;
}
.big_search_block .input_container {
  margin: 0;
  position: relative;
}
.big_search_block input {
  padding: 8px 40px;
  width: 100%;
  border: 1px solid #e0e2e2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.big_search_block input:focus {
  padding-left: 10px;
  transition-duration: 1s;
  transition-delay: .2s;
}
.big_search_block input:focus + button {
  left: 95%;
}
.big_search_block button:active {
  left: 95%;
}
.big_search_block button {
  background: none;
  font-size: 18px;
  border: 0;
  color: #abaaaa;
  position: absolute;
  left: 5px;
  right: auto;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  transition-delay: .2s;
}
.big_search_block button:hover {
  color: #980000;
}
.main_header {
  /*margin-top: 25px;*/
  overflow: hidden;
}
.main_header h4 {
  margin-top: 15px;
  /*text-transform: capitalize;*/
}
.about_teacher {
  width: 460px;
}
.about_teacher h5 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #b20000;
  margin-bottom: 5px;
}
.phd {
  margin-top: 10px;
  font-size: 14px;
  color: #000;
}
.ph_ab h6 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}
.teacher_photo {
  text-align: left;
}
.teacher_photo img{
  width: 460px;
  margin-top: 15px;
}
.teacher {
  width: 520px;
  float: left;
}

.teacher.inner_page_content table tbody tr td:first-child {
  text-align: left;
  padding-left: 15px; ;
}
.news_date {
  margin: 10px 0 10px;
  background-color: #b20000;
  padding: 5px;
  max-width: 65px;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  float: left;
  margin-bottom: 20px;
}
.info_press_sl_news {
  position: relative;
  color: #909090;
  margin: 10px 0 10px;
  padding: 5px 15px;
  font-size: 11px;
  float:left;
  margin-bottom: 20px;
}
.news_head {
  text-align: left;
  margin-bottom: 20px;
}
.news_head h1{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.share_widget {
  margin-bottom: 0px;
}
.news_head img {
  max-width: 100%;
  height: auto;
  /*margin-bottom: 20px;*/
}

.inner_page_content .go_back {
  margin: 15px 0;
}
.go_back a{
  color: #b20000;
  text-decoration: underline;
}
.go_back a:hover {
  text-decoration: none;
}
.news_head ul {
  border-left: 2px solid #cdcdcc;
  padding-left: 15px;
  color: black;
}

.news_head ul li {
  padding: 7px 0;
}

.news_detail .inner_page_content {
  padding-right: 0;
}

/* /News catalog page */

/* Plugins */
.slided_tabs {
  overflow: hidden;
}
.slided_tabs_wrapper {
  width: 9999px;
  position: relative;
  height: 100%;
  left: 0;

  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;

  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
}
.slided_tab {
  width: 980px;
  float: left;

}
/* /Plugins */

.speakers_head {
  text-align: left;
  margin-bottom: 20px;
}
.speakers_head h1{
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}
.speakers_head h2{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.speaker_name {
  margin: 10px 0 10px;
  background-color: #b20000;
  padding: 5px;
  color: #fff;
  font-size: 11px;
  float: left;
  margin-bottom: 20px;
}
.speaker_info {
  position: relative;
  color: #909090;
  margin: 10px 0 10px;
  padding: 5px 15px;
  font-size: 11px;
  float:left;
  margin-bottom: 20px;
}
.speaker_about {
  clear: both;
}
.go_back img{
  vertical-align: middle;
  margin-right: 10px;
}
.speakers_head table tbody tr td:first-child {
  text-align: left;
  padding-left: 15px; ;
  border: 2px solid #fff;
}
.speakers_head table tbody tr td {
  text-align: left;
  padding-left: 15px; ;
  border: 2px solid #fff;
}
.speakers_head th{
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 0px 10px 15px;
}
.fancybox-close {
  background-image: url('../img/close.png');
}
.fancybox-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 98px;
  height: 98px;
  cursor: pointer;
  text-decoration: none;
  z-index: 8040;
}
.fancybox-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 98px;
  height: 98px;
  cursor: pointer;
  text-decoration: none;
  z-index: 8040;
}
.fancybox-next span {
  margin-left: 150px;
}
.fancybox-prev span {
  margin-right: 150px;
}
.fancybox-next:hover span,
.fancybox-next span {
  background: transparent url(../img/right_arrow.png) no-repeat;
  width: 98px;
  height: 98px;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  margin-top: 0;
  left: 0;
  visibility: visible;
}
.fancybox-prev:hover span,
.fancybox-prev span {
  background: transparent url(../img/left_arrow.png) no-repeat;
  width: 98px;
  height: 98px;
  position: absolute;
  top: 0;
  bottom: auto;
  margin-top: 0;
  visibility: visible;
  right: 0;
}
.speakers_head h3 {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
.speakers_head .bayan h3{
  color: #b20000;
}
.speakers_head .bayan {
  width: 725px;
}
.speakers_head .bayan img{
  width: 100%;
}
.helper h4 {
  margin-top: 0;
  width: 80%;
  float: none;
  display: inline-block;
  margin-right: -4px;
  vertical-align: bottom;
}
.helper .main_header a{
  margin-top: 0px;
  color: #b20000;
  width: 20%;
  text-decoration: none;
  text-align: right;
  margin-right: -4px;
  vertical-align: bottom;
}
.helper .main_header a:hover{
   text-decoration: underline;
}

.helper.inner_page_content table tbody tr td:first-child {
  text-align: left;
  padding-left: 15px; ;
}
.helper .edu_act_container {
  text-transform: uppercase;
}
.right_sidebar .bayan {
  background-color: #f8f2d7;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 6px;

  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.right_sidebar .bayan *, .bayan *:after {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.right_sidebar .bayan h3 {
  color: #b20000;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}
.right_sidebar .bayan h3 span {}
.right_sidebar .bayan h3:after {
  content: "";
  display: none;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 4px 3px;
  border-color: #980000 transparent transparent transparent;
}

.right_sidebar .bayan.active h3 {
  color: #000000;
}

.right_sidebar .bayan h3 + div {
  display: none;
}

.right_sidebar .bayan div {}
.right_sidebar .bayan p {
  font-size: 15px;
  line-height: 1.2;
}
.right_sidebar .bayan p a {}

.modal button{
  width: 78px;
  height: 78px;
}
.inline {
  display: none;
  padding: 50px 105px 20px;
}
.inline .img_popup {
  float: left;
  max-width: 130px;
  overflow: hidden;
}
.inline .other_popup {
  margin-left: 0;
}

.inline .img_popup + .other_popup {
margin-left: 160px;

}
.inline.img_popup img {
  max-width: 100%;
  height: auto;

}
.inline h2{
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  color: #000;
}
.inline p{
  text-align: center;
  color: #000;
}
.inline h3{
  text-align: center;
  font-weight: bold;
  color: #000;
  margin-bottom: 25px;
}
.inline input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #acacac;
  border-radius: 4px;
  background-color: #f8f8f8;
  display: inline-block;
}

.corner_container {
  position: relative;
  padding-top: 15px;
}

.corner_container:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 8px 15px;
  border-color: transparent transparent #acacac transparent;
  position: absolute;
  top: 8px;
  left: 50px;
  z-index: 9;
}
.corner_container:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 8px 15px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: 9px;
  left: 50px;
  z-index: 10;
}
.inline textarea {
  height: 105px;
  width: 100%;
  background-color: #f8f8f8;
  resize: none;
  border: 1px solid #acacac;
  border-radius: 4px;
}
.inline .other_popup select{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #acacac;
  border-radius: 4px;
  background-color: #f8f8f8;
  display: inline-block;
  color: #888;
}
.inline .last_modals {
  width: 320px    ;
  margin: 30px auto 30px;
}

.inline .squaredFour {
   position: relative;
 }

.inline .squaredFour input[type=checkbox] {
  left: -9220px;
  width: 20px;
  position: absolute;
}
.inline .squaredFour label {
  position: relative;
  background-repeat: no-repeat;
  padding-left: 40px;
  height: 35px;
  vertical-align: middle;
  font-weight: bold;
  margin-top: 15px;
  padding-top: 5px;
  cursor: pointer;
}


.inline .squaredFour input[type=checkbox] + label:after {
  content: '';
  position: absolute;
  width: 35px;
  background-image: url("../img/check.png");
  height: 35px;
  left: 0;
  top: 0;
}

.inline .squaredFour input[type=checkbox]:checked + label:after {
  background-image: url("../img/checked.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  content: '';
}

.inline .red_button {
  margin: 20px auto 0px;
  margin-left: 30%;
}
.inline .red_button a {
  font-size: 16px;
  text-transform: uppercase;
  padding-right: 15px;
  padding-left: 15px;
}

.important_news {
  display: none;
}
.important_news h2{
  padding-top: 25px;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  color: #000;
}
.important_news p{
  color: #000;
  font-size: 15px;
  line-height: 1.4;
}
.important_news h3{
  text-align: left;
  font-weight: bold;
  color: #000;
  font-size: 16px;
  margin-bottom: 16px;
}
.important_news .imp_news_inner {
  width: 580px;
  margin: 0 auto 0;
  height: auto;
  padding: 45px;
}
.important_news .imp_.news_inner hr {
  height: 1px;
  width: 100%;
  background-color: #e0e2e2;
  margin: 20px 0;
  border: 0;
}
.important_news .grey_button a {
  font-weight: bold;
  font-family: "PT Sans", serif;
  font-size: 16px;
  background-color: #9b9b9b;
  border-width: 0;
  color: #ffffff;
  border-radius: 4px;
  padding: 7px 30px;
  cursor: pointer;
  width: 99px;
  margin-left: 38%;
  margin-top: 25px;
}
.important_news .grey_button a:hover {
  background-color: #acacac;
}
.events_head h1{
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  padding: 24px 0 24px;
  font-size: 26px;
}
.events_head h3{
  float: left;
  padding: 24px 25px 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  color: #fff;
  background-image: url("../img/event_date.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 18px;
}
.events_head h4{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.events_head .go_back a{
  margin-top: 25px;
}
.events_head table tbody tr:nth-child(2n + 1) td {
  background-color: #fff;
}
.events_head table tbody tr td:first-child {
  text-align: left;
  width: 20%;
}
.events_more {
  width: 725px;
  float:right;
}
.event_main a {
  color: #706c6c;
  text-decoration: none;
}
.event_main a:hover {
  color: #706c6c;
  text-decoration: underline;
}

.inbox {
  display: none;
}
.inbox h2{
  padding-top: 25px;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  color: #000;
}
.inbox p{
  color: #000;
  font-size: 15px;
  line-height: 1.4;
}
.inbox a{
  color: #b20000;
  font-size: 15px;
  line-height: 1.4;
}
.inbox h3{
.  text-align: left;
  font-weight: bold;
  color: #000;
  font-size: 16px;
  margin-bottom: 16px;
}
.inbox .imp_news_inner {
  width: 580px;
  margin: 0 auto 0;
  height: auto;
  padding: 45px;
}
.inbox hr {
  height: 1px;
  width: 100%;
  background-color: #e0e2e2;
  margin: 20px 0;
  border: 0;
}
.inbox table tbody tr td {
  padding: 10px;
  font-size: 15px;
  color: #b0b0b0;
}
.inbox img {
  vertical-align: middle;

}
.inbox table tbody tr td:first-child {
  text-align: left;
  width: 86px;
  padding: 10px 0 10px;
  vertical-align: middle;
}
.inbox table tbody tr td:last-child {
  text-align: left;
  width: 150px;
  padding: 10px 0 10px;
  vertical-align: middle;
}
.inbox .red_button a{
  color: #fff;
  margin-left: 30%;
  text-decoration: none;
}
.inbox a{
  color: #b20000;
  text-decoration: underline;
}
.inbox a:hover{
  text-decoration: none;
}

.subscribe {
  display: none;
  padding: 50px 105px 20px;
}

.subscribe .other_popup {
  float: right;
  width: 325px;
}
.subscribe img {
  max-width: 100%;
  height: auto;
  margin-right: 25px;
  display: inline-block;
}
.subscribe h2{
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  color: #000;
}
.subscribe p{
  text-align: center;
  color: #000;
}
.subscribe h3{
  text-align: center;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}
.subscribe input {
  width: 360px;
  padding: 10px;
  margin: 15px 0 15px;
  border: 1px solid #acacac;
  border-radius: 4px;
  background-color: #f8f8f8;
  display: inline-block;
}
.subscribe .red_button {
  margin: 20px auto 0px;
  margin-left: 30%;
}
.subscribe .red_button a {
  font-size: 16px;
  text-transform: uppercase;
  padding-right: 15px;
  padding-left: 15px;
}
.subscribe .main_news_sub {
  position: relative;
}

.subscribe .main_news_sub input[type=checkbox] {
  left:-9220px;
  width: 20px;
  position: absolute;
}
.subscribe .main_news_sub label {
  position: relative;
  background-repeat: no-repeat;
  padding-left: 40px;
  height: 35px;
  vertical-align: middle;
  font-weight: bold;
  margin-top: 15px;
  padding-top: 5px;
  cursor: pointer;
  float: right;
}


.subscribe .main_news_sub input[type=checkbox] + label:after {
  content: '';
  position: absolute;
  width: 35px;
  background-image: url("../img/check.png");
  height: 35px;
  left: 0;
  top: 0;
}

.subscribe .main_news_sub input[type=checkbox]:checked + label:after {
  background-image: url("../img/checked.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  content: '';
}

.subscribe .other_news_sub {
  position: relative;
  overflow: hidden;
}

.subscribe .other_news_sub input[type=checkbox] {
  left:-9220px;
  width: 20px;
  position: absolute;
}
.subscribe .other_news_sub label {
  position: relative;
  background-repeat: no-repeat;
  padding-left: 40px;
  height: 35px;
  vertical-align: middle;
  font-weight: bold;
  margin-top: 15px;
  padding-top: 5px;
  cursor: pointer;
  float: left;
}


.subscribe .other_news_sub input[type=checkbox] + label:after {
  content: '';
  position: absolute;
  width: 35px;
  background-image: url("../img/check.png");
  height: 35px;
  left: 0;
  top: 0;
}

.subscribe .other_news_sub input[type=checkbox]:checked + label:after {
  background-image: url("../img/checked.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  content: '';
}
.inline .squaredFur input[type=checkbox] + label:after {
   content: '';
   position: absolute;
   width: 35px;
   background-image: url("../img/check.png");
   height: 35px;
   left: 0;
   top: 0;
 }

.inline .squaredFur input[type=checkbox]:checked + label:after {
  background-image: url("../img/checked.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  content: '';
}

.help_que {
  background-color: #f0f0f0;
  padding: 20px;
  height: 56px;
}
.help_que h2 {
  font-size: 18px;
  text-transform: uppercase;
  float: left;
  vertical-align: middle;
}

.help_que .green_button a {
  font-weight: bold;
  font-family: "PT Sans", serif;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #317e31;
  border-width: 0;
  color: #ffffff;
  border-radius: 4px;
  padding: 7px 30px;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin: -7px 0 0 25px;
}
.help_que .green_button a:hover {
  background-color: #22cb22;
}
.help_que .green_button {
  vertical-align: middle;
}
.help_que .grey_button {
  margin-top: -5px;
}
.help_que .grey_button a {
  font-weight: bold;
  font-family: "PT Sans", serif;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #9b9b9b;
  border-width: 0;
  color: #ffffff;
  border-radius: 4px;
  margin-top: -7px;
  padding: 7px 30px;
  cursor: pointer;
  display: inline-block;
  float: right;
}
.help_que .grey_button a:hover {
  background-color: #acacac;
}
.helper .go_back {
  margin-top:25px;
  overflow: hidden;
}
.helper .last_helper h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.helper .red_button {
  margin-bottom: 45px;
}
.red_button {
						line-height: normal;
}

.register {
  display: none;
  padding: 50px 105px 20px;
}
.register .img_popup {
  float: left;
  max-width: 130px;
  overflow: hidden;
}
.register .other_popup {
  float: right;
  width: 100%;
}
.register img {
  max-width: 100%;
  height: auto;
  margin-right: 25px;
  display: register-block;
  float: left;
}
.register h2{
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  color: #000;
}
.register p{
  text-align: center;
  color: #000;
}
.register h3{
  text-align: center;
  font-weight: bold;
  color: #000;
  margin-bottom: 25px;
}
.register input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #acacac;
  border-radius: 4px;
  background-color: #f8f8f8;
  display: register-block;
}
.register textarea {
  height: 105px;
  width: 100%;
  margin-top: 25px;
  background-color: #f8f8f8;
  resize: none;
  border: 1px solid #acacac;
  border-radius: 4px;
}
.register .other_popup select{
  float: right;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #acacac;
  border-radius: 4px;
  background-color: #f8f8f8;
  display: register-block;
  color: #888;
}
.register .last_modals {
  width: 320px    ;
  margin: 30px auto 0px;
}

.register .squaredFour {
  position: relative;
}

.register .squaredFour input[type=checkbox] {
  left:-9220px;
  width: 20px;
  position: absolute;
}
.register .squaredFour label {
  position: relative;
  background-repeat: no-repeat;
  padding-left: 40px;
  height: 35px;
  vertical-align: middle;
  font-weight: bold;
  margin-top: 15px;
  padding-top: 5px;
  cursor: pointer;
}


.register .squaredFour input[type=checkbox] + label:after {
  content: '';
  position: absolute;
  width: 35px;
  background-image: url("../img/check.png");
  height: 35px;
  left: 0;
  top: 0;
}

.register .squaredFour input[type=checkbox]:checked + label:after {
  background-image: url("../img/checked.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  content: '';
}

.register .red_button {
  margin: 20px auto 0px;
  margin-left: 30%;
}
.register .red_button a {
  font-size: 16px;
  text-transform: uppercase;
  padding-right: 15px;
  padding-left: 15px;
}
.fileform {
  margin-top: 15px;
  cursor: pointer;
  height: 37px;
  overflow: hidden;
  padding: 2px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

.fileform .selectbutton {
  background-color: #acacac;
  border: 1px solid #acacac;
  border-radius: 4px;
  color: #FFFFFF;
  margin-left: 15%;
  height: 31px;
  line-height: 20px;
  overflow: hidden;
  padding: 2px 6px;
  text-align: center;
  vertical-align: middle;
  width: 70%;
}

.fileform #upload{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  opacity: 0;
  font-size: 150px;
  height: 37px;
  z-index:20;
}

.input_container.search_dropdown {
  z-index: 15;
}
.input_container.search_dropdown input {
  position: relative;
  z-index: 9;
}

.input_container.search_dropdown .dropdown {
  display: none;
  position: absolute;
  top: 50%;
  background: #ffffff;
  width: 100%;
  border: 1px solid #e0e2e2;
  border-top: 0;
  padding: 25px 15px 10px;
  z-index: 8;
  max-height: 195px;
  min-height: 70px;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 5px 0px #424242;
  box-shadow: 0px 0px 5px 0px #424242;
}
.input_container.search_dropdown.focus .dropdown {
  display: block;
}
.input_container.search_dropdown .dropdown ul {}
.input_container.search_dropdown .dropdown ul li {
  padding: 5px 0;
}
.input_container.search_dropdown .dropdown ul li a {
  color: #b20000;
  font-size: 16px;
  text-decoration: underline
}
.input_container.search_dropdown .dropdown ul li:hover a {
  text-decoration: none;
}

.input_container.search_dropdown .dropdown ul li a span.fio {
  color: #000;
}


/*.search_dropdown {*/
  /*width: 740px;*/
  /*height: auto;*/
  /*z-index: 1500;*/
/*}*/
/*.search_dropdown a{*/
  /*color: #b20000;*/
  /*padding: 10px 25px;*/
  /*text-decoration: underline;*/
/*}*/
/*.search_dropdown a:hover{*/
  /*color: #b20000;*/
  /*text-decoration: none;*/
/*}*/

.inner_head_content {
  width: 760px;
  padding-right: 15px;
  display: inline-block;
  padding: 0px 20px 0;
}
.inner_head_content hr {
  height: 1px;
  width: 100%;
  background-color: #e0e2e2;
  margin: 20px 0;
  border: 0;
}


/*пожелания руководства и необходимости*/
em {
  font-style: italic;
}

.small {
  font-size: small;
}
.inner_page {
  padding-top: 20px;
}

/* Заголовки */ 
.inner_page_content h1 {font-size: 20px;}
.inner_page_content h2 {font-size: 18px;}
.inner_page_content h3 {font-size: 16px;}

/* Спойлера */
.bayan div p {  font-size: 15px;  line-height: 1.2;padding: 0 1em 0 0;}
.bayan h3 span {font-size: 16px;}

.inner_page_content p {
  text-indent: .2em;
}

.inner_page_content div.conts p {
  text-indent: 0em;
}

/* кнопки вкладок */
ul.links li a {
  border-top: 1px solid #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f2d7));
  background: -webkit-linear-gradient(top, #fff, #f8f2d7);
  background: -moz-linear-gradient(top, #fff, #f8f2d7);
  background: -ms-linear-gradient(top, #fff, #f8f2d7);
  background: -o-linear-gradient(top, #fff, #f8f2d7);
  padding: 4.5px 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.2) 0 1px 0;
  color: #ccc;
  font-size: 24px;
 /* font-family: Georgia, Serif;*/
  text-decoration: none;
  vertical-align: middle;
  }
ul.links li a:hover {
  border-top-color: #fff;
  background: #fff;
  color: #fff;
  text-decoration:none;
  }
ul.links li a:active {
  border-top-color: #fff;
  background: #fff;
  }
/* кнопки вкладок */


/* Справочник */
#bayans.inner_page_content {
  width: 79%;}
#bayans.inner_page_content .bayan
{  padding: 1px 5px 1px 20px;}
#bayans.inner_page_content .bayan h3 span {
  font-size: 14px;}

	
	.helper_in_main {
  border-radius: 15px;
  border: 1px lightgray solid;
  padding: .5em;
  box-shadow: 4px 4px 10px #F8F2D7;
  margin-bottom: 1em;
}

.help_que {
  background-color: #f0f0f0;
  padding: 20px;
  height: 56px;
  border-radius: 10px;
margin: 1em 3em;
}

.help_que .green_button {
  vertical-align: middle;
  float: right;}

.inner_page_content .go_back {
  margin: 1em 0em;
  border: 1px maroon dotted;
  padding: .5em;
  clear: both;
  border-radius: 10px;}

.inner_page_content .go_back a { 
margin:.5em; }

.helper h4 {
  margin-top: 0;
  width: 88%;
  float: none;
  display: inline-block;
  margin-right: -4px;
  vertical-align: bottom;
  border: maroon 1px solid;
  border-radius: 10px;
  padding: .5em;
  background-color: #F8F2D7;
	margin-left: 3em;
	}

.helper .main_header a {
  margin-right: 0;
  float: left;
  width: 60px;
    margin-top: 0.2em;
position: absolute;}

.bayan h3, .bayan h3 a {
  font-size: 16px;
  color: #000037;
}

.bayan h3:hover, .bayan h3 a:hover {  font-size: 16px;  color: #b20000;}
	/* Справочник */
	
/* Стиль боянов */
.bayan h3, .bayan h3 a {  font-size: 16px;  color: #000000;  border-radius: 15px;}
.bayan.active h3 {  color: #000000;  border-radius: 15px;}
.bayan {  background-color: transparent;border: 1px maroon dotted;}
.bayan h3 span {  font-size: 14px;}
.right_sidebar .bayan {background-color: #FFFFFF;}
	.right_sidebar .bayan {
  background-color: #f8f2d7;
  padding: 5px 5px 5px 10px;
	
	margin-bottom: 10px;
	}
	

.bayan h3, .bayan h3 a {
  font-size: 16px;
  color: #000000;}

.bayan.active h3 {
  color: #000000;}

.bayan {
  background-color: transparent;
  border: none;
  padding:10px 20px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.6);
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.6);
}

.bayan h3 span {
  font-size: 14px;
}
.inner_page_content table thead tr th{
  background:#f8f2d7;
  color:#484848;
  padding:15px;
}
.inner_page_content table tbody tr td, .inner_page_content table tbody tr td:first-child {
  padding: 15px;
  border: none;
}
.inner_page_content table tbody tr td a{
 text-decoration:none;
 color:#b20000;
}
/* Стиль боянов */
	
	

.edu_act_img img {  margin-bottom: 0px;}
.inner_page_content table p {  text-indent: 0em;margin: 0.5em; }

/*визитка с текстом на разводящие страницы*/
.edu_act_img div.textdir {font-size: 0.9em;z-index: 9999;width: 220px;height: 145px;float: right;position: absolute;color: black;background: rgb(248, 242, 215);/*text-shadow: gray 1px 1px 6px;*/}
.edu_act_img div.textdir p {margin: 1.5em 0em;  text-indent: 0;  text-align: center;}
/*визитка с текстом на разводящие страницы*/

/* отступ футера */
.inner_page {  padding-bottom: 1em; }
/* отступ футера */

/*таблицы контактов для сниппета*/
.inner_page_content table.working-boss tbody tr:first-child td:nth-child(1) { padding: .2em .5em 0.2em .5em; text-align: center; vertical-align: middle;}
.inner_page_content table.working tbody tr:first-child td:nth-child(1) { padding: .2em .5em 0.2em .5em; text-align: center; vertical-align: middle;}

.inner_page_content table.working-boss tbody tr:nth-child(1) td:nth-child(2) {background: #800000;}
.inner_page_content table.working tbody tr:nth-child(1) td:nth-child(2) {background: #46749e;}

.inner_page_content table.working-boss tbody tr:nth-child(1) td:nth-child(2) strong, .inner_page_content table.working tbody tr:nth-child(1) td:nth-child(2) strong {color: white; }
.inner_page_content table.working-boss tbody tr:nth-child(1) td:nth-child(2) b, .inner_page_content table.working tbody tr:nth-child(1) td:nth-child(2) b {color: white; }

.inner_page_content table.working-boss tbody tr:nth-child(2) td {width:120px;}
.inner_page_content table.working tbody tr:nth-child(2) td {width:120px;}

.inner_page_content table.working-boss tbody tr td:first-child {width: 150px }
.inner_page_content table.working tbody tr td:first-child {width: 150px }

.inner_page_content table.working-boss tbody tr td:first-child strong img {width: 110px }
.inner_page_content table.working tbody tr td:first-child strong img {width: 110px }

.inner_page_content table.working-boss {border: none; margin-bottom: 15px; background: white;}
.inner_page_content table.working {border: none; margin-bottom: 15px; background: white;}

.inner_page_content table.working-boss tbody tr td.name {vertical-align: middle; font-size: 20px; height: 30px; padding: .2em .5em 0.2em .5em;}
.inner_page_content table.working tbody tr td.name {vertical-align: middle; font-size: 20px; height: 30px; padding: .2em .5em 0.2em .5em;}

.inner_page_content table.working-boss tbody tr td { padding: .2em .5em 0.2em 1.5em; vertical-align: middle;}
.inner_page_content table.working tbody tr td { padding: .2em .5em 0.2em 1.5em; vertical-align: middle;}

.inner_page_content table.working-boss tbody tr:nth-child(1n) td { padding: .5em; vertical-align: middle;}
.inner_page_content table.working tbody tr:nth-child(1n) td { padding: .5em; vertical-align: middle;}
/*таблицы контактов для сниппета*/

/*выравнивание главных меню по левому краю*/
.categories ul li a {  text-align: left; }
/*выравнивание главных меню по левому краю*/

/* серый наплыв в меню */
.categories ul li:hover, .categories ul li.active {  background-color: #767F8C;}
/* серый наплыв в меню */

/* жирный шрифт, пет */
p b { font-weight: 700;}
div.inner_page_content p img.1em {margin: 0 1em !important;}
/* жирный шрифт, пет */

.helper .edu_act_container .edu_act_item { width: 150px; text-align:center;height:200px; }
.helper .edu_act_container .edu_act_img {  width: 100%; text-align:center;}
.helper .edu_act_container .edu_act_img a {  text-align:center;}
.helper .edu_act_container .edu_act_img a img {height:110px}


/* Личный кабинет */
.lk {  display: none;}
.lk h2{  padding-top: 25px;  font-weight: bold;  font-size: 32px;  text-transform: uppercase;  text-align: center;  margin-bottom: 15px;  color: #000;}
.lk p{  color: #000;  font-size: 15px;  line-height: 1.4;}
.lk a{  color: #b20000;  font-size: 15px;  line-height: 1.4;}
.lk h3{.  text-align: left;  font-weight: bold;  color: #000;  font-size: 16px;  margin-bottom: 16px;}
.lk .imp_news_inner {  width: 580px;  margin: 0 auto 0;  height: auto;  padding: 45px;}
.lk hr {  height: 1px;  width: 100%;  background-color: #e0e2e2;  margin: 20px 0;  border: 0;}
.lk table tbody tr td {  padding: 10px;  font-size: 15px;  color: #b0b0b0;}
.lk img {  vertical-align: middle;}
.lk table tbody tr td:first-child {  text-align: left;  width: 86px;  padding: 10px 0 10px;  vertical-align: middle;}
.lk table tbody tr td:last-child {  text-align: left;  width: 150px;  padding: 10px 0 10px;  vertical-align: middle;}
.lk .red_button a{  color: #fff;  margin-left: 30%;  text-decoration: none;}
.lk a{  color: #b20000;  text-decoration: underline;}
.lk a:hover{  text-decoration: none;}
.lk_div1{font: italic 14px/18px arial; padding:30px 0 40px 0; border-top:1px solid #c7c7c7; margin-top: 20px;}
.lk_div1 span{vertical-align: middle;}
.lk_div2 a { display: initial;}
.lk_div2, .lk_div3, .lk_div4, .lk_div5, .lk_div6, .lk_div7 , .lk_div8  {font: 16px/24px arial; padding-left: 40px; padding-bottom: 12px; margin-left: 15px;}
/*.lk_div1, .lk_div2, .lk_div3, .lk_div4, .lk_div5, .lk_div6, .lk_div7 , .lk_div8  {display: initial;}*/
.lk_div2 > p#blink2, .lk_div3 > p#blink2, .lk_div4 > p#blink2, .lk_div5 > p#blink2, .lk_div6 > p#blink2, .lk_div7 > p#blink2, .lk_div8 > p#blink2 {margin: 0; line-height: 1.2em !important; font-size:.7em;color:green;margin-top:-.4em important;position:relative;}
.lk_div2 {background:url(/common/img/mail_stud.gif) no-repeat left 1px}
.lk_div3 {background:url(/common/img/mail_bg.gif) no-repeat left 2px}
.lk_div4 {background:url(/common/img/mail_sotr.gif) no-repeat left 3px}
.lk_div5 {background: url(/common/img/eos.gif) no-repeat 6px 3px;}
.lk_div6 {background: url(/common/img/1c.png) no-repeat 6px 2px;}
.lk_div7 {background: url(/common/img/Elearn.png) no-repeat 6px 2px;}
.lk_div8 {background: url(/common/img/Elearn.png) no-repeat 6px 2px;}
/* Личный кабинет */


.fancybox-overlay::-webkit-scrollbar {width: 0px !important; height: 0px !important;}
.fancybox-overlay::-webkit-scrollbar-thumb:vertical { height: 0px !important; }
.fancybox-overlay::-webkit-scrollbar-thumb:horizontal { width: 0px !important;}
.fancybox-margin { margin-right: 0px !important;}
.fancybox-lock, .fancybox-lock body {  overflow: visible !important;}


/* Спойлер плавный старый вариант */
.splCont{display:none;border-left: 1px solid #cccccc;border-right: 1px solid #cccccc;margin:0.7em; padding:0 20px 0 16px; font-size: 1em;}
.splSpan {float: right; margin-top: -3em;font-size: 1em; text-align: right;}
.splLink { font-size: 1em; }
ul li{ text-align: justify; }
div.contscentr { text-align: center; }
.ma2 {margin: 0 0 0 1em;}
.pmatop-1 { margin-top:0em;}
hr { margin:.1em auto; }
.capitalize {text-transform: uppercase;}
.footer .i0 {width:110px;}
.inner_page_content .bayan div ul li:before {content:"-";margin:0;float:left;}
div.bayan ul li .conts ul li a {  display: initial; }
/* Спойлер плавный старый вариант */


/*ФИКС НА СПИСКИ с лишним P */

div.inner_page_content ul li p {margin: 0;padding:0;}
/*div.inner_page_content ul li:before {content:"-";margin:0;float:left;}*/
div.inner_page_content ul li p { display: initial; }
/*ФИКС НА СПИСКИ с лишним P */




	/* ПРЕПОДЫ */
	.square_item {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 100%;
  margin-bottom: 0px;
	}
	/* ПРЕПОДЫ */


h4.bl-h4 {
  background: rgba(80, 22, 25, 0.8 !important);
}

/* кнопки навигации баннеров */
.owl-nav .owl-next, .owl-nav .owl-prev {
    opacity: .6;
		}
/* кнопки навигации баннеров */


.inner_page_content .main-flex .bl-3col ul li:before {
  content: "" !important;
  font-size: 16px;
  padding-right: 0px;
}


/* Стиль боковых информационных блоков новостей и мероприятий */
.short_information{
 border-top:3px solid #B20000;
 border-bottom:1px solid #f8f2d7;
}
.short_information .readmore {
  margin-bottom: 5px;
}
.short_information {
  margin-bottom: 10px;
}
.date{
 padding:4px;
}
.readmore{
 text-align:right;
}
.readmore a{
 text-decoration:none !important;
}
.readmore a:after{
 content:" ➤";
}

/* Стиль боковых информационных блоков новостей и мероприятий */



.wrapper_container .inner_page_content a {color:black;text-decoration: underline;}
.wrapper_container .inner_page_content a:hover {color:maroon;text-decoration: underline;}


.left_sidebar {
  float: left;
  padding-right: 10px;
  width: 200px;
  border-right: none;
min-height: 120px;
}
.categories {
  background-color: transparent;
  padding: 10px 0px 0px;
  margin-bottom: 20px;
}
.categories ul li {
  padding: 7px 0;
  webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
  padding: 8px 15px;
}
.categories ul li a{max-width:160px;color:#484848;}
.categories ul li:hover, .categories ul li.active {
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 25px;
  padding-right: 5px;
  background-color: #F8F2D7;
  border-color: transparent;;
}

.categories ul li:hover a, .categories ul li:active a {
  color: #B20000 !important;
}

.categories ul li:hover a, .categories ul li.active a {
  color: #B20000;
}

.wrapper_container .inner_page_content .red_button.low a {color:white;margin-top:1em;}
.wrapper_container .inner_page_content .red_button.low a:hover {color:wheat;margin-top:1em;}
.wrapper_container .inner_page_content .red_button.low.select a {color:yellow;margin-top:1em;}
div#arrr .red_button.low {margin-bottom: 15px;}

.news_category li {
    position: relative;
    margin-bottom: 5px;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #B40000;
}
.news_category li:hover{
  background:#F8F2D7;
}
.has_child > ul li {
    margin-bottom: 0px;
    margin-top: 0px;
    border: 0;
}
.has_child > ul li a:hover{
    color:#b20000;
}

/*для архива новостей картинки */
.img_archive img {
    max-width: 100%;
}
/*для архива новостей картинки */


.news_category li {
    position: relative;
     margin-bottom: 0px; 
     padding-bottom: 8px; 
     padding-top: 8px; 
     padding-left: 15px; 
    padding: 7px 0;
    webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.3);
    padding: 8px 15px;
}

.news_category li {
    position: relative;
    margin-bottom: 5px;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #B40000;
}
.has_child > ul li:hover{
  background:#F8F2D7;
  border-left:3px solid #b20000;
  border-top:1px solid #EFEAD2;
  border-bottom:1px solid ##EFEAD2;
}
.has_child > ul li {
    margin-bottom: 0px;
    margin-top: 0px;
    border: 0;
}
.has_child > ul li a:hover{
    color:#b20000;
}

.has_child > ul{
  border:1px solid #f0f0f0;
  background:#F0F0F0;
  margin-left:-10px;
  margin-right:-15px;
}
.has_child > ul > li{
padding:10px 0 10px 25px
}

.news_category li.current {
    background-color: #F8F2D7;
    margin-top: 5px;
    padding-top: 15px;
    padding-left: 15px;
}
.news_category li.current > a{color:#b20000;text-decoration:none;}
.news_category li.current > a:hover{color:#585858;}
.news_category li.current:before{
content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 6px;
    border-color: transparent transparent       transparent #b20000;
}

@font-face {
    font-family: mainbanner; /* Гарнитура шрифта */
    src: url(/local/templates/main/css/mainbanner2.ttf); /* Путь к файлу со шрифтом */
   }
.awesome_slide .left_side .content p {
    color: #272727;
    font-size: 20px;
    margin-bottom: 30px;
font-family: mainbanner;
}

.top_head li.logo_text p {
    font-family: mainbanner;
    font-size: 19px;
    font-weight: normal;
}

.top_head li.logo_text span.little_text {
    font-family: "Georgia";
    font-style: italic;
    font-size: 14px;
    color: #847f7f;
}


div.bx_incl_area_10_1_3 {
    width: 760px;
    float: right;
}

/*fix главного меню с админкой */
.wrapper_container.justifyfix #bx_incl_area_1_1, .important_links #bx_incl_area_6 {
display: inline-block;
}
/*fix главного меню с админкой */


.width-100 {
  width: 100%;
}

/* стиль для научных трудов */

.wrapper_container .inner_page_content a.science { color:#b20000; font-size: 12pt; font-weight: bold; } 
span.colfff {color: #ffffff;} 

/* стиль для научных трудов */

/* стиль для 2 линии меню (добавление правовой экспертизы) */
.big_menu ul li {     font-size: 16px;
    display: inline-block;     /* float: left; */
    height: 60px;     padding: 0px 6px;     line-height: 55px;
    width: auto;     min-width: 60px;   max-width: 145px;
    text-align: center;     -webkit-transition: background 0.2s linear;     -moz-transition: background 0.2s linear;     -o-transition: background 0.2s linear;
    transition: background 0.2s linear; font-variant: all-petite-caps }

.big_menu ul li a {     font-size: 17px; }
/* стиль для 2 линии меню (добавление правовой экспертизы) */