/*файлы с иконками*/
.file-type-zip, .file-type-pdf, .file-type-ppt, .file-type-doc, .file-type-pptx, .file-type-xls, .file-type-docx {
    display: block;
    position: relative;
    min-height: 30px;
    padding-left: 38px;
    margin: 20px 0;}

.file-type-zip:before, .file-type-pdf:before, .file-type-ppt:before, .file-type-pptx:before, .file-type-doc:before, .file-type-docx:before, .file-type-xls:before {
    display: block;
    width: 27px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 0;
    margin-top: -15px;
    background: transparent url('/common/img/bg-ico-files.png') 0 0 no-repeat scroll;
    font-size: 1px;
    line-height: 1px;
    content: '';
    text-indent: -100px;}

.file-type-zip small, .file-type-pdf small, .file-type-ppt small, .file-type-doc small,  .file-type-xls small {
    display: block;
    font: normal 10px/12px Arial,Tahoma,sans-serif;
    color: #8d8d8d;
    padding-top: 2px;
}

/*файлы с иконками*/


/*Таблицы*/


table {width:100%; font-size:12px;}
table th {text-align:left; color:#8d8d8d;}
table th,
table td {padding:3px 10px; border-bottom:1px solid #c7c7c7; border-left:1px solid #c7c7c7; vertical-align:top;}
table th {padding-top:7px; border-left:1px solid #c7c7c7;}
table.tbl-1 th {padding-top:0;border-left:0;}
table.tbl-1 td {border-left:0;}
table.tabl-thin {border-bottom:1px solid #c7c7c7;}
table.tabl-thin td {padding:5px 10px;} 


table td p {margin:0;}

table.tabl-thin td:first-child,
table.tabl-thin td.first-child { border-left:0; border-bottom:0; border-top:1px solid #c7c7c7;}
table.tabl-thin td.invisible-child { border:0;}

table td:first-child,
table th:first-child {border-left:0;}
table td.first-child,
table th.first-child {border-left:0;}
table.tbl-1 th:first-child,
table.tbl-1 td:first-child {padding-left:0;}
table.tbl-1 th.first-child,
table.tbl-1 td.first-child {padding-left:0;}

table td.not-first-child:first-child,
table th.not-first-child:first-child {border-left:1px solid #c7c7c7;}
table td.not-first-child,
table th.not-first-child {border-left:1px solid #c7c7c7;}

table {}
table.tbl-1 {}
table.tbl-1 th {font-size:10px; background:none; color: #8D8D8D;}

table thead tr th {font-size:16px; font-weight:normal; font-family:Georgia,Times,"times new roman",serif; color:#fff; background-color:#605d5d;}
table tbody tr th {background-color:#e1e1e1; color:#b01f23; font-weight:bold;}
table tbody tr td {color:#3e3a3a;}
/*table.tbl-1 th:first-child {font-size:12px; font-weight:normal; color:#3e3a3a;}
table.tbl-1 th.first-child {font-size:12px; font-weight:normal; color:#3e3a3a;} */

table.tbl-1 td:first-child {font:italic 16px/18px Georgia,Times,"times new roman",serif; color:#b01f23;}
table.tbl-1 a {color:#3e3a3a;}

table.no-border th, table.no-border td {border:0 none;}

.inner_page_content table tbody tr td:first-child {
 text-align: left; 
 padding: 1em
}

.inner_page_content table tbody tr td {
 text-align: left; 
 padding: 1em
}

.inner_page_content table tbody tr td { vertical-align: baseline; }

/*таблицы*/


/* размер шрифта заголовков в боковых меню */
.info_title {
    font-size: 14px;
}
/* размер шрифта заголовков в боковых меню */

/* подчеркивание ссылки в активной вкладке */
.tabs_menu ul.links li.active a {text-decoration: none;}
/* подчеркивание ссылки в активной вкладке */

/* изменения инфоблока новости справа */
/* дата */
.short_information .date {color: #B20000;}
/* шрифт заголовка */
.short_information .info_text p { font-size: 14px; font-weight: normal;}
/* ссылка */
.short_information .readmore a { font-size: 14px;}

/* изменения инфоблока новости справа */


div.events_head table tbody tr td {}

/* Правка расстояний в списке мероприятий на странице календаря */
.inner_page_content table tbody tr td, .inner_page_content table tbody tr td:first-child {
    padding: 2px 10px 4px 0px;
border:none;}
.inner_page_content table tbody tr td:first-child, .events_head table tbody tr td:first-child {/*width:22%;*/}
.events_head .go_back a {
    margin-top: 0px;}
.inner_page_content .go_back {
    margin: 4px 0;}
/* Правка расстояний в списке мероприятий на странице календаря */

/* Убрать полосу и огромные пробелы в списках */
.news_head ul { border-left: 2px solid black !important; }
.news_head ul li { padding: 3px 0 !important; }
/* Убрать полосу и огромные пробелы в списках */


/* Справочник */
.bayan, .right_sidebar .bayan {  padding: 6px !important; margin-bottom: 6px; }
/* Справочник */


/* КОСТЫЛЬ! Стиль для скрытия первого активного таба с заголовком, применять с осторожностью! *//* .tabs_menu ul.links li.active a {display: none;}*/ 

/* поднятие разводящих и основ страниц к меню */
/*.edu_act {margin-top:-2.3em !important;}*/
/*.inner_page {padding-top: 15px;}*/
/*.inner_page .wrapper_container {margin-top:-1.4em !important;}*/
/* поднятие разводящих и основ страниц к меню */



/* ТАБЛИЦЫ, VKZLM! */
	.inner_page_content table tbody tr:nth-child(2n + 1) td {    background-color: transparent; }
	table tbody tr th { background-color: transparent;}
.inner_page_content table p {    text-indent: 0em;margin: 0.5em; }
/* ТАБЛИЦЫ, VKZLM! */


/* Директорат в контактах - руководство */
small {font-size:12px; font-style:italic; color:#b01f23; font-family: Georgia,Times,"times new roman",serif;}
.name .last_name {    font: 19px/20px arial;    color: #615e5c;    padding-bottom: 8px;    display: block;}
.director .img {    float: left; }
tbody {    display: table-row-group;    vertical-align: middle;    border-color: inherit;}
table {    margin-bottom: 1em;    margin-top: 1em;}
table {    width: 100%;    font-size: 12px;}
.dep_director {    float: left;}
.dep_director .direct_box {    width: 342px!important;    min-height: 230px;    margin-bottom: 10px;    margin-right: 20px;}
.dep_director .direct_box tbody tr td img {margin:.5em; }
.inner_page_content table tbody tr:nth-child(2n + 1) td {    background-color: #f2f0f0;    vertical-align: middle;}
/* Директорат в контактах - руководство */

/*градиент на кнопках кросс*/
/*.prim, .edu_act_img a img {background: -moz-linear-gradient(#F8F2D7, #EBFFFF);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F2D7), to(#EBFFFF));    
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F2D7', endColorstr='#EBFFFF');
color: #333;    -moz-border-radius: 5px;    -webkit-border-radius: 5px;    border-radius: 5px;    border: 1px solid #666; }
/*градиент на кнопках кросс*/

/* Заголовки */ 
.inner_page_content h1 {font-size: 20px;}
.inner_page_content h2 {font-size: 18px;}
.inner_page_content h3 {font-size: 16px;}

/* Спойлера */
.inner_page_content .bayan h3 span {font-size: 16px;}
.inner_page_content .bayan div p {    font-size: 15px;    line-height: 1.2;padding: 0 1em 0 0;}

/* кнопки вкладок */
ul.links li a {
   border-top: 1px solid #fff;
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f2d7));
   background: -webkit-linear-gradient(top, #fff, #f8f2d7);
   background: -moz-linear-gradient(top, #fff, #f8f2d7);
   background: -ms-linear-gradient(top, #fff, #f8f2d7);
   background: -o-linear-gradient(top, #fff, #f8f2d7);
   padding: 4.5px 9px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.2) 0 1px 0;
   color: #ccc;
   font-size: 24px;
  /* font-family: Georgia, Serif;*/
   text-decoration: none;
   vertical-align: middle;
   }
ul.links li a:hover {
   border-top-color: #fff;
   background: #fff;
   color: #fff;
   text-decoration:none;
   }
ul.links li a:active {
   border-top-color: #fff;
   background: #fff;
   }
/* кнопки вкладок */


/*Справочник*/
.helper .edu_act_container
.edu_act_item {  width: 150px; text-align:center;height:200px;
}
.edu_act_img {    width: 100%; text-align:center;}
.edu_act_img a {    text-align:center;}
.edu_act_img a img {height:110px}
/*Справочник*/

/*Важная информация статус */
.inbox .imp_news_inner table tbody tr td:last-child {     text-indent: -25px;    padding-left: 45px;}
/*Важная информация статус */

.bayan h3, .bayan h3 a {
    font-size: 16px;
    color: #000000;}

.bayan.active h3 {
    color: #000000;}

.bayan {
    background-color: transparent;
    border: none;
    padding:10px 20px;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.6);
}

.bayan h3 span {
    font-size: 14px;
}
.inner_page_content table thead tr th{
    background:#f8f2d7;
    color:#484848;
    padding:15px;
}
.inner_page_content table tbody tr td, .inner_page_content table tbody tr td:first-child {
    padding: 15px;
    border: none;
}
.inner_page_content table tbody tr td a{
  text-decoration:none;
  color:#b20000;
}