/*			body{
				background: #fefefe; 
				margin: 0; 
				padding: 0;
				font:1em/1.3em Arial, Tahoma, "Trebuchet MS", sans-serif;
				color: #272727;
			}*/
			.main-flex{
				margin: -25px auto 20px; 
				background: #fff; 
				border-radius: 3px;
				width:760px;
				display:flex;
			}
			.bl-3col{
				background: #fff; 
				margin: 5px;
				width:32%;
				-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				position: relative;/*new option*/
			}			
			.inform-ico{
				width:32px;
				height:32px;
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
				background:#b90000;
				-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				position: absolute;
			}
			.inform-bl-ico{
				background:url(/images/i.png);
				width:32px;
				height:32px;
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
				position: absolute;
			}
			
			
			<!-------------NEW STYLE---------------->
			.bl-line{
				background:#b20000;
				color:#fff;
				padding:8px 0;
				font-size:0.8em;
				height:32px;
			}
			
			.info-bl-h2{
				background:#f8f2d7;
				font-size:0.9em;
				margin:0;
				padding:10px 8px;
				color:#585858;
				text-align:center;
				min-height: 80px;
padding: 18px 8px;
    color: #585858;
    text-align: center;
    min-height: 56px;
			}
			
			
			.bl-3col ul {
			  list-style: none;
			  padding: 0;
			  font-family: "Lucida Sans";
			  margin:0;
			}
			.bl-3col ul li {
			  padding: 10px;
text-align: left;
			}
			.bl-3col ul li a{
				color:#585858;
				text-decoration:none;
			}
			.bl-3col ul li:nth-child(odd) {
			  background: #f7f4e7;
			}
			.bl-3col ul li:nth-child(even) {
			  background: white;
			}
			.bl-3col ul li:hover{
				border-left: 10px solid #b20000;
				background:#FFF5C8;
				transition-duration:0.8s;
			}

			<!----------------------------------------------------->

.inner_page_content .main-flex .bl-3col ul li:before {
    content: "" !important;
    font-size: 16px;
    padding-right: 0px;
}