		img{
				margin: 0; 
				padding: 0; 
				vertical-align: middle; 
				border: none;
			}
			.main-flex{
				margin: 20px auto; 
				background: #fff; 
				border-radius: 3px;
				width:1000px;
				display:flex;
			}

			.bl-3col{
				background: #fff; 
				margin: 5px;
				width:33%;
				-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.6);
			}
			.bl-4col{
				background: #fff; 
				margin: 5px;
				width:25%;
				-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.6);
			}

.main-flex1
{
position: relative;
width: 480px;
margin: 20px auto; 
background: #fff; 
border-radius: 3px;
/*display:flex;*/
}

.bl-4cola{
				background: #fff; 
				margin: 5px;
				width:99%;
				-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.6);
			}
	.bl-h4{
    background: #501619;
				color:#fff;
				padding:8px 0;
				font-size:0.8em;
				margin-left:15px;
				padding-left: 30px;
			}
			.inform-ico{
				width:32px;
				height:32px;
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
				background:#b90000;
				/*-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.6);
				box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.6);*/
				position: absolute;
			}
			.inform-bl-ico{
				background:url(/images/i.png);
				width:32px;
				height:32px;
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
				position: absolute;
			}
			.bl-4col ul{
				margin-left:5px;
				padding: 5px 10px;
			}
			.bl-4col ul li{
				font-size:0.8em;
				padding: 2px 0 2px 1em;
				text-indent: -1.38em;
				color: tan;
				list-style-type:none;
text-align: left;
			}
			.bl-4col ul li:before {
				content: "◈";
				font-size: 14px;
				padding-right: 5px;
				font-weight: bold;
			}
			.bl-4col ul li a{
				font-size:0.9em;
				color:#484848;
				text-decoration:none;
    display: initial;
    text-align: left;
			}

.bl-4col ul li ul li a {font-size:12px;}

			.bl-4col ul li a:hover{
				color:#b20000;
				transition-duration:1.5s;
    display: initial;
    text-align: left;
			}

			.bl-title{
				display:block;
				width:1000px;
				margin:0 auto;
				text-align:center;
				color:#585858;
				text-transform:uppercase;
				font-size:1em;
			}
			.bl-title1{
				display:block;
				width:495px;
				margin:0;
				text-align:center;
				color:#585858;
				text-transform:uppercase;
				font-size:1em;
}
			.bl-text-center{
				text-align:center;
				font-size:0.8em;
				padding:0 20px;
			}
			.-top {
/*				background: #fefefe; */
				margin: 0; 
				padding: 0;
				font:1em/1.3em Arial, Tahoma, "Trebuchet MS", sans-serif;
				color: #272727;
margin-top:0em;
			}

h4.bl-h4 {
    /* background: #501619; */
    background: rgba(80, 22, 25, 0.8)
}


table.redline tbody tr {border-top:3px solid maroon;}