/*  
 *  sliderkit-site.css
 *	> generic styles for Slider Kit plugin website presentation
 * 
 */

/*---------------------------------
 *  Site structure
 *---------------------------------*/
.spacer{clear:both;}

#header-wrapper{width:800px;margin:0 auto;text-align:left;}
#header-title{float:left;padding:10px 0;color:#fff;font-family:Verdana, sans-serif;font-size:1.3em;}
#header-lang{float:right;margin:12px 10px 0 0;}
#header-lang ul li{display:inline;}
#header-lang ul li a{color:#fff;}

#header{background:#00668d;background:-moz-linear-gradient(top, #00668d 0%, #0089be 100%);background:-webkit-gradient(linear, left top, left bottom, from(#00668d), to(#0089be));}

#highlight{padding:20px 0;background:#f2f1f1;}

#page{padding:25px 0 0;}
/*#content{float:left;width:570px;}*/
#sidebar{float:right;width:178px;}
.inner{width:800px;margin:0 auto;text-align:left;}
.layout-1col #content{float:none;}

#download{margin:0 0 10px;text-align:center;}
#donate{margin:0 0 10px;padding:15px;text-align:center;background:#f2f1f1;-moz-border-radius:7px;-webkit-border-radius:7px;border:1px solid #fff;}
#menu{margin:0 0 30px;padding:0 10px 10px;text-align:left;background:#f2f1f1;-moz-border-radius:7px;-webkit-border-radius:7px;border:1px solid #ccc;}
#menu ul .toc-h1{margin:10px 0 3px;list-style:none;}
#menu ul .toc-h2{list-style:circle;margin:0 0 0 20px;}

/*---------------------------------
 *  Default tags
 *---------------------------------*/
/*a{color:blue;}
a:hover{color:#000;}
a:active{color:orangeRed}
a:focus{}
a:visited{}
/*a.totop{display:block;text-align:right;}*/

/*h1{font-size:2.2em;margin:40px 0 15px;}
h1.code-first{margin-top:0;}
h2{font-size:1.6em;margin:30px 0 15px;}
h3{font-size:1.3em;margin:20px 0 10px;}
h4{font-size:1em;margin:15px 0 7px;}*/

/*ul{margin:0 0 10px 0;padding:0;list-style:disc inside none;}
ul li{margin:0 0 5px;}
p{margin:0 0 5px;}*/

.noscript{margin:10px 0 15px;padding:10px;color:#fff;background:red;}
/*.noscript .code-sitename{background:none;}*/
/*#content ul{margin:10px 0 10px 15px;}*/

/*---------------------------------
 *  Download button
 *---------------------------------*/
#download small{color:#666;font-size:0.9em;}
.download{
	display:block;
	margin:0 0 5px;padding:8px 0;
	color:#fff;font-size:1.2em;text-decoration:none;text-shadow:0 -1px 0 #333;
	-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #00668d;
	background:#00668d;background:-moz-linear-gradient(top, #0089be 0%, #00668d 100%);background:-webkit-gradient(linear, left top, left bottom, from(#0089be), to(#00668d));
}
.download:hover{
	color:#fff;
	background:#00668d;background:-moz-linear-gradient(top, #00668d 0%, #0089be 100%);background:-webkit-gradient(linear, left top, left bottom, from(#00668d), to(#0089be));
}

/*---------------------------------
 *  Code formatting
 *---------------------------------*/
.code-details{display:none;}
.code-pre{margin:10px 0 15px;padding:10px;overflow:auto;overflow-y:hidden;color:#333;border-left:3px solid #6ce26c;background:#F2F1F1;}
.code-block{margin:0 0 15px;}
.code-notes{margin:10px 0 15px;padding:10px;color:#000;border:1px solid #ccc;background:#ffffec;}
.code-notes h4{margin-top:0;}
.code-setting{color:#0857b8;font-weight:bold;font-style:normal;}
.code-value{color:green;font-weight:bold;font-style:normal;}
.code-classname{color:#990066;font-style:normal;}
.code-filename{color:#af5f00;font-style:normal;}
.code-comment{color:green;font-style:normal;}
.code-togglebtn{display:block;}
.code-sitename{collor:#000;/*background:#F2F1F1;*/}

/*---------------------------------
 *  Settings list
 *---------------------------------*/
.setting-type{color:#666;}
.setting-value em{color:#005b7d;font-style:normal;}

/*---------------------------------
 *  Slider kit
 *---------------------------------*/
.sliderkit,
.customtabs{margin:10px auto;}
#content .sliderkit ul,
#content .customtabs ul{margin:0;}


/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(/local/templates/inner/libs/caruselnews/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(/local/templates/inner/libs/caruselnews/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}