
.wrapper_container .inner_page_content .data-table a.name{
    color: #b20000;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    line-height: 1.2;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: auto;
    margin-top: 7px;
    text-decoration: none;
}
.data-table small{
	font-style: normal;
    font-family: arial;
    font-size: 14px;
}
.news-item{
	margin-bottom: 30px;
	border-bottom: 3px solid #B20000;
	padding-bottom: 30px;
}
.data-table a.name small{
	font-style: normal;
    font-family: arial;
    font-size: 14px;
    color: #000;
    margin-right: 10px;
}
.props span {
	font-weight: bold;
	font-size: 18px;
	display: block;
}
.props div {
	font-size: 18px;
}
.props{
	margin-bottom: 15px;
}
.props>div.image{
	display: inline-block;
	vertical-align: top;
    margin-right: 15px;
    margin-top: 10px;
}
.wrapper_container .inner_page_content .add_new{
	text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
    font-family: "PT Sans", serif;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #980000;
    color: #ffffff;
    padding: 7px 30px;
    cursor: pointer;
	border: none;
	margin-left: 13px;
}
.wrapper_container .inner_page_content .add_new:hover {
	color: #fff;
	text-decoration: none;
}
div.inner_page_content table tbody tr:nth-child(2n + 1) td{
	background-color: #f8f2d7;
	border: none;
}
.my_elements {
	font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    border: none;
}
div.inner_page_content table{
    margin-top: 0;
}
div.inner_page_content {
    padding-top: 0;
}