
.inner_page_content p.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: 700;
}

.inner_page_content .panel-default > .panel-heading {
    background-color: #f8f2d7;
}

.panel-default > .panel-heading:hover {
    border: 1px solid black;
    padding: 9px 14px;
}

.datems {
    border-style: hidden;
    color: maroon;
    cursor: pointer;
}

.modal-content .modal button {
    width: auto;
    height: auto;
}

.modal-content .modal button {
    width: 78px;
    height: 78px;
}

.modal button.close {
    height: 25px;
    opacity: .8;
    font-size: 17px;
    position: absolute;
    right: 2%;
}

.modal button.close:hover {
    opacity: 1;
}

.modal-body * {
    font-size: 16px;
    padding: 2px;
}

.modal-header ul {
    margin-left: 0;
    padding: 5px 0;
}

.modal-header ul li {
    list-style-type: none;
}

.table > tbody > tr > td {
    text-align: center;
}

.js-ball {
    max-width: 50px;
    text-align: center;
}

.close-btn {
    color: green;
}

.tdname {
    position: fixed;
    width: 215px;
    background: white;
    height: 100%;
    left: 0;
    border-right-style: solid;
    border-right-width: 1px;

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* стили только для IE10 */
    .tdname {
        position: absolute;
        width: 215px;
        background: white;
        height: 100%;
        left: 0;
        border-right-style: solid;
        border-right-width: 1px;

    }

    .close-btn {
        color: green;
        position: absolute;
        right: 2%;
    }

}

tr:nth-child(odd) .tdname {
    background: #f9f9f9;
}

/*расписание*/
body .prepod_schedule__table thead tr th, body .table thead tr th {
    font-family: inherit;
    padding: 8px;
}

body .prepod_schedule__table thead tr th, body .table thead tr th {
    font-family: inherit;
    padding: 8px;
}

.prepod_schedule__table {
    table-layout: fixed;
    width: 100%;
    color: rgba(178, 0, 0, 0.5);;
}

.prepod_schedule__table th:first-child {
    width: 5%;
}

.prepod_schedule__table td {
    vertical-align: middle;
    padding: 5px;
}

.schedule__name {
    font-size: 13px;
}

.prep-scheule__btn {
    margin-top: 10px;
}

/*новая ведомость*/
.js-save{
    position: fixed;
}
.tema>select{
    max-width: 100%;
}
.tema>select:hover{
    max-width: none;
}
.js-tema{
    margin: 15px 0;
}
.js-out{
    transform:scale(1.3);
    opacity:0.9;
    cursor:pointer;
}
.famil{
    font-weight: 600;
    color: #555;
}
h3.js-type-modal {
    font-size: 30px;
    text-align: center;
    display: block;
}

.modal-content li.active a {
    text-decoration: none;
}

.left_sidebar {
    display: none;
}

.liketable {
    display: block;
    overflow: auto;
    margin-top: 30px;
}

.likerow:first-child {
    position: absolute;
    margin-top: -30px;
}

.likerow:first-child .likecell {
    border: none;
    vertical-align: inherit;
}

.likerow {
    display: table-row;
    word-break: normal;
}

.likecell {
    display: table-cell;
    width: 130px;
    border: 1px solid #c7c7c7;
    text-align: center;
    vertical-align: middle;
}

.likecell:first-child {
    width: 240px;
    height: 40px;
    text-align: left;
}
/*СВОДНАЯ ТАБЛИЦА*/
#svodModal .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#svodModal *{
    line-height:1;
    font-size: 14px;
}
#svodModal th{
    vertical-align: middle;
    padding: 3px;
}
#svodModal td{
    padding: 5px;
}
#svodModal table td:first-child{
    padding: 5px 5px 0;
    font-weight: 600;
    line-height:1;
    vertical-align:middle;
    font-size: 13px;
    text-align: left;
    width: 215px;
    overflow: hidden;
}
table th:first-child{

}
#svodModal .nav-tabs>li>a{
    min-width: 200px;
    text-align: center;
}
#svodModal .modal-body{
    padding: 0 15px 15px 15px;
}
.search{
    margin-top: 20px;
}
.search_student{
    margin-bottom: 42px;
}
.dor-result *{
    font-size: 16px;
    vertical-align: middle;
}
.dor-result .table>tbody>tr>td{
    vertical-align: middle;
}
.dor-result td>input{
    margin: 5px 0;
    width: 87px;
}
.dor-result td>span{
    margin: 5px 0;
}
.dor-disc-name{
    font-weight: 600;
}
.dor-save{
    margin: 5px 0;
}
.dor-fio{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
}