.onenews .news__item-date {
    line-height: 60px;
}

.onenews .news__item-title {
    color: #501619;
    font-size: 29px;
    font-weight: normal;
    line-height: 34px;
    max-height: 69px;
    overflow: hidden;
    word-break: normal;
}

.onenews .news__item-text-preview p {
    word-break: normal;
}

.onenews .news-sections__item {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
}

.onenews .msal-news-section {
    -webkit-box-shadow: inset 0px -28px 31px -16px rgba(223, 215, 191, 1);
    -moz-box-shadow: inset 0px -28px 31px -16px rgba(223, 215, 191, 1);
    box-shadow: inset 0px -28px 31px -16px rgba(223, 215, 191, 1);
}

.onenews .msal-footer {
    bottom: 24px;
}

.onenews .news__item-text-preview,
.onenews .msal-main__text {
    display: none;
}

.onenews .news__item-text-full {
    display: block;
    overflow-y: auto;
}

.onenews .news__item-text-full:focus {
    outline: none;
}

.onenews .news__item-text {
    padding-right: 45px;
}

.onenews .news-sections {
    max-height: 884px;
}
.onenews .news__item-text-full img{
    max-width:100%;
}