body{
	padding: 0;
	margin: 0;
	background-color: #f8f2d7;
	font-family: 'PT Sans', sans-serif;
}

.msal-page{
	max-width: 1280px;
	margin: 0 auto;
}

.msal-header__logo{
	position: absolute;
	margin: 40px;
    text-align: center;
    top: 0;
}

.single-new-open .msal-header__logo,
.single-new-open .msal-main__text{
	display: none;
}

.msal-homepage-header .msal-header__logo{
	margin: 54px auto 8px;
	text-align: center;
	position: relative;
}

.msal-main__text{
	text-align: center;
}

.msal-main__text p{
	margin: 0;
}

.msal-main__text-title{
	font-weight: bold;
	color: #501619;
	font-size: 75px;
	padding-bottom: 13px;
}

.msal-secondary-main .msal-main__text-title{
	margin-top: 79px;
}

.msal-main__text-subtitle{
	font-weight: 500;
	color: #501619;
	font-size: 30px;
}

.homepage-sections{
    width: 100%;
    max-width: 1056px;
    margin: 30px auto 0;
    display: table;
    text-align: center;
}

.homepage-sections__item{
    display: inline-block;
    width: 100%;
    height: 152px;
    max-width: 488px;
    text-align: center;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 20px;
}

.homepage-sections__item a{
    padding: 51px 0;
    font-size: 40px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    display: block;
    text-decoration: none;    
    border-radius: 10px;
}

.homepage-sections__item a:hover {
    background: #ded7b5;
    box-shadow: inset 0px 5px 26px 2px #cac3a2;
    -webkit-box-shadow: inset 0px 5px 26px 2px #cac3a2;
    -moz-box-shadow: inset 0px 5px 26px 2px #cac3a2;
}

/*secondary-pages*/

.msal-group-section .msal-main__text-title {
    padding-bottom: 0px;
	margin-bottom: 50px;
}

/*chose-group*/

.group-sections{
    max-width: 1005px;
    /*height: 476px;*/
    margin: auto;
}

.group-sections__items{
	-moz-column-count: 2; 
    -webkit-column-count: 2; 
    column-count: 2;
    list-style: none;   
    padding-left: 155px; 
}

.group-sections__items li{
    line-height: 34px;
    margin-bottom: 27px;
    padding: 0 80px 0 0;
}

.group-sections__items a{
	color: #501619;
	font-size: 34px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 2px #501619 solid;
	text-transform: uppercase;
}

.msal-main__navigation{
	max-width: 425px;
	margin: 42px auto;
}

.msal-group-section .msal-main__navigation{
	max-width: 425px;
	margin: 42px auto 66px;
}

.msal-navigation__list{
	list-style: none;
	padding-left: 47px;    
	padding-right: 22px;
}

.msal-navigation__nav-prev a,
.msal-navigation__nav-next a{
	background: #fff;
    display: block;
    border-radius: 20px;
    padding: 20px 22px;
}

.msal-navigation__nav-prev,
.msal-navigation__nav-next,
.msal-navigation__list,
.msal-navigation__list-item{
	display: inline-block;
}

.msal-navigation__list-item.active{	
	font-size: 34px;
	font-weight: bold;
	color: #000;
	margin-right: 22px;
}

.msal-navigation__list-item{
	line-height: 23px;
}

.msal-navigation__list-item a{
	text-decoration: none;
	border-bottom: #501619 1px solid;
	font-size: 34px;
	font-weight: bold;
	color: #501619;
	margin-right: 22px;    
	line-height: 40px;
    display: block;
}

.msal-footer__btns-left{
	float: left;
	background: none;
	outline: none;
}

.msal-footer__btns-right{
	float: right;
	background: none;
	outline: none;
}

.msal-footer{
	position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

.msal-footer__btns{    
	max-width: 1181px;
    margin: 0 auto;
}

.msal-footer__btns-right,
.msal-footer__btns-left{
	border: 2px #5b1b1e solid;
    border-radius: 18px;
    color: #5b1b1e;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 27px 0 29px;
    width: 335px;
    text-align: center;
}

.msal-footer__btns-right.btn-disabled{
	display: none;
}

.msal-footer__btns-right:hover, .msal-footer__btns-left:hover{
	background: #ded7b5;
	box-shadow: inset 0px 5px 26px 2px #8b866f;
    -webkit-box-shadow: inset 0px 5px 26px 2px #8b866f;
    -moz-box-shadow: inset 0px 5px 26px 2px #8b866f;
    border-color: #000;
    color: #000;
}

.msal-footer__btns-right{
    width: 400px;
}

/*chose-departmant*/

.department-sections{
    max-width: 1180px;
    /*height: 476px;*/
    margin: auto;
}

.msal-department-section .msal-main__text-title {
    margin-top: 55px;
    margin-bottom: 57px;
}

.department-sections__items{
	-moz-column-count: 2; 
    -webkit-column-count: 2; 
    column-count: 2;
    list-style: none;   
    padding-left: 0; 
}

.department-sections__items li{
    line-height: 34px;
    margin-bottom: 27px;
    padding: 0 80px;
}

.department-sections__items a{
	color: #501619;
	font-size: 34px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 2px #501619 solid;
	text-transform: uppercase;
}

.msal-department-section .msal-main__navigation{
    margin: 56px auto;	
}

/*teachers*/

.msal-teachers-section .msal-main__text-title{
	margin: 48px 0 21px;
}

.msal-teachers-section .msal-main__text-subtitle{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 27px;
}

.teachers-sections{
    max-width: 1166px;
    margin: 60px auto 0;
}

.teachers-sections__items{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    list-style: none;
    padding-left: 70px;
}

.teachers-sections__items li{
    line-height: 34px;
    margin-bottom: 27px;
    padding: 0;
}

.teachers-sections__items a{
	color: #501619;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 2px #501619 solid;
	text-transform: uppercase;
	line-height: 31px;
}

.teachers-alphabet{
	max-width: 1035px;
    margin: auto;
    padding-left: 12px;
}

.teachers-alphabet__items{
	padding-left: 0;
}

.teachers-alphabet__items li{
	display: inline-block;
	list-style: none;
	margin: 0 12px 0 0;
}
 
.teachers-alphabet__items li a{
	text-decoration: none;
	background: #fff;
	border-radius: 19px;
	font-size: 24px;
	color: #000;
	width: 132px;
	text-align: center;
	display: block;
	font-family: Arial, sans-serif;    
	padding: 22px 0;
}

.teachers-alphabet__items li.active a{
	background: #59191d;
	color: #fff;
	box-shadow: inset 0px 5px 26px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: inset 0px 5px 26px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 5px 26px 2px rgba(0,0,0,0.75);
}

.msal-teachers-section .msal-main__navigation{
    max-width: 425px;
    margin: 50px auto 38px;
}

/*course*/

.course__items{
    padding-left: 0;
    max-width: 1103px;
    margin: 0 auto 90px;
}

.course__items li{
    display: inline-block;
    list-style: none;
    margin: 0 25px 30px 0;	
}

.course__items li:nth-child(3n){
	margin-right: 0;
}

.course__items li a {
    text-decoration: none;
    background: #fff;
    border-radius: 19px;
    font-size: 34px;
    color: #000;
    width: 348px;
    text-align: center;
    display: block;
    padding: 54px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.course__items li a:hover{
	background: #ded7b5;    
	box-shadow: inset 0px 5px 26px 2px #cac3a2;
    -webkit-box-shadow: inset 0px 5px 26px 2px #cac3a2;
    -moz-box-shadow: inset 0px 5px 26px 2px #cac3a2;
}

.msal-course-section .msal-main__text-title {
    margin-top: 100px;    
    margin-bottom: 38px;
}

.teachers-alphabet__items li a:hover{
	background: #ded7b5;    
	box-shadow: inset 0px 5px 26px 2px #cac3a2;
    -webkit-box-shadow: inset 0px 5px 26px 2px #cac3a2;
    -moz-box-shadow: inset 0px 5px 26px 2px #cac3a2;
}

/*teacher*/

.msal-teacher-section .msal-main__text-title{
	max-width: 540px;
    margin: 72px auto 48px;
    line-height: 68px;
}

.teacher-photo{
	max-width: 406px;
	padding-left: 11px;
	padding-right: 54px;
}

.teacher-photo img{
	width: 100%;
	margin-top: 5px;
}

.teacher-section{
	max-width: 1180px;
	margin: auto;
}

.teacher-section>div{
    display: inline-block;
    max-width: 700px;
    vertical-align: top;
}

.teacher-information{
	height: 547px;
	/*overflow-y: hidden;*/
}

.teacher-information h3{
	margin-top: 0;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.teacher-information ul {
	padding-left: 0;
}

.teacher-information ul li{
	margin-top: 0;
	font-size: 20px;
	font-weight: normal;
	color: #000;
	margin-bottom: 2px;
	list-style: none;
}

.teacher-information p,
.howtoget-information p{
	margin-top: 0;
	font-size: 20px;
	font-weight: normal;
	color: #000;
	margin-bottom: 18px;
}

.teacher-information p.content-sub-title,
.howtoget-information p.content-sub-title{
	margin-top: 0;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #807a61;    
	margin-bottom: 0;
}

/*news*/

.msal-news-section .msal-main__text-title {
    margin-top: 48px;
    margin-bottom: 0;
    padding-bottom: 16px;
}

.news-sections{
	max-width: 1180px;
	margin: auto;
}

.news-sections__item{
	display: inline-block;
	vertical-align: top;
	width: 49%;
	max-width: 555px;
}

.news-sections__item{
	padding-left: 38px;    
	margin-bottom: 29px;
}

.news-sections__item:nth-child(2n){
	padding-left: 22px;
}

.news__item-title{
	color: #501619;
	font-size: 30px;
	font-weight: normal;
	line-height: 35px;
}

.news__item-date{
	padding-right: 46px;
}

.news__item-date,
.news__item-author{
	color: #000;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;    
	/*height: 45px;*/
	font-family: Arial;    
	display: inline-block;
}

.news__item-image{
    float: left;
    padding-right: 38px;
    padding-bottom: 0;
    padding-top: 8px;
}

.news__item-text{
	color: #000;
	font-size: 20px;
	font-weight: normal;
	line-height: 32px;
	font-family: Arial;	    
	padding-right: 50px;
}

.news__item-link a{
	color: #601b1f;
	font-size: 20px;
	font-weight: bold;
	line-height: 45px;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 3px #601b1f dotted;
}

.news__item-text-full{
	display: none;    
	margin-bottom: 10px;
	max-width: 1195px;
	height: 763px;
}

.news__item-text-full img{
	max-width: 465px;
}

.new-open .news__item-text-preview{
	display: none;
}

.new-open .news__item-text-full{
	display: block;
}

.news__item-text-preview{    
	margin-bottom: 10px;
}

/*learningtype*/

.msal-learningtype-section .msal-main__text-title {
    margin-top: 200px;
    margin-bottom: 44px;
}

.learningtype__items {
    padding-left: 0;
    max-width: 1036px;
    margin: 0 auto 90px;
    text-align: center;
}

.learningtype__items li{
    display: inline-block;
    list-style: none;
    margin: 0 55px 60px 0;	
}

.learningtype__items li:nth-child(2n),
.learningtype__items li:nth-child(3n){
	margin-right: 0;
}

.learningtype__items li a {
    text-decoration: none;
    background: #fff;
    border-radius: 19px;
    font-size: 34px;
    color: #000;
    width: 488px;
    text-align: center;
    display: block;
    padding: 54px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.learningtype__items li a:hover{
	background: #ded7b5;    
	box-shadow: inset 0px 5px 26px 2px #cac3a2;
    -webkit-box-shadow: inset 0px 5px 26px 2px #cac3a2;
    -moz-box-shadow: inset 0px 5px 26px 2px #cac3a2;
}

/*howtoget*/

.howtoget-section{
    padding-left: 0;
    max-width: 1020px;
    margin: 0 auto 90px;
}

.howtoget-section>div {
    display: inline-block;
    max-width: 700px;
    vertical-align: top;
}

.msal-howtoget-section .msal-main__text-title {
    margin-top: 67px;
    margin-bottom: 10px;
}

.howtoget-information{
	padding-top: 64px;
}

/*open-new*/

.single-new-open .news-sections__item {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
}

.single-new-open .msal-news-section{
	-webkit-box-shadow: inset 0px -28px 31px -16px rgba(223,215,191,1);
	-moz-box-shadow: inset 0px -28px 31px -16px rgba(223,215,191,1);
	box-shadow: inset 0px -28px 31px -16px rgba(223,215,191,1);	
}

.single-new-open .msal-footer{
	bottom: 24px;
}

.single-new-open .news__item-text-preview,
.single-new-open .msal-main__text{
    display: none;
}

.single-new-open .news__item-text-full{
    display: block;
}

.single-new-open .news__item-text-full:focus{
	outline: none;
}

.single-new-open .news__item-text{
    padding-right: 45px;
}

.single-new-open .news-sections{
    max-height: 884px;
}

.close-new{
	display: none;
}

.close-new.open-new{
	display: inline-block;
}

/*schedule*/

.msal-schedule-section .msal-main__text-title {
    margin-top: 36px;
    padding-bottom: 0;
}

.msal-schedule-section p.msal-main__text-subtitle{
	margin-bottom: 24px;
}

.schedule-section{
	max-width: 1180px;
	margin: auto;
}

.schedule-table{
	width: 100%;
	border: 2px #bebbae solid;
	border-collapse: collapse;
	text-align: center;
}

.schedule-table th,
.schedule-table td{
    border: 2px #bebbae solid;
    height: 45px;
    padding: 0;
}

.schedule-table th{
	background-color: #e6e1cb;
	height: 45px;
}

.schedule-table td{
	line-height: 15px;
	width: 168px;
	font-weight: bold;
	padding: 1px 0 2px;
}

.schedule-table td:nth-child(1){
	font-size: 14px;
	color: #501619;
	width: 166px;
	font-weight: normal;
}

.schedule-table td:nth-child(1) b{
	display: block;
}

.schedule-table__full-cell{
	background-color: #fff;
}