.student-info {
    position: relative;
}
ul.nav-tabs{
    float: right;
}

.student-img {
    float: right;
    max-width: 100%;
    max-height: 160px;
}
.portfolio-group{
    margin: 20px 0;
}
.portfolio-group  .panel-heading{
    cursor: pointer;
}
.inner_page_content p.panel-title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: 700;
}
.inner_page_content .panel-default>.panel-heading{
    background-color: #f8f2d7;
}
.panel-default>.panel-heading:hover{
    border: 1px solid black;
    padding: 9px 14px;
}
.schedule table td, .schedule table th {
    text-align: center;
}

.schedule__name {
    font-size: 13px;
}

.schedule__lector {
    font-size: 10px;
}

.datems {
    border-style: hidden;
    color: maroon;
    cursor: pointer;
}

body .schedule__table thead tr th, body .table thead tr th, body .vedomosti__table thead tr th{
    font-family: inherit;
    padding: 8px;
}

.schedule__table, .vedomosti__table {
    table-layout: fixed;
    width: 100%;
}

.schedule__table th:first-child{
    width: 5%;
}

.schedule__table td{
    vertical-align: middle;
    padding: 0;
}


.modal-content .modal button {
    width: auto;
    height: auto;
}

.modal-content .modal button {
    width: 78px;
    height: 78px;
}

.modal button.close {
    height: 21px;
    position: absolute;
    right: 4%;
}

.modal-body * {
    font-size: 16px;
    padding: 4px;
}

.points {
    color: #5daf1d;
}

.points:hover {
    text-decoration: underline;
    cursor: pointer;
}

.vedomosti__table td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
#moduleBm .modal-dialog{
    width:100%;
}

.close-btn{
    color: green;
}
.onemodule input{
    border: none;
    text-align: center;
}
.table-responsive a:hover{
    cursor: pointer;
}
.modal-content .modal-title {
    margin: 18px 0 11px 0;
    line-height: 1.42857143;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* стили только для IE10 */
    .close-btn{
        color: green;
    }
    .modal button.close {
        height: 21px;
        position: absolute;
        right: 4%;
    }

}