div.ddmenu {
	position: relative;
	z-index: 190;
}

div.ddmenu div.ddmenu-inactive, div.ddmenu div.ddmenu-active {
	position: absolute; 
	z-index:200;
}
div.ddmenu div.ddmenu-inactive {
	display: none; 
}
div.ddmenu div.ddmenu-active {
	display: block; 
	top: 33px;
	background: white;
}

.bx-sm-parent .bx-sm-actions {
	display: none; 
	overflow: hidden;
	position: absolute; 
	z-index:500; 
	top:-14px; 
	height: 17px; 
	right:0; 
}
.bx-sm-feature-noselect .bx-sm-parent .bx-sm-actions {
	top:-14px; 	
}
.bx-sm-feature-select .bx-sm-parent .bx-sm-actions {
	background: url(images/upper-active-fill.gif) repeat-x;
	top:-16px; 
}

#ddmenuadd .bx-sm-feature-noselect .bx-sm-parent .bx-sm-actions {
	top:3px;
	right:-17px;
	height: 31px;
	width: 22px;

}
#ddmenuadd .bx-sm-feature-select .bx-sm-parent .bx-sm-actions {
	top:0px; 
	height: 34px;
	padding-top: 2px;
	width: 22px;
	right:-17px;
}

.bx-sm-parent .bx-sm-parent-button { 
	position: relative; 
	height: 34px; 
}

#ddmenuadd .bx-sm-parent, #ddmenuinact .bx-sm-parent { 
	margin-left: 5px; 
	zoom: 1;
}

#ddmenuadd .bx-sm-parent .bx-sm-header, #ddmenuinact .bx-sm-parent .bx-sm-header { 
	margin-right: 20px;
	padding-left: 20px;	
}

.bx-sm-parent .bx-sm-header {
	max-width: 250px;
	overflow: hidden;
}

.bx-sm-holder-show .bx-sm-parent .bx-sm-header {
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}

.bx-sm-parent .bx-sm-header, .bx-sm-parent-button .bx-sm-header-button  { 
	height: 34px; 
	text-align: center;
}
.bx-sm-feature-noselect .bx-sm-parent .bx-sm-header, .bx-sm-feature-noselect .bx-sm-parent-button .bx-sm-header-button  { 
	margin-right: 2px;
}
.bx-sm-feature-select .bx-sm-parent .bx-sm-header { 
	margin-right: 2px;
}

.bx-sm-feature-select .bx-sm-parent-button .bx-sm-header-button  { 
	margin-right: 2px;
}

.bx-sm-parent a, a.bx-sm-parent, a.bx-sm-parent-button  { 
	display: block; 
	text-decoration: none; 
	font-size: 13px; 
	font-weight: bold; 
	line-height: 34px;
	font-family: Verdana,Arial,Helvetica,sans-serif; 	
}

#ddmenuadd .bx-sm-parent a, #ddmenuadd a.bx-sm-parent, #ddmenuadd a.bx-sm-parent-button, #ddmenuinact .bx-sm-parent a, #ddmenuinact a.bx-sm-parent, #ddmenuinact a.bx-sm-parent-button {
	overflow: hidden;
	width: 150px;
}

.bx-sm-feature-select .bx-sm-parent a, .bx-sm-feature-select a.bx-sm-parent, .bx-sm-feature-select a.bx-sm-parent-button  { 
	color: #000000;
	decoration: none;
}
.bx-sm-feature-select .bx-sm-parent a:visited, .bx-sm-feature-select a.bx-sm-parent:visited, .bx-sm-feature-select a.bx-sm-parent-button:visited  { 
	color: #000000;
	decoration: none;
}
.bx-sm-feature-select .bx-sm-parent a:hover, .bx-sm-feature-select a.bx-sm-parent:hover, .bx-sm-feature-select a.bx-sm-parent-button:hover  { 
	color: #000000;
	decoration: none;
}

.bx-sm-feature-noselect .bx-sm-parent a, .bx-sm-feature-noselect a.bx-sm-parent, .bx-sm-feature-noselect a.bx-sm-parent-button  { 
	decoration: none;
}
.bx-sm-feature-noselect .bx-sm-parent a:visited, .bx-sm-feature-noselect a.bx-sm-parent:visited, .bx-sm-feature-noselect a.bx-sm-parent-button:visited  { 
	decoration: none;
}
.bx-sm-feature-noselect .bx-sm-parent a:hover, .bx-sm-feature-noselect a.bx-sm-parent:hover, .bx-sm-feature-noselect a.bx-sm-parent-button:hover{ 
	decoration: none;
}

.bx-sm-actions-separator { 
	width: 1px; 
	float: left;
}
.bx-sm-feature-noselect .bx-sm-actions-separator { 
	height: 17px; 
	background: url(images/upper-passive-separator.gif) no-repeat center center; 
}
.bx-sm-feature-select .bx-sm-actions-separator { 
	height: 18px; 
	background: url(images/upper-active-separator.gif) no-repeat center center; 
}

#ddmenuadd .bx-sm-actions-separator { 
	height: 1px; 
	font-size: 1px;
	position: relative; 
}
#ddmenuadd .bx-sm-feature-noselect .bx-sm-actions-separator { 
	background: url(images/upper-passive-separator-horizontal.gif) no-repeat center center; 
	width: 17px;	
	top: 13px;
	right: -5px;
}
#ddmenuadd .bx-sm-feature-select .bx-sm-actions-separator { 
	background: url(images/upper-active-separator-horizontal.gif) no-repeat center center; 
	width: 14px;
	top: 13px;
	right: -4px;
}

.bx-sm-actions-left { 
	width: 2px; 
	float: left;
}
.bx-sm-feature-noselect .bx-sm-actions-left { 
	height: 17px; 
}
.bx-sm-feature-select .bx-sm-actions-left { 
	height: 18px; 
	background: url(images/upper-active-left.gif) no-repeat center center; 
}

#ddmenuadd .bx-sm-actions-left { 
	position: absolute;
	font-size: 1px;
	right: 16px;
}
#ddmenuadd .bx-sm-feature-noselect .bx-sm-actions-left { 
	width: 1px; 
	height: 31px; 
	background: #dadada;
}
#ddmenuadd .bx-sm-feature-select .bx-sm-actions-left { 
	width: 0px; 
	height: 0px; 
}

.bx-sm-actions-right { 
	width: 2px; 
	float: left;
}
.bx-sm-feature-noselect .bx-sm-actions-right { 
	height: 17px; 
}
.bx-sm-feature-select .bx-sm-actions-right { 
	height: 18px; 
	background: url(images/upper-active-right.gif) no-repeat center center; 
}

#ddmenuadd .bx-sm-actions-right { 
	width: 0px; 
	position: absolute;
}
#ddmenuadd .bx-sm-feature-noselect .bx-sm-actions-right { 
	height: 17px; 
}
#ddmenuadd .bx-sm-feature-select .bx-sm-actions-right { 
	height: 18px; 
	background: url(images/upper-active-right.gif) no-repeat center center; 
}

a.bx-sm-actions-button, a.bx-sm-actions-button:hover
{
	width:17px; 
	height:17px;
}
#ddmenuadd a.bx-sm-actions-button, #ddmenuadd a.bx-sm-actions-button:hover
{
	height:14px;
	font-size: 1px;
	position: absolute;
}
#ddmenuadd .bx-sm-feature-select a.bx-sm-actions-button, #ddmenuadd .bx-sm-feature-select a.bx-sm-actions-button:hover
{
	width:17px; 
}
#ddmenuadd .bx-sm-feature-noselect a.bx-sm-actions-button, #ddmenuadd .bx-sm-feature-noselect a.bx-sm-actions-button:hover
{
	width:14px; 
}



.bx-sm-parent a.bx-sm-actions-button, .bx-sm-parent a.bx-sm-actions-button:hover {
	overflow:hidden; 
	float: left;
}

#ddmenuadd .bx-sm-parent a.bx-sm-actions-button, #ddmenuadd  .bx-sm-parent a.bx-sm-actions-button:hover {
	overflow:hidden; 
	float: none;
}

a.bx-sm-settings { background: url(images/action-arrow-light.gif) center center no-repeat; }
#ddmenuadd a.bx-sm-settings {	background: url(images/action-arrow-light.gif) 3px -2px no-repeat; top: 1px; right: 3px;}
a.bx-sm-remove {	background: url(images/action-delete-light.gif) center center no-repeat; }
#ddmenuadd a.bx-sm-remove {	background: url(images/action-delete-light.gif) 3px -2px no-repeat; right: 3px;}
#ddmenuadd .bx-sm-feature-select a.bx-sm-remove { top: 17px; }
#ddmenuadd .bx-sm-feature-noselect a.bx-sm-remove { top: 14px; }



a.bx-sm-plus {	background: url(images/action-plus-light.gif) center center no-repeat; }
a.bx-sm-plus:hover  { background: url(images/action-plus-dark.gif) center center no-repeat; }

a.bx-sm-settings:hover {	background: url(images/action-arrow-dark.gif) center center no-repeat; }
#ddmenuadd a.bx-sm-settings:hover {	background: url(images/action-arrow-dark.gif) 3px -2px no-repeat; }
a.bx-sm-remove:hover  { background: url(images/action-delete-dark.gif) center center no-repeat; }
#ddmenuadd a.bx-sm-remove:hover {	background: url(images/action-delete-dark.gif) 3px -2px no-repeat; }


.bx-sm-ddmenu-top-left { 
	background: url(images/white-corners-up.gif) no-repeat left; 
}
.bx-sm-ddmenu-top-right  { 
	background: url(images/white-corners-up.gif) no-repeat right; 
	margin-left: 2px;
	height: 2px;
	font-size: 1px;
}

.bx-sm-ddmenu-bottom-left { 
	background: url(images/white-corners-bottom.gif) no-repeat left; 
}
.bx-sm-ddmenu-bottom-right  { 
	background: url(images/white-corners-bottom.gif) no-repeat right; 
	margin-left: 2px;
	height: 2px;
	font-size: 1px;
}

.bx-sm-ddmenu-middle-left { 
	background: url(images/white-corners-middle.gif) repeat-y left; 
}
.bx-sm-ddmenu-middle-right  { 
	background: url(images/white-corners-middle.gif) repeat-y right; 
	margin-left: 2px;
	padding-right: 7px;	
	padding-top: 5px;	
}
#ddmenuadd .bx-sm-ddmenu-middle-right  { 
	padding-right: 24px;	
	margin-left: 5px;
}

#ddmenuadd .bx-sm-ddmenu-middle-right-regular { 
	background: url(images/white-corners-middle.gif) repeat-y right; 
	margin-left: 2px;
	padding-right: 7px;	
	padding-top: 5px;	
}

.bx-sm-leftshadow {
	background: url(images/left-shadow.gif) no-repeat left bottom; 
}
.bx-sm-rightshadow {
	background: url(images/right-shadow.gif) no-repeat left bottom; 
}
.bx-sm-rightline {
	background: url(images/right-line.gif) no-repeat left bottom; 
}

.bx-sm-item-add {
	width: 11px;
	height: 17px;	
	margin-left:5px;
	margin-right:5px;	
	position: relative;
	top: 10px;
	left: 1px;	
}
.bx-sm-feature-noselect .bx-sm-item-add {
	background: url(images/action-sprite.gif) no-repeat -33px 0; 
}
.bx-sm-feature-select .bx-sm-item-add {
	background: url(images/action-sprite.gif) no-repeat -33px -17px; 
}

.bx-sm-item-inactive {
	width: 11px;
	height: 17px;	
	margin-left:5px;
	margin-right:5px;	
	position: relative;
	top: 10px;
	left: 1px;	
}
.bx-sm-feature-noselect .bx-sm-item-inactive {
	background: url(images/action-sprite.gif) no-repeat -11px 0; 
}
.bx-sm-feature-select .bx-sm-item-inactive {
	background: url(images/action-sprite.gif) no-repeat -11px -17px; 
}

.bx-sm-item-clear {
	width: 11px;
	height: 17px;	
	margin-left:5px;
	margin-right:5px;	
	position: relative;
	top: 10px;
	left: 1px;	
}
.bx-sm-feature-noselect .bx-sm-item-clear {
	background: url(images/action-sprite.gif) no-repeat -22px 0; 
}
.bx-sm-feature-select .bx-sm-item-clear {
	background: url(images/action-sprite.gif) no-repeat -22px -17px; 
}

.bx-sm-item-settings {
	width: 11px;
	height: 17px;	
	margin-left:5px;
	margin-right:5px;	
	position: relative;
	top: 10px;
	left: 1px;	
}
.bx-sm-feature-noselect .bx-sm-item-settings {
	background: url(images/action-sprite.gif) no-repeat 0 0; 
}
.bx-sm-feature-select .bx-sm-item-settings {
	background: url(images/action-sprite.gif) no-repeat 0 -17px; 
}
.bx-sm-dotted {
	border: 1px #b9b9b9 dashed;
	width: 100px;
	height: 32px;
}
.form_soc_menu table td{
	padding: 0;
}
.form_soc_menu table td, .form_soc_menu table tr{
	border: none;
}
.form_soc_menu div.bx-sm-parent{
	background: none;
}
.form_soc_menu .bx-sm-parent:hover a{
	background: none;
	outline: 1px solid #b9b9b9;
}
.soc table.gadgetholder th, .soc table.gadgetholder td {
	padding: 0;
	border: none;
	vertical-align: top;
}