body{
    font-family: "PT Sans", sans-serif;    
    font-size: 14px;
}

form{
	/*padding: 50px 0;*/
}

form button,
form button.btn-default{
    margin-top: 20px;    
    color: #980000;
    background-color: #ffffff;
    border-color: #980000;    
    /*border-radius: 0;*/
}

form button:focus,
form button.btn-default:focus{
    background-color: #ffffff;
    border-color: #980000;
    color: #980000;
    outline: none;
}

section{
    display: none;
}

section.register_step{
    display: block;
}

h3{
    font-size: 26px;
    color: #000;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 35px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

main{
    width: 980px;
    margin: 0 auto;
    position: relative;
    z-index: auto;
}

section{
    max-width: 400px;
}
/*
.AddOtherDocuments .btn:focus,    
.AddOtherDocuments .btn:hover{    
    border-color: #fff;    
    color: #fff;
    background: #6c757d;
}*/

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #501619;
}

.custom-control-label::before:focus{
    outline: none;
    box-shadow: none;

}

.card-body{
    padding: 20px 0;
    border: 0;
}

.addfamilymember-block,
.add-block-form{
    padding: 20px;
    background: #fff;
/*    border-radius: 4px;
    background-color: #f8f2d7; */   
    max-width: 450px;
    margin: 20px 0;
    display: none;
}

.message-parent{
    border: 1px red solid;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 14px;
    border-radius: 4px;
}

.message-parent svg{
    margin-right: 10px;
    color: red;
}

.form-control{
    max-width: 462px;
    /*border-radius: 0;*/
}

.form-control.error{
    border: 1px solid #980000;
}

.addstatement_form{
    display: none;
}

.series,
.series-documenttype2.hide-block{
    display: none;
}

.gender #customRadio-error{
    visibility: hidden;
    height: 0;
    width: 0;    
    position: absolute;
}

.gender span.error{
    display: none;
}

.gender #customRadio-error ~ span.error{
    font-weight: 500;
    color: red;
    font-size: 12px;
    margin-bottom: 0;
    display: block;
    margin-left: 0;
}

.gender .custom-control span{
    margin: 0 15px 0 5px;
}

.documenttype2,.number-documenttype2{
    display: none;
}

.documenttype2{
    border-top: 1px #980000 dashed;
    max-width: 462px;
    padding-top: 20px;
}

.number-documenttype2{
    border-bottom: 1px #980000 dashed;
    max-width: 462px;
    padding-bottom: 20px;
}

.DeleteDynamicExtraField,
.deleteLang,
.DeleteOtherDoc{
    background: url(../images/close.png) center center no-repeat;
    background-size: 20px;
    max-width: 15px;
    max-height: 15px;
    border: 0;
    box-shadow: none;
    float: right;
    padding: 5px;    
    margin-bottom: 10px;
}

.DynamicExtraField .form-control,
.OtherDocumentBlock .form-control,
.AdditionalLang .form-control {
    max-width: 400px;
}

.DynamicExtraField,
.AdditionalLang,
.addfamilymember-block, 
.add-block-form,
.ege-group{
    padding: 35px 34px 20px;
    margin: 20px 0;
    max-width: 462px;
    background: #dadada52;
}

.OtherDocumentBlock{
    padding: 35px 34px 20px 15px;
    margin: 20px 0;    
    background: #dadada52;
    overflow: hidden;
}

.person-document-block,
.education-document-block{
    background: #dadada52;
    padding: 30px 15px 20px;
    margin: 30px 0 0;
}

.maritalstatus-buffer,
.other-documents-types,
.lang-buffer{
    visibility: hidden;
    height: 0;
    position: absolute;
}

.maritalstatus,
.add-lang,
.other-documents{
    margin-bottom: 15px;
}

.form-horizontal .form-group.form-date>p{
    font-size: 12px;
    color: red;   
    margin-top: 4px;
}

.form-horizontal .form-group.form-date>p.hide-message,
.message-parent,
.ege-group{
    display: none;
}

.lang-check{
    margin-left: 10px;
}

.ege-check{
    font-weight: 500;
    margin-left: 5px;
}

.nav-btn{
    display: inline-flex;
}

.msf-nav-button svg{
    margin: 0 5px;    
    font-size: 10px;
}

/*----------------------------- file uploader --------------------------------*/

.input-file-container {
  position: relative;
} 

.input-file-container>span{
    font-weight: 700;
    color: #000;
    margin-bottom: 5px;
    display: block;
}

.js .input-file-trigger,
.input-file-container>label {
    display: block;
    padding: 14px 25px;
    background: #980000;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    max-width: 195px;
}

.input-file-container>label svg{
  margin-right: 10px;
}

.js .input-file,
.input-file-container input {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return,
.file-result {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.input-file-trigger svg{
    margin-right: 20px;
}

/* Useless styles, just for demo styles */

.education-doc-fields>div,
.OtherDocumentBlock>div{
  margin: 15px 0 0;
  padding-left: 0;
}

#other-documents{
    padding-left: 0;
    padding-right: 0;
}