.msf-view {
    display: none;
}

.form-horizontal .form-group>span{
    display: none;
}

.form-group,
.form-horizontal .form-group {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

.form-group.form-check{
    /*margin-bottom: 0;*/
}

.form-horizontal .form-group .input-validation-error ~ span{
    display: block;
    color: red;
    margin-top: 3px;
    font-size: 12px;
    position: absolute;
}

.msf-content{
    min-height: 300px;
}

.msf-navigation {
    text-align: center;
    padding: 0 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top: 30px;
    margin-bottom: 30px;
}

.msf-nav-button {
    display: none;
}

.msf-header {
    padding-top: 10px;
    margin-bottom: 40px;
    color: #ccc;   
    padding-left: 15px;
}

.msf-header .msf-step {
/*    margin-right: 10px;
    font-size: 12px;
    display: inline-flex;
    display: inline-flex;
    vertical-align: middle;
    display: table-cell;
    display: inline;
    background: #999999bd;
    line-height: normal;
    padding: 6px 38px;
    margin: 0px;
    width: 100%;
    font-weight: 700;    */
    margin-right: 10px;
    font-size: 11px;
    display: inline-flex;
    vertical-align: middle;
    display: table-cell;
    display: inherit;
    background: #999999bd;
    line-height: normal;
    padding: 5px 10px;
    margin: 0px;
    /* width: 100%; */
    font-weight: 500;
    display: inline-flex;
}

.msf-header .msf-step i.fa {
    height: 30px;
    width: 30px;
    line-height: 24px;
    text-align: center;
    border: 3px solid #777;
    border-radius: 100%;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.msf-header .msf-step.msf-step-complete {
    color: #fff;
    background: #999;
}

.msf-header .msf-step.msf-step-complete i.fa {
    border-color: green;
}

.msf-header .msf-step.msf-step-incomplete {
    color:red;
    color:#fff;
}

.msf-header .msf-step.msf-step-incomplete i.fa {
    border-color: red;
}

.msf-header .msf-step.msf-step-active,
.msf-header .msf-step.msf-step-active.msf-step-complete,
.msf-header .msf-step.msf-step-active.msf-step-incomplete {
    color: #fff;
    text-align: left;
}


.msf-header .msf-step.msf-step-active i.fa,
.msf-header .msf-step.msf-step-active.msf-step-complete i.fa,
.msf-header .msf-step.msf-step-active.msf-step-incomplete i.fa  {
    border-color: blue;
}     


.input-validation-error {
    border-color: red;
    outline: 0;
}

.input-validation-error:focus {
    border-color: red;
    outline: 0;
}

.progress {
    height: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar-success {
    background-color: #ddd;
}

.form-check-label,
label{
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.form-check-label,
.custom-control-label[for='emptyDocuments'],
.custom-checkbox,
.custom-control-label{
    font-weight: 500;
}

.form-check-label[for='DocumentType2']{
    font-weight: 700;
}

label.error{
    font-weight: 500;
    color: #980000;
    font-size: 12px;
    margin-bottom: 0;    
    width: 100%;
}

.msf-navigation .btn-primary,
#registrationbtn{
    color: #fff;
    background-color: #980000;
    border-color: #980000;
}