body{
    font-family: "PT Sans", sans-serif;    
    font-size: 14px;
}

form{
	/*padding: 50px 0;*/
}

form button,
form button.btn-default{
    margin-top: 20px;    
    color: #980000;
    background-color: #ffffff;
    border-color: #980000;    
    /*border-radius: 0;*/
}

form button:focus,
form button.btn-default:focus{
    background-color: #ffffff;
    border-color: #980000;
    color: #980000;
    outline: none;
}

#wrapper section{
    display: none;
}

#wrapper section.register_step{
    display: block;
}

h3{
    font-size: 26px;
    color: #000;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 35px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

main{
    width: 980px;
    margin: 0 auto;
    position: relative;
    z-index: auto;
}

#wrapper section{
    max-width: 400px;
}
/*
.AddOtherDocuments .btn:focus,    
.AddOtherDocuments .btn:hover{    
    border-color: #fff;    
    color: #fff;
    background: #6c757d;
}*/

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #501619;
}

.custom-control-label::before:focus{
    outline: none;
    box-shadow: none;

}

.card-body{
    padding: 20px 0;
    border: 0;
}

.addfamilymember-block,
.add-block-form{
    padding: 20px;
    background: #fff;
/*    border-radius: 4px;
    background-color: #f8f2d7; */   
    max-width: 450px;
    margin: 20px 0;
    display: none;
}

.message-parent{
    border: 1px red solid;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 14px;
    border-radius: 4px;
}

.message-parent svg{
    margin-right: 10px;
    color: red;
}

.form-control{
    max-width: 462px;
    /*border-radius: 0;*/
}

.form-control.error,
.field input.kladr-error{
    border: 1px solid #980000;
}

.addstatement_form{
    display: none;
}

/*.series,*/
.series-documenttype2.hide-block{
    display: none;
}

.gender #customRadio-error{
    visibility: hidden;
    height: 0;
    width: 0;    
    position: absolute;
}

.gender span.error,
.documenttype2-block{
    display: none;
}

.gender #customRadio-error ~ span.error{
    font-weight: 500;
    color: red;
    font-size: 12px;
    margin-bottom: 0;
    display: block;
    margin-left: 0;
}

.gender .custom-control span{
    margin: 0 15px 0 5px;
}

.documenttype2,.number-documenttype2{
    /*display: none;*/
}



.documenttype2{
/*    border-top: 1px #980000 dashed;
    padding-top: 20px;*/
    max-width: 462px;
}

.number-documenttype2{
/*    border-bottom: 1px #980000 dashed;
    padding-bottom: 20px;*/
    max-width: 462px;
}

.DeleteDynamicExtraField,
.deleteLang,
.DeleteOtherDoc{
    background: url(../images/close.png) left 8px no-repeat;
    background-size: 17px;
    max-width: 106px;
    max-height: 38px;
    border: 0;
    box-shadow: none;
    float: right;
    padding: 5px 0 5px 21px;
    margin-bottom: 10px;
}

.DynamicExtraField .form-control,
.OtherDocumentBlock .form-control,
.AdditionalLang .form-control {
    max-width: 400px;
}

.DynamicExtraField,
.AdditionalLang,
.addfamilymember-block, 
.add-block-form/*,
.ege-group*/{
    padding: 7px 12px 20px 34px;
    margin: 20px 0;
    max-width: 462px;
    background: #dadada52;
}

#addstatement_form{
    padding: 34px;
}

.ege-group label.ege-label{
    float: left;
    padding-top: 7px;
    width: 142px;
}

.ege-ducument{
    max-width: 633px;
    width: 100%;
    margin-bottom: 20px;
}

.ege-ducument .sub-information,
.document-examples{
    color: #980000;
    margin-bottom: 20px;
    font-size: 13px;
}

.document-examples a{
    color: #980000;
    text-decoration: underline;
}

.OtherDocumentBlock{
    padding: 35px 34px 20px 15px;
    margin: 20px 0;    
    background: #dadada52;
    overflow: hidden;
}

.person-document-block,
.education-document-block{
    background: #dadada52;
    padding: 30px 15px 20px;
    margin: 30px 0 0;
}

.person-document-block{
    margin-top: 0;
}

.maritalstatus-buffer,
.other-documents-types,
.lang-buffer{
    visibility: hidden;
    height: 0;
    position: absolute;
}

.maritalstatus,
.add-lang,
.other-documents{
    margin-bottom: 15px;
}

.form-horizontal .form-group.form-date>p{
    font-size: 12px;
    color: red;   
    margin-top: 4px;
}

.form-horizontal .form-group.form-date>p.hide-message,
.message-parent{
    display: none;
}

.lang-check{
    margin-left: 5px;
    margin-right: 20px;
}

.ege-check{
    font-weight: 500;
    margin-left: 5px;
}

.nav-btn{
    display: inline-flex;
}

.msf-nav-button svg{
    margin: 0 5px;    
    font-size: 10px;
}

/*----------------------------- file uploader --------------------------------*/

.input-file-container {
    position: relative;    
} 

.person-document-block .input-file-container {
    display: flex;
    display: inline-block;
    width: 100%;
}

.person-document-block .series-document-type{
    padding-left: 0;
}

.input-file-container>span{
    font-weight: 700;
    color: #000;
    margin-bottom: 5px;
    display: block;
}

.js .input-file-trigger,
.input-file-container>label {
    display: block;
    padding: 14px 25px;
    background: #980000;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    max-width: 195px;    
    width: 100%;
}

.input-file-container>label svg{
  margin-right: 10px;
}

.js .input-file,
.input-file-container input {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return,
.file-result {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.input-file-trigger svg{
    margin-right: 20px;
}

/* Useless styles, just for demo styles */

.education-doc-fields>div,
.OtherDocumentBlock>div{
  margin: 15px 0 0;
  padding-left: 0;
}

#other-documents{
    padding-left: 0;
    padding-right: 0;
}

.lastname_ch>input,
.patronymic_ch>input,
.firstname_ch>input,
.firstname_ch2>input,
.lastname_ch2>input,
.patronymic_ch2>input{
    max-width: 353px;
    display: inline-flex;
    margin-right: 10px;
}

.firstname_ch2_check,
.firstname_ch2_field{
    display: inline-flex;
    max-width: 353px;
}

.firstname_ch2_field{
    width: 353px;
}

.firstname_ch2_check{
    font-size: 90%;
}

.firstname_ch2_check input{
    margin-right: 5px;
}

.firstname_ch2 .error{
    /*display: block;*/
    margin-top: 3px;
}

.small, small {
    font-size: 90%;
    /*padding-left: 10px;*/
}

#formmsf,.continue-block{
    display: none;
}

.continue-block{
    text-decoration: underline;
    cursor: pointer;
}

.docsgivemyself{
    visibility: hidden;
    height: 0;
    margin-bottom: 0;
}

.documents-requests#upload-documents{
    padding-left: 0;
}

.documents-requests#upload-documents > div:nth-child(1){
    padding-left: 0;
}

.registration-block span.error{
    display: none;
    font-weight: 500;
    color: #980000;
    font-size: 12px;
    margin-bottom: 0;
    width: 100%;
}

.registration-block span.error.active-label{
    display: block;
}

span.important-label {
    font-weight: 500;
    color: #980000;
    font-size: 12px;
    margin-bottom: 0;
    width: 100%;
    display: none;
}
.kladr-block label.error{
    /*display: none !important;*/
    visibility: hidden;
    position: absolute;
}
/*
.registration-block input.kladr-error + span{
    display: block;
}*/

@media (max-width: 768px) {
    .msf-header .msf-step{
        margin: 2px 0;
    }

    .documents-requests#upload-documents > div{
        padding-left: 0;
    }
}

@media (max-width: 480px) {
    .msf-header .msf-step{
        width: 48%;
    }
}

@media (max-width: 375px) {
    .msf-header .msf-step{
        width: 100%;
    }

    .msf-header{
        padding: 0;
    }
}