.msal-main__news-sections .msal-main__navigation {
    /*position: absolute;*/
    max-width: 100%;
    margin: 0;
    text-align: center;
}
.msal-main__news-sections .msal-main__navigation ul{
    padding-left: 22px;
}