body, input {
    color: #555;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

input, button {
    outline: none;
}

.address {
    width: 400px;
    margin: 40px auto 0;
    padding: 40px 40px 20px;
    border: 2px solid #e1e1e1;
    background-color: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.075) 1px 1px 5px;
}

.address h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.field label {
    display: inline-block;
    /*width: 80px;*/
    vertical-align: middle;
}

.field {
    margin-bottom: 20px;
    padding: 0;
}

.field input {
    height: 2em;
    width: 295px;
    border: 1px solid #d8d8d8;
    padding: 0 7px;
    color: #666;
}

.field input.kladr-error {
    /*color: #cb3e27;*/
}

.tooltip {
    position: absolute;
    top: 16px;
    left: 360px;
    width: 120px;
    color: #b94a48;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #eed3d7;
    background-color: #f2dede;
    opacity: 0.8;
}

.tooltip b {
    position: absolute;
    display: block;
    left: -14px;
    width: 0;
    height: 0;
    color: transparent;
    border: 7px solid;
    border-right-color: #f2dede;
}