.uploaded{
	display: inline-block;
	    vertical-align: top;
}
div.inner_page_content table tbody tr:nth-child(2n + 1) td {
    background-color: #f8f2d7;
    vertical-align: top;
}
.file-selectdialog .file-extended .file-uploader .file-but-text {
    color: #b20000;
}
.file-selectdialog div.file-simple, .file-selectdialog div.file-extended{
	/*margin-left: 0;*/
	margin-top: 30px;
}
.file-selectdialog div.file-placeholder{
	margin-left: 0;
}
.file-placeholder .files-storage-block .del-but{
	right: 10px;
}
div.inner_page_content table tbody tr td{
	border: none;
}
.data-table input[type=submit],
.data-table input[type=button]{
	font-weight: bold;
	    font-family: "PT Sans", serif;
	    text-transform: uppercase;
	    background-color: #980000;
	    border-width: 0;
	    color: #ffffff;
	    border-radius: 4px;
	    padding: 7px 30px;
	    cursor: pointer;
	    font-size: 14px;
		padding-right: 15px;
		padding-left: 15px;
		margin-top: 20px;
}
.data-table tfoot td{
	border:none; 
}